.vectorIcon {
  position: absolute;
  height: 97.37%;
  width: 97.37%;
  top: 0.66%;
  right: 1.97%;
  bottom: 1.97%;
  left: 0.66%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  transform: rotate(180deg);
}
.navRightsvgFill,
.path2Icon {
  overflow: hidden;
  cursor: pointer;
}
.path2Icon {
  position: absolute;
  height: 21.05%;
  width: 10.53%;
  top: -61.84%;
  right: 142.98%;
  bottom: 140.79%;
  left: -53.51%;
  max-width: 100%;
  max-height: 100%;
  transform: rotate(180deg);
}
.navRightsvgFill {
  width: 45.6px;
  position: relative;
  height: 45.6px;
  flex-shrink: 0;
  transform: rotate(-180deg);
}
.n {
  text-transform: uppercase;
}
.avigateOurOther {
  text-transform: lowercase;
}
.faq {
  width: 327.3px;
  position: relative;
  letter-spacing: 2.53px;
  line-height: 26.99px;
  display: inline-block;
  flex-shrink: 0;
}
.path2Icon1,
.vectorIcon1 {
  position: absolute;
  height: 97.37%;
  width: 97.37%;
  top: 1.32%;
  right: -0.44%;
  bottom: 1.32%;
  left: 3.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.path2Icon1 {
  height: 21.05%;
  width: 10.53%;
  top: 41.23%;
  right: 43.86%;
  bottom: 37.72%;
  left: 45.61%;
  cursor: pointer;
}
.navRightsvgFill1 {
  width: 45.6px;
  position: relative;
  height: 45.6px;
  overflow: hidden;
  flex-shrink: 0;
  cursor: pointer;
}
.arrow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-300);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 420px) {
  .faq {
    font-size: var(--font-size-sm);
  }
}
