@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.enquiryType {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  font-weight: 600;
  font-family: inherit;
}
.enquiryTypeWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.333333015441895px;
  font-size: var(--font-size-xl);
}
.general {
  width: 69.2px;
  position: relative;
  letter-spacing: 0.04em;
  display: inline-block;
  flex-shrink: 0;
}
.business,
.generalWrapper {
  flex: 1;
  border-radius: 16.67px;
  border: 0.8px solid var(--color-darkslategray-400);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.333333015441895px 35.83333206176758px;
}
.business {
  border: 0.8px solid var(--color-darkgoldenrod);
}
.contactFormChild,
.frameInput,
.frameParent,
.frameTextarea {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  color: var(--color-gray-300);
}
.contactFormChild,
.frameInput,
.frameTextarea {
  border: 0.8px solid var(--color-darkslategray-400);
  outline: 0;
  font-family: var(--font-poppins);
  background-color: transparent;
  overflow: hidden;
  align-items: center;
  color: var(--color-gray-800);
}
.contactFormChild {
  font-size: var(--font-size-sm-3);
  border-radius: var(--br-6xl);
  padding: 14.166666030883789px var(--padding-3xl-5);
}
.frameInput,
.frameTextarea {
  font-size: var(--font-size-xs-7);
  border-radius: 24.17px;
  box-sizing: border-box;
  height: 53.3px;
  flex-shrink: 0;
  padding: var(--padding-3xs) 14.166666030883789px;
}
.frameTextarea {
  font-size: var(--font-size-sm-3);
  border-radius: 18.33px;
  height: 130.8px;
  align-items: flex-start;
  padding: 13.333333015441895px var(--padding-3xl-5);
}
.send {
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
}
.send:hover {
  color: var(--color-gray-500);
}
.sendWrapper {
  border-radius: 20.83px;
  background: linear-gradient(102.84deg, #449341, #bdb32c);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.333333015441895px 20.833332061767578px;
}
.sendWrapper:hover {
  background-color: var(--color-white);
}
.contactForm,
.frameDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameDiv {
  align-self: stretch;
  color: var(--color-white);
}
.contactForm {
  flex: 1;
  border-radius: 30.83px;
  background-color: var(--color-whitesmoke-200);
  border: 0.8px solid var(--color-gray-200);
  overflow: hidden;
  padding: 15.833333015441895px var(--padding-mini);
  gap: 29.17px 0;
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.contactForm.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
@media screen and (max-width: 1200px) {
  .contactForm {
    flex: unset;
    align-self: stretch;
  }
}
