@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.gradientmsgChild {
  width: 466.7px;
  position: relative;
  height: 358.8px;
  object-fit: cover;
}
.weSupportAgribusinessContainer {
  align-self: stretch;
  height: 126px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 41.67px;
  text-transform: capitalize;
  display: inline-block;
  opacity: 1;
}
.weSupportAgribusinessContainer.animate {
  animation: 3s ease 0s 1 normal forwards scale-up;
}
.arrowIcon,
.viewProducts {
  position: relative;
  cursor: pointer;
}
.arrowIcon {
  width: 11.7px;
  max-width: 100%;
  overflow: hidden;
  height: 12.3px;
}
.viewProducts {
  text-transform: uppercase;
  font-weight: 600;
}
.vectorParent {
  border: 2.5px solid var(--color-seagreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20.836627960205078px 33.33860397338867px;
  gap: 0 8.33px;
  cursor: pointer;
}
.weSupportAgribusinessIndustParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 16.669301986694336px;
  gap: 41.67px 0;
}
.gradientmsg,
.gradientmsgWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 16.669301986694336px;
}
.gradientmsgWrapper {
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.334650993347168px;
}
.base {
  width: 416.7px;
  position: relative;
  background-color: var(--color-goldenrod-300);
  height: 8.3px;
}
.cta {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 50.00790786743164px 166.69302368164062px;
  z-index: 6;
  text-align: left;
  font-size: var(--font-size-smi-5);
  color: var(--color-darkslategray-100);
  font-family: var(--font-lexend-deca);
}
