@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.baseIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 25.84px;
  width: 264.2px;
  height: 310.9px;
  object-fit: cover;
}
.rectangle {
  border-radius: 25.84px;
  background-color: var(--color-darkslateblue);
  box-shadow: 0 20px 40.01px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(54.37px);
  border: 0.8px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block1,
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 264.5px;
  height: 84.2px;
}
.snrTechnologyLead,
.xoseAhlijahSwe {
  position: absolute;
  top: 0;
  left: calc(50% - 100.45px);
  letter-spacing: -0.01em;
  line-height: 33.34px;
  text-transform: capitalize;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 200.9px;
  height: 24.4px;
}
.snrTechnologyLead {
  top: 26.5px;
  left: calc(50% - 86.65px);
  line-height: 25px;
  font-weight: 500;
  background: linear-gradient(89.38deg, #e3ef62, #a78f0c 73.18%, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 156.7px;
  height: 18.3px;
}
.xoseAhlijahSweParent {
  position: absolute;
  top: 16.3px;
  left: calc(50% - 100.15px);
  width: 200.9px;
  height: 44.8px;
}
.block1Parent {
  position: absolute;
  top: 262.6px;
  left: 0;
  width: 264.5px;
  height: 84.2px;
}
.xorse,
.xoseAhlijaTeam {
  width: 264.5px;
  height: 346.8px;
}
.xoseAhlijaTeam {
  position: absolute;
  top: 0;
  left: 0;
}
.xorse {
  position: relative;
}
.castro:hover,
.xorse:hover {
  animation: 2s ease 1s 1 normal none scale-up;
  opacity: 1;
}
.baseIcon1 {
  position: absolute;
  top: 0;
  left: 0.2px;
  border-radius: var(--br-6xl);
  width: 319.3px;
  height: 361.1px;
  object-fit: cover;
}
.block11,
.rectangle1 {
  position: absolute;
  left: 0;
  width: 319.3px;
  height: 100px;
}
.rectangle1 {
  top: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-dimgray-200);
  box-shadow: 0 20px 40.01px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(54.37px);
  border: 0.8px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block11 {
  top: 314.3px;
}
.castroAntwiDanso,
.generalManager {
  position: absolute;
  top: 0;
  left: calc(50% - 112.7px);
  letter-spacing: -0.01em;
  line-height: 33.34px;
  text-transform: capitalize;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 225.4px;
  height: 28.4px;
}
.generalManager {
  top: 24.8px;
  left: calc(50% - 65.2px);
  line-height: 25px;
  font-weight: 500;
  background: linear-gradient(90.39deg, #dae924, rgba(240, 192, 39, 0.95));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 130px;
  height: 21.7px;
}
.castroAntwiDansoParent {
  position: absolute;
  top: 336.1px;
  left: calc(50% - 109.55px);
  width: 225.4px;
  height: 46.5px;
}
.castro {
  width: 319.5px;
  position: relative;
  height: 414.3px;
}
.baseIcon2,
.rectangle2 {
  border-radius: var(--br-6xl);
}
.baseIcon2 {
  position: absolute;
  top: 0;
  left: 0.2px;
  width: 280.3px;
  height: 302.1px;
  object-fit: cover;
}
.rectangle2 {
  background-color: var(--color-darkslateblue);
  box-shadow: 0 20px 40.01px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(54.37px);
  border: 0.8px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block12,
.rectangle2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 280.3px;
  height: 91.8px;
}
.dataAnalyst,
.otisAApaloo {
  position: absolute;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.otisAApaloo {
  top: 0;
  left: calc(50% - 95.35px);
  line-height: 33.34px;
  font-weight: 800;
  width: 190.7px;
  height: 25.8px;
}
.dataAnalyst {
  top: 30.1px;
  left: 47.4px;
  line-height: 25px;
  font-weight: 500;
  background: linear-gradient(88.74deg, #eed920, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 106.4px;
  height: 19.5px;
}
.otisAApalooParent {
  position: absolute;
  top: 16.7px;
  left: calc(50% - 93.95px);
  width: 190.7px;
  height: 49.7px;
}
.block1Group {
  position: absolute;
  top: 255px;
  left: 0;
  width: 280.3px;
  height: 91.8px;
}
.ottisApalooTeam {
  width: 280.5px;
  position: relative;
  height: 346.8px;
  font-size: 15.8px;
}
.ottisApalooTeam:hover {
  animation: 2s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.cardgropupo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 250.03952026367188px;
  gap: 0 12.5px;
  opacity: 1;
  z-index: 5;
  text-align: left;
  font-size: var(--font-size-mini);
  font-family: var(--font-lexend-deca);
}
.cardgropupo.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
