@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.baseIcon,
.rectangle {
  border-radius: var(--br-12xl);
}
.baseIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 317px;
  height: 373px;
  object-fit: cover;
}
.rectangle {
  background-color: var(--color-darkslateblue);
  box-shadow: 0 24px 48px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(65.24px);
  border: 1px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block1,
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 317.4px;
  height: 101px;
}
.snrTechnologyLead,
.xoseAhlijahSwe {
  position: absolute;
  top: 0;
  left: calc(50% - 120.55px);
  letter-spacing: -0.01em;
  line-height: 40px;
  text-transform: capitalize;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 241.1px;
  height: 29.3px;
}
.snrTechnologyLead {
  top: 31.8px;
  left: calc(50% - 104.05px);
  line-height: 30px;
  font-weight: 500;
  background: linear-gradient(89.38deg, #e3ef62, #a78f0c 73.18%, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 188px;
  height: 21.9px;
}
.xoseAhlijahSweParent {
  position: absolute;
  top: 19.6px;
  left: calc(50% - 120.2px);
  width: 241.1px;
  height: 53.7px;
}
.block1Parent {
  position: absolute;
  top: 315px;
  left: 0;
  width: 317.4px;
  height: 101px;
}
.xorse,
.xoseAhlijaTeam {
  width: 317.4px;
  height: 416px;
}
.xoseAhlijaTeam {
  position: absolute;
  top: 0;
  left: 0;
}
.xorse {
  position: relative;
}
.castro:hover,
.xorse:hover {
  animation: 2s ease 1s 1 normal none scale-up;
  opacity: 1;
}
.baseIcon1 {
  position: absolute;
  top: 0;
  left: 0.2px;
  border-radius: var(--br-11xl);
  width: 383.2px;
  height: 433.2px;
  object-fit: cover;
}
.block11,
.rectangle1 {
  position: absolute;
  left: 0;
  width: 383.2px;
  height: 120px;
}
.rectangle1 {
  top: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-dimgray-200);
  box-shadow: 0 24px 48px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(65.24px);
  border: 1px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block11 {
  top: 377px;
}
.castroAntwiDanso,
.generalManager {
  position: absolute;
  top: 0;
  left: calc(50% - 135.25px);
  letter-spacing: -0.01em;
  line-height: 40px;
  text-transform: capitalize;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 270.5px;
  height: 34px;
}
.generalManager {
  top: 29.8px;
  left: calc(50% - 78.25px);
  line-height: 30px;
  font-weight: 500;
  background: linear-gradient(90.39deg, #dae924, rgba(240, 192, 39, 0.95));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 156px;
  height: 26px;
}
.castroAntwiDansoParent {
  position: absolute;
  top: 403.2px;
  left: calc(50% - 131.5px);
  width: 270.5px;
  height: 55.8px;
}
.castro {
  width: 383.4px;
  position: relative;
  height: 497px;
}
.baseIcon2,
.rectangle2 {
  border-radius: var(--br-11xl);
}
.baseIcon2 {
  position: absolute;
  top: 0;
  left: 0.2px;
  width: 336.4px;
  height: 362.4px;
  object-fit: cover;
}
.rectangle2 {
  background-color: var(--color-darkslateblue);
  box-shadow: 0 24px 48px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(65.24px);
  border: 1px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block12,
.rectangle2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 336.4px;
  height: 110.1px;
}
.dataAnalyst,
.otisAApaloo {
  position: absolute;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.otisAApaloo {
  top: 0;
  left: calc(50% - 114.45px);
  line-height: 40px;
  font-weight: 800;
  width: 228.9px;
  height: 31px;
}
.dataAnalyst {
  top: 36.2px;
  left: 56.8px;
  line-height: 30px;
  font-weight: 500;
  background: linear-gradient(88.74deg, #eed920, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 127.7px;
  height: 23.4px;
}
.otisAApalooParent {
  position: absolute;
  top: 20.1px;
  left: calc(50% - 112.8px);
  width: 228.9px;
  height: 59.6px;
}
.block1Group {
  position: absolute;
  top: 305.9px;
  left: 0;
  width: 336.4px;
  height: 110.1px;
}
.ottisApalooTeam {
  width: 336.6px;
  position: relative;
  height: 416px;
  font-size: var(--font-size-lgi);
}
.ottisApalooTeam:hover {
  animation: 2s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.cardgropupo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-281xl);
  gap: 0 15px;
  opacity: 1;
  z-index: 5;
  text-align: left;
  font-size: var(--font-size-lg);
  font-family: var(--font-lexend-deca);
}
.cardgropupo.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
