@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  to {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.bgBlurIcon {
  width: 763.2px;
  position: absolute;
  margin: 0 !important;
  top: -330px;
  left: 482px;
  height: 1142.9px;
  z-index: 0;
}
.empowering {
  font-weight: 300;
}
.farmers {
  font-weight: 800;
}
.empoweringFarmersAndContainer {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 111%;
}
.empoweringFarmersAndUnlockWrapper {
  align-self: stretch;
  filter: drop-shadow(0 4px 10px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  z-index: 1;
}
.aRevolutionaryDigital {
  flex: 1;
  position: relative;
  letter-spacing: 0.9px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 131.4px;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}
.aRevolutionaryDigitalInnoWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-101xl);
  z-index: 2;
  font-size: var(--font-size-6xl);
}
.scrollDownChild {
  width: 24.1px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-goldenrod-300);
  height: 24.1px;
}
.scrollDown {
  height: 147.6px;
  border-radius: 40.76px;
  border: 3.7px solid var(--color-goldenrod-300);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 61.76123809814453px 20.587080001831055px;
  opacity: 1;
  z-index: 3;
}
.scrollDown.animate {
  animation: 4s ease 2s infinite normal forwards bounce-top;
}
.bgBlurParent,
.div {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bgBlurParent {
  justify-content: flex-start;
  position: relative;
  gap: 29px 0;
}
.div {
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-81xl) var(--padding-181xl);
  background-image: url(/12001@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-59xl);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .empoweringFarmersAndContainer {
    font-size: var(--font-size-46xl);
  }
  .aRevolutionaryDigitalInnoWrapper {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .div,
  .scrollDown {
    box-sizing: border-box;
  }
  .scrollDown {
    height: 110px;
    padding-top: var(--padding-42xl);
  }
  .div {
    display: flex;
    padding-left: var(--padding-81xl);
    padding-right: var(--padding-81xl);
  }
}
@media screen and (max-width: 960px) {
  .div {
    display: none;
    padding: var(--padding-26xl) var(--padding-61xl);
    box-sizing: border-box;
  }
}
