@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  to {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.bgBlurIcon {
  width: 623.3px;
  position: absolute;
  margin: 0 !important;
  top: -269.5px;
  left: 393.7px;
  height: 933.5px;
  z-index: 0;
}
.empowering {
  font-weight: 300;
}
.farmers {
  font-weight: 800;
}
.empoweringFarmersAndContainer {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 111%;
}
.empoweringFarmersAndUnlockWrapper {
  align-self: stretch;
  filter: drop-shadow(0 3.3px 8.17px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.167895317077637px;
  z-index: 1;
}
.aRevolutionaryDigital {
  flex: 1;
  position: relative;
  letter-spacing: 0.74px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 107.3px;
  text-shadow: 0 3.3px 4.9px rgba(0, 0, 0, 0.25);
}
.aRevolutionaryDigitalInnoWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 98.0147476196289px;
  z-index: 2;
  font-size: var(--font-size-xl-4);
}
.scrollDownChild {
  width: 19.7px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-goldenrod-300);
  height: 19.7px;
}
.scrollDown {
  height: 120.6px;
  border-radius: 33.29px;
  border: 3px solid var(--color-goldenrod-300);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50.4459342956543px 16.815311431884766px;
  opacity: 1;
  z-index: 3;
}
.scrollDown.animate {
  animation: 4s ease 2s infinite normal forwards bounce-top;
}
.bgBlurParent,
.div {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bgBlurParent {
  justify-content: flex-start;
  position: relative;
  gap: 23.69px 0;
}
.div {
  overflow: hidden;
  justify-content: center;
  padding: 81.678955078125px 163.35791015625px;
  background-image: url(/12001@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--font-size-44xl-7);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .empoweringFarmersAndContainer {
    font-size: var(--font-size-46xl);
  }
  .aRevolutionaryDigitalInnoWrapper {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .div,
  .scrollDown {
    box-sizing: border-box;
  }
  .scrollDown {
    height: 110px;
    padding-top: var(--padding-42xl);
  }
  .div {
    display: flex;
    padding-left: var(--padding-81xl);
    padding-right: var(--padding-81xl);
  }
}
@media screen and (max-width: 960px) {
  .div {
    display: none;
    padding: var(--padding-26xl) var(--padding-61xl);
    box-sizing: border-box;
  }
}
