@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72%,
  90%,
  to {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
}
@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.bgBlur2,
.bgBlurIcon {
  width: 662.8px;
  height: 992.8px;
  position: absolute;
  margin: 0 !important;
  top: 344.3px;
  left: -147.5px;
  opacity: 0;
  z-index: 0;
}
.bgBlurIcon.animate {
  animation: 13s ease 2s infinite normal forwards slide-in-top;
}
.bgBlur2 {
  width: 541.7px;
  height: 541.8px;
  top: 841.1px;
  left: 975px;
  border-radius: 50%;
  background-color: var(--color-goldenrod-600);
  filter: blur(122.19px);
  z-index: 1;
}
.bgBlur2.animate {
  animation: 30s ease 0s infinite reverse forwards bounce-in-top;
}
.theNationsBest {
  flex: 1;
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.theNationsBestDigitalAgriWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 8.334650993347168px;
}
.agrospectrumLimitedIs {
  flex: 1;
  position: relative;
}
.agrospectrumLimitedIsALeadWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.334650993347168px;
  font-size: var(--font-size-sm-3);
  color: var(--color-white);
}
.introAgrospectrum {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 16.669301986694336px 99.18234252929688px;
  gap: 8.33px 0;
  opacity: 1;
}
.introAgrospectrum.animate,
.weOfferA.animate,
.whyWorkWithContainer.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.workWith {
  font-weight: 800;
}
.whyWorkWithContainer {
  margin: 0;
  align-self: stretch;
  height: 125px;
  position: relative;
  font-size: var(--font-size-64xl-3);
  color: var(--color-goldenrod-100);
  display: inline-block;
  opacity: 1;
  font-family: inherit;
}
.frameChild {
  width: 395.8px;
  position: relative;
  border-radius: 33.34px;
  height: 289.3px;
  object-fit: cover;
}
.rectangleWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.weOfferA {
  align-self: stretch;
  height: 90px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  opacity: 1;
}
.inTheHeart {
  margin: 0;
}
.inTheHeartContainer {
  align-self: stretch;
  height: 90px;
  position: relative;
  font-size: var(--font-size-mini);
  display: inline-block;
  opacity: 1;
}
.inTheHeartContainer.animate {
  animation: 2s ease 0s 1 normal forwards scale-up;
}
.weOfferAComprehensiveSuiteParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40.01px 0;
}
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  flex: 1;
  flex-direction: column;
  padding: 8.334650993347168px;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  gap: 63.34px;
}
.ghanasAgriculturalSector,
.unlockingGhanasAgriculturalContainer {
  align-self: stretch;
  position: relative;
  display: inline-block;
  opacity: 1;
}
.unlockingGhanasAgriculturalContainer {
  height: 60px;
  font-weight: 600;
}
.unlockingGhanasAgriculturalContainer.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.ghanasAgriculturalSector {
  height: 108px;
  font-size: var(--font-size-mini);
}
.ghanasAgriculturalSector.animate {
  animation: 2s ease 0s 1 normal forwards scale-up;
}
.unlockingGhanasAgriculturalParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 12.5px 0;
}
.frameGroup,
.rectangleContainer,
.unlockingGhanasAgriculturalParent {
  display: flex;
  justify-content: flex-start;
}
.rectangleContainer {
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 0 63.34px;
}
.featuresimages,
.introAgrospectrumParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.featuresimages {
  width: 863.3px;
  gap: 83.35px 0;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.introAgrospectrumParent {
  gap: 25px 0;
  z-index: 2;
}
.desktopSection2Child {
  width: 506.7px;
  position: absolute;
  margin: 0 !important;
  top: -101.6px;
  left: 1044.2px;
  height: 506.8px;
  z-index: 3;
}
.desktopSection2 {
  align-self: stretch;
  background-color: var(--color-darkolivegreen-600);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50.00790786743164px 166.69302368164062px 66.67720794677734px;
  position: relative;
  gap: 8.33px;
  text-align: center;
  font-size: var(--font-size-9xl-3);
  color: var(--color-goldenrod-700);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .desktopSection2 {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .bgBlur2 {
    opacity: 1;
  }
  .bgBlur2.animate {
    animation: 1s ease 0s 1 normal forwards jello-horizontal;
  }
  @keyframes jello-horizontal {
    0%,
    to {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  }
}
