@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72%,
  90%,
  to {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
}
@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.bgBlur2,
.bgBlurIcon {
  width: 628.8px;
  height: 941.8px;
  position: absolute;
  margin: 0 !important;
  top: 326.6px;
  left: -139.9px;
  opacity: 0;
  z-index: 0;
}
.bgBlurIcon.animate {
  animation: 13s ease 2s infinite normal forwards slide-in-top;
}
.bgBlur2 {
  width: 513.8px;
  height: 514px;
  top: 797.9px;
  left: 924.9px;
  border-radius: 50%;
  background-color: var(--color-goldenrod-600);
  filter: blur(115.91px);
  z-index: 1;
}
.bgBlur2.animate {
  animation: 30s ease 0s infinite reverse forwards bounce-in-top;
}
.theNationsBest {
  flex: 1;
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.theNationsBestDigitalAgriWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 7.90634298324585px;
}
.agrospectrumLimitedIs {
  flex: 1;
  position: relative;
}
.agrospectrumLimitedIsALeadWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7.90634298324585px;
  font-size: var(--font-size-smi-7);
  color: var(--color-white);
}
.introAgrospectrum {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 15.8126859664917px 94.0854721069336px;
  gap: 7.91px 0;
  opacity: 1;
}
.introAgrospectrum.animate,
.weOfferA.animate,
.whyWorkWithContainer.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.workWith {
  font-weight: 800;
}
.whyWorkWithContainer {
  margin: 0;
  align-self: stretch;
  height: 119px;
  position: relative;
  font-size: var(--font-size-60xl-1);
  color: var(--color-goldenrod-100);
  display: inline-block;
  opacity: 1;
  font-family: inherit;
}
.frameChild {
  width: 375.5px;
  position: relative;
  border-radius: 31.63px;
  height: 274.4px;
  object-fit: cover;
}
.rectangleWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.weOfferA {
  align-self: stretch;
  height: 87px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  opacity: 1;
}
.inTheHeart {
  margin: 0;
}
.inTheHeartContainer {
  align-self: stretch;
  height: 85px;
  position: relative;
  font-size: var(--font-size-mini-2);
  display: inline-block;
  opacity: 1;
}
.inTheHeartContainer.animate {
  animation: 2s ease 0s 1 normal forwards scale-up;
}
.weOfferAComprehensiveSuiteParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 37.95px 0;
}
.frameParent,
.frameWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper {
  flex: 1;
  flex-direction: column;
  padding: 7.90634298324585px;
}
.frameParent {
  align-self: stretch;
  flex-direction: row;
  gap: 60.09px;
}
.ghanasAgriculturalSector,
.unlockingGhanasAgriculturalContainer {
  align-self: stretch;
  position: relative;
  display: inline-block;
  opacity: 1;
}
.unlockingGhanasAgriculturalContainer {
  height: 58px;
  font-weight: 600;
}
.unlockingGhanasAgriculturalContainer.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.ghanasAgriculturalSector {
  height: 102px;
  font-size: var(--font-size-mini-2);
}
.ghanasAgriculturalSector.animate {
  animation: 2s ease 0s 1 normal forwards scale-up;
}
.unlockingGhanasAgriculturalParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 11.86px 0;
}
.frameGroup,
.rectangleContainer,
.unlockingGhanasAgriculturalParent {
  display: flex;
  justify-content: flex-start;
}
.rectangleContainer {
  flex: 1;
  flex-direction: column;
  align-items: center;
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: 0 60.09px;
}
.featuresimages,
.introAgrospectrumParent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.featuresimages {
  width: 819px;
  gap: 79.06px 0;
  text-align: left;
  font-size: var(--font-size-4xl-7);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.introAgrospectrumParent {
  gap: 23.72px 0;
  z-index: 2;
}
.desktopSection2Child {
  width: 480.6px;
  position: absolute;
  margin: 0 !important;
  top: -96.4px;
  left: 990.5px;
  height: 480.8px;
  z-index: 3;
}
.desktopSection2 {
  align-self: stretch;
  background-color: var(--color-darkolivegreen-600);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 47.43805694580078px 158.12686157226562px 63.2507438659668px;
  position: relative;
  gap: 7.91px;
  text-align: center;
  font-size: var(--font-size-7xl-9);
  color: var(--color-goldenrod-700);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .desktopSection2 {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .bgBlur2 {
    opacity: 1;
  }
  .bgBlur2.animate {
    animation: 1s ease 0s 1 normal forwards jello-horizontal;
  }
  @keyframes jello-horizontal {
    0%,
    to {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
  }
}
