.download2Icon,
.download5Icon {
  position: absolute;
  top: 12.5px;
  left: 1290.3px;
  width: 41.2px;
  height: 41.2px;
  object-fit: cover;
}
.download5Icon {
  top: 13.2px;
  left: 229.7px;
  width: 69.1px;
  height: 45.2px;
}
.download3Icon,
.download5Icon1,
.downloadIcon {
  position: absolute;
  top: 4.6px;
  left: 1187.3px;
  width: 45.2px;
  height: 49.8px;
  object-fit: cover;
}
.download3Icon,
.download5Icon1 {
  top: 9.9px;
  left: 20.6px;
  width: 55.8px;
  height: 46.5px;
}
.download3Icon {
  top: 15.8px;
  left: 128.1px;
  width: 39.2px;
  height: 38.5px;
}
.captureIcon,
.imagesIcon,
.mofaColorIcon {
  position: absolute;
  top: 8.5px;
  left: 342px;
  width: 112.2px;
  height: 49.1px;
  object-fit: cover;
}
.imagesIcon,
.mofaColorIcon {
  top: 13.2px;
  left: 492.7px;
  width: 196.6px;
  height: 41.2px;
}
.imagesIcon {
  top: 19.2px;
  left: 717.2px;
  width: 91.6px;
  height: 31.2px;
  mix-blend-mode: difference;
}
.download1Icon,
.download6Icon,
.images1Icon {
  position: absolute;
  top: 9.2px;
  left: 832.7px;
  width: 82.3px;
  height: 47.1px;
  object-fit: cover;
}
.download1Icon,
.images1Icon {
  top: -0.1px;
  left: 947.6px;
  width: 66.4px;
  height: 66.4px;
}
.download1Icon {
  top: 11.9px;
  left: 1049.2px;
  width: 108.9px;
  height: 43.2px;
}
.dsktopBanner1 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90.01deg, #fbfbfb, #a1b5a1);
  box-shadow: 0 3.2px 49.02px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(47.44px);
  width: 1361.5px;
  height: 66.4px;
}
