@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.captureIcon,
.download5Icon,
.download5Icon1 {
  position: absolute;
  top: 10.4px;
  left: 0;
  width: 58.1px;
  height: 48.4px;
  object-fit: cover;
}
.captureIcon,
.download5Icon1 {
  top: 11.1px;
  left: 103.4px;
  width: 71.9px;
  height: 47px;
}
.captureIcon {
  top: 9px;
  left: 220.6px;
  width: 116.8px;
  height: 51.1px;
}
.download3Icon,
.imagesIcon,
.mofaColorIcon {
  position: absolute;
  top: 13.1px;
  left: 382.8px;
  width: 204.6px;
  height: 42.9px;
  object-fit: cover;
}
.download3Icon,
.imagesIcon {
  top: 14.5px;
  left: 632.7px;
  width: 40.8px;
  height: 40.1px;
}
.imagesIcon {
  top: 18.3px;
  left: 718.8px;
  width: 95.4px;
  height: 32.5px;
  mix-blend-mode: difference;
}
.download1Icon,
.download6Icon {
  position: absolute;
  top: 10px;
  left: 859.5px;
  width: 85.7px;
  height: 49.1px;
  object-fit: cover;
}
.download1Icon {
  top: 12.1px;
  left: 990.5px;
  width: 113.3px;
  height: 44.9px;
}
.download2Icon,
.downloadIcon,
.images1Icon {
  position: absolute;
  top: 8.6px;
  left: 1149.2px;
  width: 47px;
  height: 51.8px;
  object-fit: cover;
}
.download2Icon,
.images1Icon {
  top: 0;
  left: 1241.6px;
  width: 69.1px;
  height: 69.1px;
}
.download2Icon {
  top: 13.1px;
  left: 1356px;
  width: 42.9px;
  height: 42.9px;
}
.download5Group,
.download5Parent,
.frameParent {
  position: absolute;
  top: 0;
  left: 1452.3px;
  width: 1398.9px;
  height: 69.1px;
}
.download5Group,
.frameParent {
  left: 0;
}
.frameParent {
  left: -25.5px;
  width: 2852.8px;
}
.component1 {
  width: 1446.6px;
  position: relative;
  background: linear-gradient(90deg, #fbfbfb, rgba(161, 181, 161, 0.99));
  height: 69.1px;
  overflow: hidden;
  flex-shrink: 0;
}
.nowWere {
  position: relative;
  letter-spacing: 0.74px;
  line-height: 37.85px;
  text-transform: uppercase;
}
.nowWereWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8.228570938110352px;
}
.nowWere1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.74px;
  line-height: 37.85px;
  text-transform: uppercase;
  font-weight: 800;
}
.nowWereContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8.228570938110352px;
  font-size: var(--font-size-18xl);
}
.transformYourAgricultural {
  margin: 0;
}
.cultivateSuccessWith {
  font-family: var(--font-poppins);
}
.nuncUltricesTellusContainer {
  flex: 1;
  position: relative;
  line-height: 26.33px;
}
.nuncUltricesTellusWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8.228570938110352px 8.228570938110352px;
  font-size: var(--font-size-base-5);
  color: var(--color-gainsboro-200);
}
.getInTouch {
  position: relative;
  font-size: var(--font-size-base-4);
  line-height: 10.47px;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.getInTouch:hover {
  color: var(--color-darkolivegreen-300);
}
.getInTouchWrapper {
  cursor: pointer;
  border: 0;
  padding: 20.530691146850586px 41.06138229370117px;
  background-color: transparent;
  width: 202.7px;
  border-radius: 33.36px;
  background: linear-gradient(93.32deg, #4f943e, #c1ad28);
  height: 51.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.getInTouchWrapper:hover {
  mix-blend-mode: normal;
  background-color: var(--color-whitesmoke-300);
}
.transform {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.457141876220703px 0 32.914283752441406px;
  gap: 6.58px 0;
  color: var(--color-white);
}
.nowWere2,
.nowWere3 {
  position: relative;
  letter-spacing: 0.74px;
  line-height: 19.75px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere2 {
  width: 78.2px;
  display: inline-block;
  height: 37.9px;
  flex-shrink: 0;
}
.nowWere3 {
  flex: 1;
  cursor: pointer;
}
.nowWere3:hover,
.nowWere4:hover,
.nowWere5:hover,
.nowWere6:hover,
.nowWere8:hover {
  color: var(--color-goldenrod-300);
}
.nowWereFrame {
  align-self: stretch;
  height: 23.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nowWere4 {
  cursor: pointer;
}
.nowWere4,
.nowWere5 {
  flex: 1;
  position: relative;
  letter-spacing: 0.74px;
  line-height: 19.75px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 23px;
}
.nowWere6,
.nowWereWrapper2 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.nowWereWrapper2 {
  height: 28.8px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 8.228570938110352px 0;
  box-sizing: border-box;
}
.nowWere6 {
  position: relative;
  letter-spacing: 0.74px;
  line-height: 19.75px;
  text-transform: uppercase;
  font-weight: 500;
  height: 26.3px;
  flex-shrink: 0;
  cursor: pointer;
}
.frameChild {
  width: 68.3px;
  height: 0;
  position: relative;
  object-fit: cover;
  display: none;
}
.frameDiv,
.nowWereGroup,
.nowWereParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nowWereGroup {
  align-self: stretch;
  justify-content: center;
  cursor: pointer;
}
.nowWereGroup:hover .frameChild {
  display: flex;
}
.frameDiv,
.nowWereParent {
  justify-content: space-between;
}
.frameDiv {
  align-self: stretch;
  height: 118.5px;
  font-size: var(--font-size-sm-2);
  color: var(--color-white);
}
.nowWereParent {
  flex: 1;
  height: 168.7px;
}
.nowWere7,
.nowWere8 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.74px;
}
.nowWere7 {
  line-height: 37.85px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 37.9px;
  flex-shrink: 0;
}
.nowWere8 {
  font-size: var(--font-size-sm-2);
  line-height: 19.75px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-white);
}
.nowWereParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.29px 0;
}
.nowWere10,
.nowWere9 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.74px;
}
.nowWere9 {
  line-height: 37.85px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 29.6px;
  flex-shrink: 0;
}
.nowWere10 {
  line-height: 19.75px;
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent2,
.nowWereParent3 {
  align-self: stretch;
  flex-direction: column;
}
.nowWereParent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.7px 0;
}
.nowWereParent2 {
  gap: 5.76px 0;
  font-size: var(--font-size-sm-2);
  color: var(--color-white);
}
.frameContainer,
.frameParent1,
.nowWereParent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  flex: 1;
  flex-direction: column;
  gap: 27.98px 0;
  font-size: var(--font-size-smi-3);
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  gap: 0 1.65px;
}
.nowWere13,
.nowWere14 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.74px;
  line-height: 37.85px;
  text-transform: uppercase;
  font-weight: 600;
}
.nowWere14 {
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.23px 0;
}
.nowWere17,
.nowWere18 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.74px;
  line-height: 37.85px;
  text-transform: capitalize;
  font-weight: 600;
}
.nowWere18 {
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 22.2px;
  flex-shrink: 0;
}
.nowWereParent5,
.nowWereParent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nowWereParent6 {
  align-self: stretch;
  gap: 5.76px 0;
}
.nowWereParent5 {
  flex: 1;
  gap: 2.47px 0;
}
.frameGroup,
.frameParent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frameParent2 {
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-sm-2);
  color: var(--color-white);
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 24.685714721679688px;
  gap: 32.91px 0;
  font-size: var(--font-size-xs-5);
}
.frameItem,
.nowWere19 {
  position: relative;
  cursor: pointer;
}
.frameItem {
  width: 17.3px;
  max-height: 100%;
}
.frameItem:hover {
  width: 24px;
}
.nowWere19 {
  font-size: var(--font-size-mini-8);
  letter-spacing: 0.95px;
  line-height: 48.33px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.nowWere19:hover {
  font-size: var(--font-size-4xl);
}
.nowWere21,
.vectorParent {
  display: flex;
  align-items: center;
}
.vectorParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 16.46px;
}
.nowWere21 {
  position: absolute;
  height: 203.6%;
  width: 96.17%;
  top: -51.8%;
  left: -0.7%;
  letter-spacing: 0.95px;
  line-height: 48.33px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere20,
.nowWere22 {
  align-self: stretch;
  position: relative;
}
.nowWere20 {
  height: 22.2px;
}
.nowWere22 {
  letter-spacing: 1.1px;
  line-height: 56.47px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-white);
}
.nowWereParent7 {
  align-self: stretch;
  height: 48.5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.23px 0;
}
.nowWere24 {
  position: absolute;
  width: 96.18%;
  top: -57.48%;
  left: -0.78%;
  letter-spacing: 0.95px;
  line-height: 48.33px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.nowWere23 {
  align-self: stretch;
  position: relative;
  height: 21.4px;
}
.nowWere26 {
  position: absolute;
  top: 5.8px;
  left: -0.8px;
  letter-spacing: 0.95px;
  line-height: 48.33px;
  text-transform: lowercase;
  font-weight: 500;
}
.nowWere25 {
  align-self: stretch;
  position: relative;
  height: 21.4px;
  color: var(--color-white);
}
.nowWereParent8 {
  width: 217.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.23px 0;
}
.nowWere28 {
  position: absolute;
  top: -25.55%;
  left: 0;
  letter-spacing: 0.95px;
  line-height: 48.33px;
  text-transform: uppercase;
  font-weight: 500;
}
.groupIcon,
.nowWere27 {
  width: 107.8px;
  position: relative;
  height: 32.1px;
}
.groupIcon {
  width: 11.5px;
  height: 12.3px;
}
.instagram {
  width: 38.1px;
  border-radius: 26.23px;
  background-color: var(--color-darkgray-300);
  height: 38.5px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16.396076202392578px;
  box-sizing: border-box;
}
.vectorIcon {
  width: 6.4px;
  position: relative;
  height: 12.3px;
}
.vectorWrapper {
  width: 38.9px;
  border-radius: 30.33px;
  background-color: var(--color-darkgray-300);
  height: 40.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16.396076202392578px 20.49509620666504px;
  box-sizing: border-box;
}
.vectorIcon1 {
  width: 13.7px;
  position: relative;
  height: 11.5px;
}
.frame {
  width: 37.3px;
  border-radius: 47.96px;
  background-color: var(--color-darkgray-300);
  height: 37.3px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16.396076202392578px 14.346567153930664px;
  box-sizing: border-box;
}
.vectorIcon2 {
  width: 13.3px;
  position: relative;
  height: 12.3px;
}
.vectorContainer {
  width: 40.6px;
  border-radius: var(--br-14xl-2);
  background-color: var(--color-darkgray-300);
  height: 40.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16.396076202392578px;
  box-sizing: border-box;
}
.instagramParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 13.99px;
}
.frameParent3,
.nowWereParent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.nowWereParent9 {
  align-self: stretch;
  height: 81.5px;
  padding: 0 4.114285469055176px;
  gap: 8.23px 0;
}
.frameParent3 {
  height: 304.5px;
  flex: 1;
  padding: 24.685714721679688px;
  gap: 24.69px 0;
  font-size: var(--font-size-sm-2);
}
.footer,
.transformParent {
  align-self: stretch;
  display: flex;
}
.transformParent {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32.914283752441406px 0;
  opacity: 1;
}
.transformParent.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.footer {
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 65.82856750488281px;
  gap: 8.23px;
  text-align: left;
  font-size: var(--font-size-9xl);
  color: var(--color-seagreen);
  font-family: var(--font-poppins);
}
.frameInner {
  width: 992.4px;
  position: relative;
  border-top: 0.8px solid var(--color-white);
  box-sizing: border-box;
  height: 0.8px;
}
.lineWrapper {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 246.85714721679688px;
}
.nowWere29,
.nowWere30 {
  width: 334.1px;
  position: relative;
  letter-spacing: 0.74px;
  line-height: 16.46px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  height: 23px;
  flex-shrink: 0;
}
.nowWere30 {
  width: 438.6px;
}
.nowWereParent10 {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 8.228570938110352px 189.25714111328125px;
}
.footerComponent,
.frameParent4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent4 {
  align-self: stretch;
  align-items: center;
}
.footerComponent {
  width: 1440px;
  background-color: var(--color-darkslategray-300);
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-sm-2);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .frameGroup,
  .frameParent3,
  .transform {
    flex: unset;
    align-self: stretch;
  }
  .transformParent {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
    padding-left: 0;
    box-sizing: border-box;
  }
  .footer {
    align-self: stretch;
    width: auto;
  }
  .nowWereParent10 {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-101xl);
    padding-right: var(--padding-97xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .nowWere {
    font-size: var(--font-size-7xl);
  }
  .nowWere1 {
    font-size: var(--font-size-15xl);
  }
  .getInTouchWrapper {
    width: 200px;
    height: 55px;
    padding: var(--padding-mini) var(--padding-xl);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-21xl);
    padding-top: var(--padding-11xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .frameInner {
    width: 900px;
  }
}
@media screen and (max-width: 420px) {
  .nowWere {
    font-size: var(--font-size-5xl);
  }
  .nowWere1 {
    font-size: var(--font-size-11xl);
  }
  .frameInner {
    width: 400px;
  }
  .nowWere29,
  .nowWere30 {
    font-size: var(--font-size-xs);
  }
  .nowWereParent10 {
    padding-top: var(--padding-8xs);
    padding-bottom: var(--padding-8xs);
    box-sizing: border-box;
  }
}
