.frameChild {
  width: 1206px;
  position: relative;
  border-top: 1px solid var(--color-white);
  box-sizing: border-box;
  height: 1px;
}
.lineWrapper {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-281xl);
}
.nowWere,
.nowWere1 {
  width: 406px;
  position: relative;
  letter-spacing: 0.9px;
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  height: 28px;
  flex-shrink: 0;
}
.nowWere1 {
  width: 533px;
}
.nowWereParent {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-211xl);
}
.footerComponent,
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.footerComponent {
  background-color: var(--color-darkslategray-300);
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .nowWereParent {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-101xl);
    padding-right: var(--padding-97xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .frameChild {
    width: 900px;
  }
}
@media screen and (max-width: 420px) {
  .frameChild {
    width: 400px;
  }
  .nowWere,
  .nowWere1 {
    font-size: var(--font-size-xs);
  }
  .nowWereParent {
    padding-top: var(--padding-8xs);
    padding-bottom: var(--padding-8xs);
    box-sizing: border-box;
  }
}
