@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.captureIcon,
.download5Icon,
.download5Icon1 {
  position: absolute;
  top: 10.6px;
  left: 0;
  width: 59.5px;
  height: 49.6px;
  object-fit: cover;
}
.captureIcon,
.download5Icon1 {
  top: 11.3px;
  left: 106px;
  width: 73.7px;
  height: 48.2px;
}
.captureIcon {
  top: 9.2px;
  left: 226.2px;
  width: 119.7px;
  height: 52.4px;
}
.download3Icon,
.imagesIcon,
.mofaColorIcon {
  position: absolute;
  top: 13.5px;
  left: 392.4px;
  width: 209.7px;
  height: 43.9px;
  object-fit: cover;
}
.download3Icon,
.imagesIcon {
  top: 14.9px;
  left: 648.6px;
  width: 41.8px;
  height: 41.1px;
}
.imagesIcon {
  top: 18.8px;
  left: 736.9px;
  width: 97.8px;
  height: 33.3px;
  mix-blend-mode: difference;
}
.download1Icon,
.download6Icon {
  position: absolute;
  top: 10.3px;
  left: 881.1px;
  width: 87.9px;
  height: 50.3px;
  object-fit: cover;
}
.download1Icon {
  top: 12.4px;
  left: 1015.5px;
  width: 116.2px;
  height: 46.1px;
}
.download2Icon,
.downloadIcon,
.images1Icon {
  position: absolute;
  top: 8.9px;
  left: 1178.2px;
  width: 48.2px;
  height: 53.1px;
  object-fit: cover;
}
.download2Icon,
.images1Icon {
  top: 0;
  left: 1272.8px;
  width: 70.9px;
  height: 70.9px;
}
.download2Icon {
  top: 13.5px;
  left: 1390.2px;
  width: 43.9px;
  height: 43.9px;
}
.download5Group,
.download5Parent,
.frameParent {
  position: absolute;
  top: 0;
  left: 1488.9px;
  width: 1434.1px;
  height: 70.9px;
}
.download5Group,
.frameParent {
  left: 0;
}
.frameParent {
  left: -26.2px;
  width: 2924.7px;
}
.component1 {
  width: 1483px;
  position: relative;
  background: linear-gradient(90deg, #fbfbfb, rgba(161, 181, 161, 0.99));
  height: 70.9px;
  overflow: hidden;
  flex-shrink: 0;
}
.nowWere {
  position: relative;
  letter-spacing: 0.76px;
  line-height: 38.8px;
  text-transform: uppercase;
}
.nowWereWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8.43585205078125px;
}
.nowWere1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.76px;
  line-height: 38.8px;
  text-transform: uppercase;
  font-weight: 800;
}
.nowWereContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8.43585205078125px;
  font-size: var(--font-size-19xl);
}
.transformYourAgricultural {
  margin: 0;
}
.cultivateSuccessWith {
  font-family: var(--font-poppins);
}
.nuncUltricesTellusContainer {
  flex: 1;
  position: relative;
  line-height: 26.99px;
}
.nuncUltricesTellusWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8.43585205078125px 8.43585205078125px;
  font-size: var(--font-size-base-9);
  color: var(--color-gainsboro-200);
}
.getInTouch {
  position: relative;
  font-size: var(--font-size-base-8);
  line-height: 10.73px;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.getInTouch:hover {
  color: var(--color-darkolivegreen-300);
}
.getInTouchWrapper {
  cursor: pointer;
  border: 0;
  padding: 21.047868728637695px 42.09573745727539px;
  background-color: transparent;
  width: 207.8px;
  border-radius: var(--br-15xl-2);
  background: linear-gradient(93.32deg, #4f943e, #c1ad28);
  height: 53.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.getInTouchWrapper:hover {
  mix-blend-mode: normal;
  background-color: var(--color-whitesmoke-300);
}
.transform {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.8717041015625px 0 33.743408203125px;
  gap: 6.75px 0;
  color: var(--color-white);
}
.nowWere2,
.nowWere3 {
  position: relative;
  letter-spacing: 0.76px;
  line-height: 20.25px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere2 {
  width: 80.1px;
  display: inline-block;
  height: 38.8px;
  flex-shrink: 0;
}
.nowWere3 {
  flex: 1;
  cursor: pointer;
}
.nowWere3:hover,
.nowWere4:hover,
.nowWere5:hover,
.nowWere6:hover,
.nowWere8:hover {
  color: var(--color-goldenrod-300);
}
.nowWereFrame {
  align-self: stretch;
  height: 24.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nowWere4 {
  cursor: pointer;
}
.nowWere4,
.nowWere5 {
  flex: 1;
  position: relative;
  letter-spacing: 0.76px;
  line-height: 20.25px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 23.6px;
}
.nowWere6,
.nowWereWrapper2 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.nowWereWrapper2 {
  height: 29.5px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 8.43585205078125px 0;
  box-sizing: border-box;
}
.nowWere6 {
  position: relative;
  letter-spacing: 0.76px;
  line-height: 20.25px;
  text-transform: uppercase;
  font-weight: 500;
  height: 27px;
  flex-shrink: 0;
  cursor: pointer;
}
.frameChild {
  width: 70px;
  height: 0;
  position: relative;
  object-fit: cover;
  display: none;
}
.frameDiv,
.nowWereGroup,
.nowWereParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nowWereGroup {
  align-self: stretch;
  justify-content: center;
  cursor: pointer;
}
.nowWereGroup:hover .frameChild {
  display: flex;
}
.frameDiv,
.nowWereParent {
  justify-content: space-between;
}
.frameDiv {
  align-self: stretch;
  height: 121.5px;
  font-size: var(--font-size-sm-5);
  color: var(--color-white);
}
.nowWereParent {
  flex: 1;
  height: 172.9px;
}
.nowWere7,
.nowWere8 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.76px;
}
.nowWere7 {
  line-height: 38.8px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 38.8px;
  flex-shrink: 0;
}
.nowWere8 {
  font-size: var(--font-size-sm-5);
  line-height: 20.25px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-white);
}
.nowWereParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.37px 0;
}
.nowWere10,
.nowWere9 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.76px;
}
.nowWere9 {
  line-height: 38.8px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 30.4px;
  flex-shrink: 0;
}
.nowWere10 {
  line-height: 20.25px;
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent2,
.nowWereParent3 {
  align-self: stretch;
  flex-direction: column;
}
.nowWereParent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.97px 0;
}
.nowWereParent2 {
  gap: 5.91px 0;
  font-size: var(--font-size-sm-5);
  color: var(--color-white);
}
.frameContainer,
.frameParent1,
.nowWereParent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  flex: 1;
  flex-direction: column;
  gap: 28.68px 0;
  font-size: var(--font-size-smi-7);
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  gap: 0 1.69px;
}
.nowWere13,
.nowWere14 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.76px;
  line-height: 38.8px;
  text-transform: uppercase;
  font-weight: 600;
}
.nowWere14 {
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.44px 0;
}
.nowWere17,
.nowWere18 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.76px;
  line-height: 38.8px;
  text-transform: capitalize;
  font-weight: 600;
}
.nowWere18 {
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 22.8px;
  flex-shrink: 0;
}
.nowWereParent5,
.nowWereParent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nowWereParent6 {
  align-self: stretch;
  gap: 5.91px 0;
}
.nowWereParent5 {
  flex: 1;
  gap: 2.53px 0;
}
.frameGroup,
.frameParent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frameParent2 {
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-sm-5);
  color: var(--color-white);
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 25.307558059692383px;
  gap: 33.74px 0;
  font-size: var(--font-size-xs-8);
}
.frameItem,
.nowWere19 {
  position: relative;
  cursor: pointer;
}
.frameItem {
  width: 17.7px;
  max-height: 100%;
}
.frameItem:hover {
  width: 24px;
}
.nowWere19 {
  font-size: var(--font-size-base-2);
  letter-spacing: 0.97px;
  line-height: 49.55px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.nowWere19:hover {
  font-size: var(--font-size-4xl);
}
.nowWere21,
.vectorParent {
  display: flex;
  align-items: center;
}
.vectorParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 16.87px;
}
.nowWere21 {
  position: absolute;
  height: 203.07%;
  width: 96.15%;
  top: -51.75%;
  left: -0.7%;
  letter-spacing: 0.97px;
  line-height: 49.55px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere20,
.nowWere22 {
  align-self: stretch;
  position: relative;
}
.nowWere20 {
  height: 22.8px;
}
.nowWere22 {
  letter-spacing: 1.13px;
  line-height: 57.89px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-white);
}
.nowWereParent7 {
  align-self: stretch;
  height: 49.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.44px 0;
}
.nowWere24 {
  position: absolute;
  width: 96.14%;
  top: -62.56%;
  left: -0.76%;
  letter-spacing: 0.97px;
  line-height: 49.55px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.nowWere23 {
  align-self: stretch;
  position: relative;
  height: 21.9px;
}
.nowWere26 {
  position: absolute;
  top: 5.9px;
  left: -0.8px;
  letter-spacing: 0.97px;
  line-height: 49.55px;
  text-transform: lowercase;
  font-weight: 500;
}
.nowWere25 {
  align-self: stretch;
  position: relative;
  height: 21.9px;
  color: var(--color-white);
}
.nowWereParent8 {
  width: 222.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.44px 0;
}
.nowWere28 {
  position: absolute;
  top: -28.57%;
  left: 0;
  letter-spacing: 0.97px;
  line-height: 49.55px;
  text-transform: uppercase;
  font-weight: 500;
}
.groupIcon,
.nowWere27 {
  width: 110.5px;
  position: relative;
  height: 32.9px;
}
.groupIcon {
  width: 11.7px;
  height: 12.7px;
}
.instagram {
  width: 39.1px;
  border-radius: 26.89px;
  background-color: var(--color-darkgray-300);
  height: 39.5px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16.809099197387695px;
  box-sizing: border-box;
}
.vectorIcon {
  width: 6.6px;
  position: relative;
  height: 12.7px;
}
.vectorWrapper {
  width: 39.9px;
  border-radius: var(--br-12xl-1);
  background-color: var(--color-darkgray-300);
  height: 41.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16.809099197387695px 21.011375427246094px;
  box-sizing: border-box;
}
.vectorIcon1 {
  width: 14.1px;
  position: relative;
  height: 11.8px;
}
.frame {
  width: 38.2px;
  border-radius: 49.17px;
  background-color: var(--color-darkgray-300);
  height: 38.2px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16.809099197387695px 14.707962989807129px;
  box-sizing: border-box;
}
.vectorIcon2 {
  width: 13.6px;
  position: relative;
  height: 12.7px;
}
.vectorContainer {
  width: 41.6px;
  border-radius: 34.04px;
  background-color: var(--color-darkgray-300);
  height: 41.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16.809099197387695px;
  box-sizing: border-box;
}
.instagramParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 14.34px;
}
.frameParent3,
.nowWereParent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.nowWereParent9 {
  align-self: stretch;
  height: 83.5px;
  padding: 0 4.217926025390625px;
  gap: 8.44px 0;
}
.frameParent3 {
  height: 312.1px;
  flex: 1;
  padding: 25.307558059692383px;
  gap: 25.31px 0;
  font-size: var(--font-size-sm-5);
}
.footer,
.transformParent {
  align-self: stretch;
  display: flex;
}
.transformParent {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 33.743408203125px 0;
  opacity: 1;
}
.transformParent.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.footer {
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 67.48681640625px;
  gap: 8.44px;
  text-align: left;
  font-size: var(--font-size-9xl-7);
  color: var(--color-seagreen);
  font-family: var(--font-poppins);
}
.frameInner {
  width: 1017.4px;
  position: relative;
  border-top: 0.8px solid var(--color-white);
  box-sizing: border-box;
  height: 0.8px;
}
.lineWrapper {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 253.07557678222656px;
}
.nowWere29,
.nowWere30 {
  width: 342.5px;
  position: relative;
  letter-spacing: 0.76px;
  line-height: 16.87px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  height: 23.6px;
  flex-shrink: 0;
}
.nowWere30 {
  width: 449.6px;
}
.nowWereParent10 {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 8.43585205078125px 194.0246124267578px;
}
.footerComponent,
.frameParent4 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent4 {
  align-self: stretch;
  align-items: center;
}
.footerComponent {
  width: 1440px;
  background-color: var(--color-darkslategray-300);
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-sm-5);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .frameGroup,
  .frameParent3,
  .transform {
    flex: unset;
    align-self: stretch;
  }
  .transformParent {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
    padding-left: 0;
    box-sizing: border-box;
  }
  .footer {
    align-self: stretch;
    width: auto;
  }
  .nowWereParent10 {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-101xl);
    padding-right: var(--padding-97xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .nowWere {
    font-size: var(--font-size-7xl);
  }
  .nowWere1 {
    font-size: var(--font-size-15xl);
  }
  .getInTouchWrapper {
    width: 200px;
    height: 55px;
    padding: var(--padding-mini) var(--padding-xl);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-21xl);
    padding-top: var(--padding-11xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .frameInner {
    width: 900px;
  }
}
@media screen and (max-width: 420px) {
  .nowWere {
    font-size: var(--font-size-5xl);
  }
  .nowWere1 {
    font-size: var(--font-size-11xl);
  }
  .frameInner {
    width: 400px;
  }
  .nowWere29,
  .nowWere30 {
    font-size: var(--font-size-xs);
  }
  .nowWereParent10 {
    padding-top: var(--padding-8xs);
    padding-bottom: var(--padding-8xs);
    box-sizing: border-box;
  }
}
