@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.captureIcon,
.download5Icon,
.download5Icon1 {
  position: absolute;
  top: 10.5px;
  left: 0;
  width: 58.8px;
  height: 49px;
  object-fit: cover;
}
.captureIcon,
.download5Icon1 {
  top: 11.2px;
  left: 104.7px;
  width: 72.8px;
  height: 47.6px;
}
.captureIcon {
  top: 9.1px;
  left: 223.5px;
  width: 118.3px;
  height: 51.8px;
}
.download3Icon,
.imagesIcon,
.mofaColorIcon {
  position: absolute;
  top: 13.3px;
  left: 387.7px;
  width: 207.2px;
  height: 43.4px;
  object-fit: cover;
}
.download3Icon,
.imagesIcon {
  top: 14.7px;
  left: 640.8px;
  width: 41.3px;
  height: 40.6px;
}
.imagesIcon {
  top: 18.6px;
  left: 728px;
  width: 96.6px;
  height: 32.9px;
  mix-blend-mode: difference;
}
.download1Icon,
.download6Icon {
  position: absolute;
  top: 10.2px;
  left: 870.6px;
  width: 86.8px;
  height: 49.7px;
  object-fit: cover;
}
.download1Icon {
  top: 12.3px;
  left: 1003.3px;
  width: 114.8px;
  height: 45.5px;
}
.download2Icon,
.downloadIcon,
.images1Icon {
  position: absolute;
  top: 8.8px;
  left: 1164px;
  width: 47.6px;
  height: 52.5px;
  object-fit: cover;
}
.download2Icon,
.images1Icon {
  top: 0;
  left: 1257.6px;
  width: 70px;
  height: 70px;
}
.download2Icon {
  top: 13.3px;
  left: 1373.5px;
  width: 43.4px;
  height: 43.4px;
}
.download5Group,
.download5Parent,
.frameParent {
  position: absolute;
  top: 0;
  left: 1471.1px;
  width: 1416.9px;
  height: 70px;
}
.download5Group,
.frameParent {
  left: 0;
}
.frameParent {
  left: -25.8px;
  width: 2889.6px;
}
.component1 {
  width: 1465.2px;
  position: relative;
  background: linear-gradient(90deg, #fbfbfb, rgba(161, 181, 161, 0.99));
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}
.footer,
.transformParent {
  align-self: stretch;
  display: flex;
}
.transformParent {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 33.33860397338867px;
  opacity: 1;
}
.transformParent.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.footer {
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 66.67720794677734px;
  gap: 8.33px;
}
.frameChild {
  width: 1005.2px;
  position: relative;
  border-top: 0.8px solid var(--color-white);
  box-sizing: border-box;
  height: 0.8px;
}
.lineWrapper {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 250.03953552246094px;
}
.nowWere,
.nowWere1 {
  width: 338.4px;
  position: relative;
  letter-spacing: 0.75px;
  line-height: 16.67px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  height: 23.3px;
  flex-shrink: 0;
}
.nowWere1 {
  width: 444.2px;
}
.nowWereParent {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 8.334650993347168px 191.6969757080078px;
}
.footerComponent,
.frameGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  align-items: center;
}
.footerComponent {
  width: 1440.2px;
  background-color: var(--color-darkslategray-300);
  align-items: flex-start;
  text-align: center;
  font-size: var(--font-size-sm-3);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .transformParent {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
    padding-left: 0;
    box-sizing: border-box;
  }
  .footer {
    align-self: stretch;
    width: auto;
  }
  .nowWereParent {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-101xl);
    padding-right: var(--padding-97xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .footer {
    padding-left: var(--padding-21xl);
    padding-top: var(--padding-11xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .frameChild {
    width: 900px;
  }
}
@media screen and (max-width: 420px) {
  .frameChild {
    width: 400px;
  }
  .nowWere,
  .nowWere1 {
    font-size: var(--font-size-xs);
  }
  .nowWereParent {
    padding-top: var(--padding-8xs);
    padding-bottom: var(--padding-8xs);
    box-sizing: border-box;
  }
}
