@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.captureIcon,
.download5Icon,
.download5Icon1 {
  position: absolute;
  top: 12.6px;
  left: 0;
  width: 70.6px;
  height: 58.8px;
  object-fit: cover;
}
.captureIcon,
.download5Icon1 {
  top: 13.4px;
  left: 125.7px;
  width: 87.4px;
  height: 57.1px;
}
.captureIcon {
  top: 10.9px;
  left: 268.1px;
  width: 141.9px;
  height: 62.2px;
}
.download3Icon,
.imagesIcon,
.mofaColorIcon {
  position: absolute;
  top: 16px;
  left: 465.1px;
  width: 248.6px;
  height: 52.1px;
  object-fit: cover;
}
.download3Icon,
.imagesIcon {
  top: 17.6px;
  left: 768.9px;
  width: 49.6px;
  height: 48.7px;
}
.imagesIcon {
  top: 22.3px;
  left: 873.5px;
  width: 115.9px;
  height: 39.5px;
  mix-blend-mode: difference;
}
.download1Icon,
.download6Icon {
  position: absolute;
  top: 12.2px;
  left: 1044.5px;
  width: 104.1px;
  height: 59.6px;
  object-fit: cover;
}
.download1Icon {
  top: 14.7px;
  left: 1203.8px;
  width: 137.7px;
  height: 54.6px;
}
.download2Icon,
.downloadIcon,
.images1Icon {
  position: absolute;
  top: 10.5px;
  left: 1396.6px;
  width: 57.1px;
  height: 63px;
  object-fit: cover;
}
.download2Icon,
.images1Icon {
  top: 0;
  left: 1508.8px;
  width: 84px;
  height: 84px;
}
.download2Icon {
  top: 16px;
  left: 1647.9px;
  width: 52.1px;
  height: 52.1px;
}
.download5Group,
.download5Parent,
.frameParent {
  position: absolute;
  top: 0;
  left: 1765px;
  width: 1700px;
  height: 84px;
}
.download5Group,
.frameParent {
  left: 0;
}
.frameParent {
  left: -31px;
  width: 3467px;
}
.component1 {
  width: 1758px;
  position: relative;
  background: linear-gradient(90deg, #fbfbfb, rgba(161, 181, 161, 0.99));
  height: 84px;
  overflow: hidden;
  flex-shrink: 0;
}
.nowWere {
  position: relative;
  letter-spacing: 0.9px;
  line-height: 46px;
  text-transform: uppercase;
}
.nowWereWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.nowWere1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.9px;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: 800;
}
.nowWereContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
  font-size: var(--font-size-26xl);
}
.transformYourAgricultural {
  margin: 0;
}
.cultivateSuccessWith {
  font-family: var(--font-poppins);
}
.nuncUltricesTellusContainer {
  flex: 1;
  position: relative;
  line-height: 32px;
}
.nuncUltricesTellusWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) var(--padding-3xs);
  font-size: var(--font-size-xl);
  color: var(--color-gainsboro-200);
}
.getInTouch {
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 12.72px;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.getInTouch:hover {
  color: var(--color-darkolivegreen-300);
}
.getInTouchWrapper {
  cursor: pointer;
  border: 0;
  padding: 24.95049285888672px 49.90098571777344px;
  background-color: transparent;
  width: 246.4px;
  border-radius: 40.54px;
  background: linear-gradient(93.32deg, #4f943e, #c1ad28);
  height: 63px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.getInTouchWrapper:hover {
  mix-blend-mode: normal;
  background-color: var(--color-whitesmoke-300);
}
.transform {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0 var(--padding-21xl);
  gap: 8px 0;
  color: var(--color-white);
}
.nowWere2,
.nowWere3 {
  position: relative;
  letter-spacing: 0.9px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere2 {
  width: 95px;
  display: inline-block;
  height: 46px;
  flex-shrink: 0;
}
.nowWere3 {
  flex: 1;
  cursor: pointer;
}
.nowWere3:hover,
.nowWere4:hover,
.nowWere5:hover,
.nowWere6:hover,
.nowWere8:hover {
  color: var(--color-goldenrod-300);
}
.nowWereFrame {
  align-self: stretch;
  height: 29px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nowWere4 {
  cursor: pointer;
}
.nowWere4,
.nowWere5 {
  flex: 1;
  position: relative;
  letter-spacing: 0.9px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 28px;
}
.nowWere6,
.nowWereWrapper2 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.nowWereWrapper2 {
  height: 35px;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
}
.nowWere6 {
  position: relative;
  letter-spacing: 0.9px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 500;
  height: 32px;
  flex-shrink: 0;
  cursor: pointer;
}
.frameChild {
  width: 83px;
  height: 0;
  position: relative;
  object-fit: cover;
  display: none;
}
.frameDiv,
.nowWereGroup,
.nowWereParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nowWereGroup {
  align-self: stretch;
  justify-content: center;
  cursor: pointer;
}
.nowWereGroup:hover .frameChild {
  display: flex;
}
.frameDiv,
.nowWereParent {
  justify-content: space-between;
}
.frameDiv {
  align-self: stretch;
  height: 144px;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.nowWereParent {
  flex: 1;
  height: 205px;
}
.nowWere7,
.nowWere8 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.9px;
}
.nowWere7 {
  line-height: 46px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 46px;
  flex-shrink: 0;
}
.nowWere8 {
  font-size: var(--font-size-base);
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-white);
}
.nowWereParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px 0;
}
.nowWere10,
.nowWere9 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.9px;
}
.nowWere9 {
  line-height: 46px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 36px;
  flex-shrink: 0;
}
.nowWere10 {
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent2,
.nowWereParent3 {
  align-self: stretch;
  flex-direction: column;
}
.nowWereParent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13px 0;
}
.nowWereParent2 {
  gap: 7px 0;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frameContainer,
.frameParent1,
.nowWereParent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  flex: 1;
  flex-direction: column;
  gap: 34px 0;
  font-size: var(--font-size-mini);
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  gap: 0 2px;
}
.nowWere13,
.nowWere14 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.9px;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: 600;
}
.nowWere14 {
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px 0;
}
.nowWere17,
.nowWere18 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.9px;
  line-height: 46px;
  text-transform: capitalize;
  font-weight: 600;
}
.nowWere18 {
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 27px;
  flex-shrink: 0;
}
.nowWereParent5,
.nowWereParent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nowWereParent6 {
  align-self: stretch;
  gap: 7px 0;
}
.nowWereParent5 {
  flex: 1;
  gap: 3px 0;
}
.frameGroup,
.frameParent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frameParent2 {
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-11xl);
  gap: 40px 0;
  font-size: var(--font-size-sm);
}
.frameItem,
.nowWere19 {
  position: relative;
  cursor: pointer;
}
.frameItem {
  width: 21px;
  max-height: 100%;
}
.frameItem:hover {
  width: 24px;
}
.nowWere19 {
  font-size: var(--font-size-lg);
  letter-spacing: 1.15px;
  line-height: 58.74px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.nowWere19:hover {
  font-size: var(--font-size-4xl);
}
.nowWere21,
.vectorParent {
  display: flex;
  align-items: center;
}
.vectorParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 20px;
}
.nowWere21 {
  position: absolute;
  height: 203.33%;
  width: 96.16%;
  top: -51.85%;
  left: -0.7%;
  letter-spacing: 1.15px;
  line-height: 58.74px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere20,
.nowWere22 {
  align-self: stretch;
  position: relative;
}
.nowWere20 {
  height: 27px;
}
.nowWere22 {
  letter-spacing: 1.34px;
  line-height: 68.62px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-white);
}
.nowWereParent7 {
  align-self: stretch;
  height: 59px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px 0;
}
.nowWere24 {
  position: absolute;
  width: 96.14%;
  top: -57.69%;
  left: -0.76%;
  letter-spacing: 1.15px;
  line-height: 58.74px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.nowWere23 {
  align-self: stretch;
  position: relative;
  height: 26px;
}
.nowWere26 {
  position: absolute;
  top: 7px;
  left: -1px;
  letter-spacing: 1.15px;
  line-height: 58.74px;
  text-transform: lowercase;
  font-weight: 500;
}
.nowWere25 {
  align-self: stretch;
  position: relative;
  height: 26px;
  color: var(--color-white);
}
.nowWereParent8 {
  width: 264px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px 0;
}
.nowWere28 {
  position: absolute;
  top: -25.64%;
  left: 0;
  letter-spacing: 1.15px;
  line-height: 58.74px;
  text-transform: uppercase;
  font-weight: 500;
}
.groupIcon,
.nowWere27 {
  width: 131px;
  position: relative;
  height: 39px;
}
.groupIcon {
  width: 13.9px;
  height: 15px;
}
.instagram {
  width: 46.3px;
  border-radius: 31.88px;
  background-color: var(--color-darkgray-300);
  height: 46.8px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 19.9257869720459px;
  box-sizing: border-box;
}
.vectorIcon {
  width: 7.8px;
  position: relative;
  height: 15px;
}
.vectorWrapper {
  width: 47.3px;
  border-radius: 36.86px;
  background-color: var(--color-darkgray-300);
  height: 48.8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 19.9257869720459px 24.90723419189453px;
  box-sizing: border-box;
}
.vectorIcon1 {
  width: 16.7px;
  position: relative;
  height: 14px;
}
.frame {
  width: 45.3px;
  border-radius: 58.28px;
  background-color: var(--color-darkgray-300);
  height: 45.3px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 19.9257869720459px 17.4350643157959px;
  box-sizing: border-box;
}
.vectorIcon2 {
  width: 16.1px;
  position: relative;
  height: 15px;
}
.vectorContainer {
  width: 49.3px;
  border-radius: 40.35px;
  background-color: var(--color-darkgray-300);
  height: 48.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 19.9257869720459px;
  box-sizing: border-box;
}
.instagramParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 17px;
}
.frameParent3,
.nowWereParent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.nowWereParent9 {
  align-self: stretch;
  height: 99px;
  padding: 0 var(--padding-8xs);
  gap: 10px 0;
}
.frameParent3 {
  height: 370px;
  flex: 1;
  padding: var(--padding-11xl);
  gap: 30px 0;
  font-size: var(--font-size-base);
}
.footer,
.transformParent {
  align-self: stretch;
  display: flex;
}
.transformParent {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-21xl) 0;
  opacity: 1;
}
.transformParent.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.footer {
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-61xl);
  gap: var(--gap-3xs);
  text-align: left;
  font-size: var(--font-size-15xl);
  color: var(--color-seagreen);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .frameGroup,
  .frameParent3,
  .transform {
    flex: unset;
    align-self: stretch;
  }
  .transformParent {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
    padding-left: 0;
    box-sizing: border-box;
  }
  .footer {
    align-self: stretch;
    width: auto;
  }
}
@media screen and (max-width: 960px) {
  .nowWere {
    font-size: var(--font-size-7xl);
  }
  .nowWere1 {
    font-size: var(--font-size-15xl);
  }
  .getInTouchWrapper {
    width: 200px;
    height: 55px;
    padding: var(--padding-mini) var(--padding-xl);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-21xl);
    padding-top: var(--padding-11xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .nowWere {
    font-size: var(--font-size-5xl);
  }
  .nowWere1 {
    font-size: var(--font-size-11xl);
  }
}
