@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.captureIcon,
.download5Icon,
.download5Icon1 {
  position: absolute;
  top: 10.3px;
  left: 0;
  width: 57.6px;
  height: 48px;
  object-fit: cover;
}
.captureIcon,
.download5Icon1 {
  top: 11px;
  left: 102.6px;
  width: 71.3px;
  height: 46.7px;
}
.captureIcon {
  top: 8.9px;
  left: 219px;
  width: 115.9px;
  height: 50.8px;
}
.download3Icon,
.imagesIcon,
.mofaColorIcon {
  position: absolute;
  top: 13px;
  left: 379.9px;
  width: 203.1px;
  height: 42.5px;
  object-fit: cover;
}
.download3Icon,
.imagesIcon {
  top: 14.4px;
  left: 628px;
  width: 40.5px;
  height: 39.8px;
}
.imagesIcon {
  top: 18.2px;
  left: 713.5px;
  width: 94.7px;
  height: 32.2px;
  mix-blend-mode: difference;
}
.download1Icon,
.download6Icon {
  position: absolute;
  top: 9.9px;
  left: 853.2px;
  width: 85.1px;
  height: 48.7px;
  object-fit: cover;
}
.download1Icon {
  top: 12px;
  left: 983.2px;
  width: 112.5px;
  height: 44.6px;
}
.download2Icon,
.downloadIcon,
.images1Icon {
  position: absolute;
  top: 8.6px;
  left: 1140.7px;
  width: 46.7px;
  height: 51.5px;
  object-fit: cover;
}
.download2Icon,
.images1Icon {
  top: 0;
  left: 1232.4px;
  width: 68.6px;
  height: 68.6px;
}
.download2Icon {
  top: 13px;
  left: 1346px;
  width: 42.5px;
  height: 42.5px;
}
.download5Group,
.download5Parent,
.frameParent {
  position: absolute;
  top: 0;
  left: 1441.6px;
  width: 1388.5px;
  height: 68.6px;
}
.download5Group,
.frameParent {
  left: 0;
}
.frameParent {
  left: -25.3px;
  width: 2831.8px;
}
.component1 {
  width: 1435.9px;
  position: relative;
  background: linear-gradient(90deg, #fbfbfb, rgba(161, 181, 161, 0.99));
  height: 68.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.nowWere {
  position: relative;
  letter-spacing: 0.74px;
  line-height: 37.57px;
  text-transform: uppercase;
}
.nowWereWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8.167895317077637px;
}
.nowWere1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.74px;
  line-height: 37.57px;
  text-transform: uppercase;
  font-weight: 800;
}
.nowWereContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8.167895317077637px;
  font-size: var(--font-size-17xl-8);
}
.transformYourAgricultural {
  margin: 0;
}
.cultivateSuccessWith {
  font-family: var(--font-poppins);
}
.nuncUltricesTellusContainer {
  flex: 1;
  position: relative;
  line-height: 26.14px;
}
.nuncUltricesTellusWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8.167895317077637px 8.167895317077637px;
  font-size: var(--font-size-base-3);
  color: var(--color-gainsboro-200);
}
.getInTouch {
  position: relative;
  font-size: var(--font-size-base-3);
  line-height: 10.39px;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.getInTouch:hover {
  color: var(--color-darkolivegreen-300);
}
.getInTouchWrapper {
  cursor: pointer;
  border: 0;
  padding: 20.379302978515625px 40.75860595703125px;
  background-color: transparent;
  width: 201.2px;
  border-radius: 33.12px;
  background: linear-gradient(93.32deg, #4f943e, #c1ad28);
  height: 51.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.getInTouchWrapper:hover {
  mix-blend-mode: normal;
  background-color: var(--color-whitesmoke-300);
}
.transform {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.335790634155273px 0 32.67158126831055px;
  gap: 6.53px 0;
  color: var(--color-white);
}
.nowWere2,
.nowWere3 {
  position: relative;
  letter-spacing: 0.74px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere2 {
  width: 77.6px;
  display: inline-block;
  height: 37.6px;
  flex-shrink: 0;
}
.nowWere3 {
  flex: 1;
  cursor: pointer;
}
.nowWere3:hover,
.nowWere4:hover,
.nowWere5:hover,
.nowWere6:hover,
.nowWere8:hover {
  color: var(--color-goldenrod-300);
}
.nowWereFrame {
  align-self: stretch;
  height: 23.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nowWere4 {
  cursor: pointer;
}
.nowWere4,
.nowWere5 {
  flex: 1;
  position: relative;
  letter-spacing: 0.74px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 22.9px;
}
.nowWere6,
.nowWereWrapper2 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.nowWereWrapper2 {
  height: 28.6px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 8.167895317077637px 0;
  box-sizing: border-box;
}
.nowWere6 {
  position: relative;
  letter-spacing: 0.74px;
  line-height: 19.6px;
  text-transform: uppercase;
  font-weight: 500;
  height: 26.1px;
  flex-shrink: 0;
  cursor: pointer;
}
.frameChild {
  width: 67.8px;
  height: 0;
  position: relative;
  object-fit: cover;
  display: none;
}
.frameDiv,
.nowWereGroup,
.nowWereParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nowWereGroup {
  align-self: stretch;
  justify-content: center;
  cursor: pointer;
}
.nowWereGroup:hover .frameChild {
  display: flex;
}
.frameDiv,
.nowWereParent {
  justify-content: space-between;
}
.frameDiv {
  align-self: stretch;
  height: 117.6px;
  font-size: var(--font-size-sm-1);
  color: var(--color-white);
}
.nowWereParent {
  flex: 1;
  height: 167.4px;
}
.nowWere7,
.nowWere8 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.74px;
}
.nowWere7 {
  line-height: 37.57px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 37.6px;
  flex-shrink: 0;
}
.nowWere8 {
  font-size: var(--font-size-sm-1);
  line-height: 19.6px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-white);
}
.nowWereParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.27px 0;
}
.nowWere10,
.nowWere9 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.74px;
}
.nowWere9 {
  line-height: 37.57px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 29.4px;
  flex-shrink: 0;
}
.nowWere10 {
  line-height: 19.6px;
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent2,
.nowWereParent3 {
  align-self: stretch;
  flex-direction: column;
}
.nowWereParent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.62px 0;
}
.nowWereParent2 {
  gap: 5.72px 0;
  font-size: var(--font-size-sm-1);
  color: var(--color-white);
}
.frameContainer,
.frameParent1,
.nowWereParent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent1 {
  flex: 1;
  flex-direction: column;
  gap: 27.77px 0;
  font-size: var(--font-size-smi-3);
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  gap: 0 1.63px;
}
.nowWere13,
.nowWere14 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.74px;
  line-height: 37.57px;
  text-transform: uppercase;
  font-weight: 600;
}
.nowWere14 {
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.17px 0;
}
.nowWere17,
.nowWere18 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.74px;
  line-height: 37.57px;
  text-transform: capitalize;
  font-weight: 600;
}
.nowWere18 {
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 22.1px;
  flex-shrink: 0;
}
.nowWereParent5,
.nowWereParent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nowWereParent6 {
  align-self: stretch;
  gap: 5.72px 0;
}
.nowWereParent5 {
  flex: 1;
  gap: 2.45px 0;
}
.frameGroup,
.frameParent2 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frameParent2 {
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-sm-1);
  color: var(--color-white);
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 24.503686904907227px;
  gap: 32.67px 0;
  font-size: var(--font-size-xs-4);
}
.frameItem,
.nowWere19 {
  position: relative;
  cursor: pointer;
}
.frameItem {
  width: 17.2px;
  max-height: 100%;
}
.frameItem:hover {
  width: 24px;
}
.nowWere19 {
  font-size: var(--font-size-mini-7);
  letter-spacing: 0.94px;
  line-height: 47.98px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.nowWere19:hover {
  font-size: var(--font-size-4xl);
}
.nowWere21,
.vectorParent {
  display: flex;
  align-items: center;
}
.vectorParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 16.34px;
}
.nowWere21 {
  position: absolute;
  height: 203.17%;
  width: 96.15%;
  top: -51.58%;
  left: -0.7%;
  letter-spacing: 0.94px;
  line-height: 47.98px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere20,
.nowWere22 {
  align-self: stretch;
  position: relative;
}
.nowWere20 {
  height: 22.1px;
}
.nowWere22 {
  letter-spacing: 1.1px;
  line-height: 56.05px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-white);
}
.nowWereParent7 {
  align-self: stretch;
  height: 48.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.17px 0;
}
.nowWere24 {
  position: absolute;
  width: 96.15%;
  top: -58.02%;
  left: -0.79%;
  letter-spacing: 0.94px;
  line-height: 47.98px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.nowWere23 {
  align-self: stretch;
  position: relative;
  height: 21.2px;
}
.nowWere26 {
  position: absolute;
  top: 5.7px;
  left: -0.8px;
  letter-spacing: 0.94px;
  line-height: 47.98px;
  text-transform: lowercase;
  font-weight: 500;
}
.nowWere25 {
  align-self: stretch;
  position: relative;
  height: 21.2px;
  color: var(--color-white);
}
.nowWereParent8 {
  width: 215.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.17px 0;
}
.nowWere28 {
  position: absolute;
  top: -25.71%;
  left: 0;
  letter-spacing: 0.94px;
  line-height: 47.98px;
  text-transform: uppercase;
  font-weight: 500;
}
.groupIcon,
.nowWere27 {
  width: 107px;
  position: relative;
  height: 31.9px;
}
.groupIcon {
  width: 11.4px;
  height: 12.3px;
}
.instagram {
  width: 37.8px;
  border-radius: 26.04px;
  background-color: var(--color-darkgray-300);
  height: 38.2px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16.275175094604492px;
  box-sizing: border-box;
}
.vectorIcon {
  width: 6.4px;
  position: relative;
  height: 12.3px;
}
.vectorWrapper {
  width: 38.7px;
  border-radius: 30.11px;
  background-color: var(--color-darkgray-300);
  height: 39.9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16.275175094604492px 20.343969345092773px;
  box-sizing: border-box;
}
.vectorIcon1 {
  width: 13.6px;
  position: relative;
  height: 11.4px;
}
.frame {
  width: 37px;
  border-radius: var(--br-28xl-6);
  background-color: var(--color-darkgray-300);
  height: 37px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16.275175094604492px 14.240778923034668px;
  box-sizing: border-box;
}
.vectorIcon2 {
  width: 13.2px;
  position: relative;
  height: 12.3px;
}
.vectorContainer {
  width: 40.3px;
  border-radius: 32.96px;
  background-color: var(--color-darkgray-300);
  height: 39.9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16.275175094604492px;
  box-sizing: border-box;
}
.instagramParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 13.89px;
}
.frameParent3,
.nowWereParent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.nowWereParent9 {
  align-self: stretch;
  height: 80.9px;
  padding: 0 4.083947658538818px;
  gap: 8.17px 0;
}
.frameParent3 {
  height: 302.2px;
  flex: 1;
  padding: 24.503686904907227px;
  gap: 24.5px 0;
  font-size: var(--font-size-sm-1);
}
.footer,
.transformParent {
  align-self: stretch;
  display: flex;
}
.transformParent {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 32.67158126831055px 0;
  opacity: 1;
}
.transformParent.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.footer {
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 65.3431625366211px;
  gap: 8.17px;
  text-align: left;
  font-size: var(--font-size-8xl-8);
  color: var(--color-seagreen);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .frameGroup,
  .frameParent3,
  .transform {
    flex: unset;
    align-self: stretch;
  }
  .transformParent {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
    padding-left: 0;
    box-sizing: border-box;
  }
  .footer {
    align-self: stretch;
    width: auto;
  }
}
@media screen and (max-width: 960px) {
  .nowWere {
    font-size: var(--font-size-7xl);
  }
  .nowWere1 {
    font-size: var(--font-size-15xl);
  }
  .getInTouchWrapper {
    width: 200px;
    height: 55px;
    padding: var(--padding-mini) var(--padding-xl);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-21xl);
    padding-top: var(--padding-11xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .nowWere {
    font-size: var(--font-size-5xl);
  }
  .nowWere1 {
    font-size: var(--font-size-11xl);
  }
}
