@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.trustUs {
  font-size: var(--font-size-3xl);
}
.theRenownCompaniesContainer {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  font-weight: 800;
}
.download3Icon,
.download5Icon {
  width: 92px;
  position: relative;
  height: 76.7px;
  object-fit: cover;
}
.download3Icon {
  width: 59.8px;
  height: 63.6px;
}
.download5Parent {
  width: 292px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 89px;
}
.captureIcon,
.download6Icon {
  width: 171.4px;
  position: relative;
  height: 81.1px;
  object-fit: cover;
}
.download6Icon {
  width: 135.9px;
  height: 77.8px;
}
.captureParent,
.frameGroup {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0 68px;
}
.frameGroup {
  align-self: stretch;
  gap: 0 92px;
}
.download2Icon,
.download5Icon1,
.ignitiaLogo1Icon {
  width: 88.2px;
  position: relative;
  height: 62.5px;
  object-fit: cover;
}
.download2Icon,
.ignitiaLogo1Icon {
  width: 65.7px;
  height: 71.2px;
}
.ignitiaLogo1Icon {
  width: 142.5px;
  height: 57.1px;
}
.download5Group {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 45px;
}
.download1Icon,
.images1Icon {
  width: 140px;
  position: relative;
  height: 59.9px;
  object-fit: cover;
}
.images1Icon {
  width: 85.4px;
  height: 92.2px;
}
.agromite {
  position: absolute;
  top: 62.5px;
  left: 4.9px;
  letter-spacing: 0.1em;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 46.9px;
  height: 9px;
}
.downloadIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 55.9px;
  height: 61.7px;
  object-fit: cover;
}
.agromiteParent {
  width: 55.9px;
  position: relative;
  height: 71.5px;
}
.download1Parent,
.frameContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.download1Parent {
  flex: 1;
  align-items: center;
  gap: 0 43.76px;
  text-align: left;
  font-size: var(--font-size-5xs-6);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.frameContainer {
  align-self: stretch;
  align-items: flex-start;
  gap: 0 92px;
}
.mofaColorIcon {
  width: 303.5px;
  position: relative;
  height: 67.9px;
  object-fit: cover;
}
.frameParent,
.mofaColorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.mofaColorWrapper {
  align-self: stretch;
}
.frameParent {
  width: 974.1px;
  gap: var(--gap-11xl);
  opacity: 1;
}
.frameParent.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.frameWrapper,
.theRenownCompaniesThatTrusParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.theRenownCompaniesThatTrusParent {
  flex-direction: column;
  justify-content: flex-start;
  gap: 35px 0;
  text-align: center;
  font-size: var(--font-size-lgi);
  color: var(--color-darkolivegreen-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .captureParent,
  .download5Parent {
    flex-direction: row;
  }
  .frameGroup {
    align-self: stretch;
    width: auto;
  }
  .download5Group {
    flex: 1;
  }
  .download1Parent,
  .download5Group {
    align-items: center;
    justify-content: center;
  }
  .frameContainer {
    align-self: stretch;
    width: auto;
    flex-direction: row;
    gap: 0 92px;
    padding: var(--padding-3xs) var(--padding-mini);
    box-sizing: border-box;
  }
  .frameParent,
  .frameWrapper {
    align-items: center;
    justify-content: center;
  }
  .frameWrapper {
    align-self: stretch;
    width: auto;
    flex-direction: row;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 960px) {
  .download5Parent {
    gap: 0 89px;
  }
  .captureParent {
    gap: 0 68px;
  }
  .frameGroup {
    flex-direction: row;
    gap: 0 92px;
  }
  .download1Parent,
  .download5Group {
    flex: unset;
    align-self: stretch;
  }
  .frameContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .frameParent {
    flex: 1;
  }
}
@media screen and (max-width: 420px) {
  .theRenownCompaniesContainer {
    font-size: var(--font-size-mid);
  }
  .frameGroup {
    flex-direction: column;
  }
}
