.handburgerChild {
width: 37px;
position: relative;
border-radius: 378.41px;
background-color: var(--color-yellowgreen-200);
height: 6px;
}
.handburgerInner {
width: 37px;
position: relative;
border-radius: 378.41px;
background-color: var(--color-yellowgreen-200);
height: 5px;
}
.handburger {
height: 27px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: 5px 0px;
cursor: pointer;
}

