.leadershipTeam {
margin: 0;
flex: 1;
position: relative;
font-size: inherit;
font-weight: 700;
font-family: inherit;
}
.leadershipteam {
align-self: stretch;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
padding: 6.580262660980225px;
opacity: 1;
z-index: 0;
}
.leadershipteam.animate {
animation: 2s ease 0s 1 normal forwards scale-up
}

@keyframes scale-up {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}
.baseIcon {
position: absolute;
top: 0px;
left: 0px;
border-radius: 37.47px;
width: 307.4px;
height: 383.2px;
object-fit: cover;
}
.rectangle {
position: absolute;
top: 0px;
left: 0px;
border-radius: 23.42px;
background-color: var(--color-dimgray-200);
box-shadow: 0px 18.7px 37.47px rgba(33, 12, 56, 0.16);
backdrop-filter: blur(50.92px);
border: 0.8px solid var(--color-gray-1400);
box-sizing: border-box;
width: 307.4px;
height: 83.7px;
}
.block1 {
width: 307.4px;
position: relative;
height: 83.7px;
z-index: 0;
}
.razakAwudulai1 {
width: 214.7px;
position: relative;
letter-spacing: -0.01em;
line-height: 31.22px;
text-transform: capitalize;
font-weight: 800;
display: flex;
align-items: center;
flex-shrink: 0;
}
.razakAwudulaiContainer {
align-self: stretch;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.chiefExecutiveOfficer {
align-self: stretch;
position: relative;
font-size: var(--font-size-mini-1);
letter-spacing: -0.01em;
line-height: 23.42px;
text-transform: capitalize;
font-weight: 500;
background: linear-gradient(89.18deg, #867104, rgba(240, 192, 39, 0.95));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
height: 18px;
flex-shrink: 0;
}
.frameParent {
margin: 0 !important;
position: absolute;
top: 14.2px;
left: calc(50% - 107.2px);
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
z-index: 1;
}
.block1Parent {
position: absolute;
top: 0px;
left: 0px;
width: 307.4px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap: 7.81px 0px;
}
.frameWrapper {
position: absolute;
top: 0px;
left: 0px;
width: 307.4px;
height: 83.7px;
}
.razakAwudulaiInner {
position: absolute;
top: 347.2px;
left: 0px;
width: 307.4px;
height: 83.7px;
}
.razakAwudulai {
position: absolute;
top: 0px;
left: -39.2px;
width: 307.4px;
height: 430.9px;
}
.razakAwudulaiWrapper {
width: 267.7px;
height: 430.9px;
position: relative;
opacity: 1;
}
.razakAwudulaiWrapper.animate {
animation: 2s ease 0s 1 normal forwards scale-up
}
.razakIsAn {
align-self: stretch;
height: 118px;
position: relative;
font-size: var(--font-size-lg);
letter-spacing: -0.01em;
line-height: 23.42px;
text-transform: capitalize;
text-align: justify;
display: inline-block;
opacity: 1;
}
.razakIsAn.animate {
animation: 1s ease 0s 1 normal forwards scale-up
}
.card1 {
flex: 1;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
gap: 19.51px 0px;
}
.baseIcon1 {
position: absolute;
top: 0px;
left: 0px;
border-radius: 37.47px;
width: 303.6px;
height: 383.2px;
object-fit: cover;
}
.rectangle1 {
position: absolute;
top: 0px;
left: 0px;
border-radius: 23.42px;
background-color: var(--color-dimgray-200);
box-shadow: 0px 18.7px 37.47px rgba(33, 12, 56, 0.16);
backdrop-filter: blur(50.92px);
border: 0.8px solid var(--color-gray-1400);
box-sizing: border-box;
width: 295px;
height: 83.5px;
}
.block11 {
width: 295px;
position: relative;
height: 83.5px;
z-index: 0;
}
.nanaDwenmoh {
width: 220.9px;
position: relative;
letter-spacing: -0.01em;
line-height: 31.22px;
text-transform: capitalize;
font-weight: 800;
display: flex;
align-items: center;
flex-shrink: 0;
}
.chairman {
align-self: stretch;
position: relative;
font-size: var(--font-size-mini-1);
letter-spacing: -0.01em;
line-height: 23.42px;
text-transform: capitalize;
font-weight: 500;
background: linear-gradient(89.47deg, #71670c, rgba(240, 192, 39, 0.95));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
height: 18px;
flex-shrink: 0;
}
.frameGroup {
margin: 0 !important;
position: absolute;
top: 14.2px;
left: calc(50% - 110.5px);
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
z-index: 1;
}
.block1Group {
position: absolute;
top: 0px;
left: 0px;
width: 295px;
height: 83.5px;
display: flex;
flex-direction: column;
align-items: flex-start;
justify-content: flex-start;
gap: 7.81px 0px;
}
.frameContainer {
position: absolute;
top: 0px;
left: 0px;
width: 295px;
height: 83.5px;
}
.castroDansoTeamInner {
position: absolute;
top: 344.3px;
left: 9.5px;
width: 295px;
height: 83.5px;
}
.castroDansoTeam {
position: absolute;
top: 0px;
left: -36.6px;
width: 304.5px;
height: 427.8px;
}
.castroDansoTeamWrapper {
width: 267.5px;
height: 430.7px;
position: relative;
opacity: 1;
}
.castroDansoTeamWrapper.animate {
animation: 2s ease 0s 1 normal forwards scale-up
}
.nanaHas20 {
align-self: stretch;
height: 141px;
position: relative;
font-size: var(--font-size-lg);
letter-spacing: -0.01em;
line-height: 23.42px;
text-transform: capitalize;
text-align: justify;
display: inline-block;
opacity: 1;
}
.nanaHas20.animate {
animation: 1s ease 0s 1 normal forwards scale-up
}
.cardCaurosol {
align-self: stretch;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
gap: 0px 39.03px;
z-index: 1;
text-align: left;
font-size: var(--font-size-6xl);
color: var(--color-white);
font-family: var(--font-lexend-deca);
}
.getInTouch {
position: relative;
font-size: var(--font-size-lg-8);
line-height: 11.99px;
font-family: var(--font-poppins);
color: var(--color-darkslategray-200);
text-align: left;
cursor: pointer;
}
.getInTouchWrapper {
cursor: pointer;
border: none;
padding: 23.504192352294922px 47.008384704589844px;
background-color: transparent;
border-radius: 38.19px;
background: linear-gradient(93.32deg, #4f943e, #c1ad28);
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
opacity: 1;
z-index: 2;
}
.getInTouchWrapper.animate {
animation: 1s ease 0s 1 normal forwards scale-up
}
.getInTouchWrapper:hover {
background-color: var(--color-forestgreen);
animation: 1s ease 0s 1 normal none scale-up;
opacity: 1;
}
.frameChild {
width: 766.8px;
position: absolute;
margin: 0 !important;
top: 129.6px;
left: 123.6px;
height: 346.6px;
object-fit: contain;
z-index: 3;
}
.leadershipteamParent {
flex: 1;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
position: relative;
gap: 18.97px 0px;
}
.leadersections {
align-self: stretch;
background-color: var(--color-darkolivegreen-600);
overflow: hidden;
display: flex;
flex-direction: row;
align-items: flex-start;
justify-content: center;
padding: 31.222856521606445px 46.83428955078125px;
text-align: center;
font-size: var(--font-size-79xl-7);
color: var(--color-goldenrod-400);
font-family: var(--font-poppins);
}

@media screen and (max-width: 1200px) {
.leadershipTeam {
font-size: var(--font-size-51xl);
opacity: 0;
}
.leadershipTeam.animate {
animation: 1s ease 0s 1 normal forwards fade-in
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

.card1 {
flex-direction: column;
padding: var(--padding-xl) var(--padding-31xl);
box-sizing: border-box;
flex: unset;
align-self: stretch;
}

.cardCaurosol {
flex-direction: column;
align-items: center;
justify-content: center;
padding-left: var(--padding-31xl);
padding-right: var(--padding-31xl);
box-sizing: border-box;
}

.leadershipteamParent {
flex: unset;
align-self: stretch;
}

.leadersections {
flex-direction: column;
padding: var(--padding-6xl) var(--padding-101xl);
box-sizing: border-box;
}

}
@media screen and (max-width: 960px) {
.leadershipTeam {
font-size: var(--font-size-53xl);
}

.card1 {
padding-left: var(--padding-41xl);
padding-right: var(--padding-41xl);
box-sizing: border-box;
}

.cardCaurosol {
align-items: center;
justify-content: center;
padding-left: var(--padding-21xl);
padding-right: var(--padding-21xl);
box-sizing: border-box;
}

}
@media screen and (max-width: 420px) {
.leadershipTeam {
font-size: var(--font-size-43xl);
}

.leadersections {
padding-left: var(--padding-41xl);
padding-right: var(--padding-41xl);
box-sizing: border-box;
}

}
