@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.leadingTheWay {
  flex: 1;
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.leadingTheWayInInnovationWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 8.228570938110352px;
  opacity: 1;
}
.cta.animate,
.frameContainer.animate,
.leadingTheWayInInnovationWrapper.animate {
  animation: 2s ease 0s 1 normal forwards scale-up;
}
.inTheFertile {
  flex: 1;
  position: relative;
}
.inTheFertileFieldsOfInnovWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.228570938110352px;
}
.getInTouch {
  position: relative;
  font-size: var(--font-size-base-4);
  line-height: 10.47px;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.cta {
  cursor: pointer;
  border: 0;
  padding: 20.530691146850586px 41.06138229370117px;
  background-color: transparent;
  width: 197.5px;
  height: 43.6px;
  border-radius: 33.36px;
  background: linear-gradient(93.32deg, #4f943e, #c1ad28);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  opacity: 1;
}
.frameContainer,
.frameGroup {
  display: flex;
  align-items: flex-start;
}
.frameContainer {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16.46px 0;
  opacity: 1;
  font-size: var(--font-size-mini-8);
  font-family: var(--font-inter);
}
.frameGroup {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: 32.914283752441406px 0 8.228570938110352px;
}
.unsplashyo5m9vczbcmIcon {
  align-self: stretch;
  height: 291.3px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  opacity: 0;
}
.unsplashyo5m9vczbcmIcon.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.frameParent,
.leading {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.leading {
  background-color: var(--color-white);
  overflow: hidden;
  padding: 0 163.74856567382812px;
  text-align: left;
  font-size: var(--font-size-30xl-4);
  color: var(--color-darkslategray-200);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .leading {
    flex-direction: column;
    padding-left: var(--padding-81xl);
    padding-right: var(--padding-81xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .frameContainer,
  .leadingTheWayInInnovationWrapper {
    flex: unset;
    align-self: stretch;
  }
  .frameGroup {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-mini);
    padding-top: var(--padding-11xl);
    padding-right: var(--padding-mini);
    box-sizing: border-box;
  }
  .leading {
    padding: var(--padding-3xs) var(--padding-61xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .leading {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
