@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.whatWeOffer {
  align-self: stretch;
  height: 81px;
  position: relative;
  font-size: var(--font-size-35xl-2);
  display: inline-block;
  opacity: 1;
}
.productAndServicesSec4Inner.animate,
.whatWeOffer.animate {
  animation: 5s ease 0s 1 normal forwards scale-up;
}
.inTheHeart {
  margin: 0;
}
.inTheHeartContainer {
  flex: 1;
  position: relative;
}
.inTheHeartOfGhanasVibranWrapper,
.productAndServicesSec4Inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.334650993347168px;
}
.productAndServicesSec4Inner {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 1;
}
.frameChild {
  width: 489.2px;
  max-height: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  opacity: 1;
}
.frameChild.animate {
  animation: 3s ease 0s 1 normal forwards scale-up;
}
.inputCreditManagementSystem {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
}
.frameItem {
  width: 444.2px;
  position: relative;
  border-radius: 8.33px;
  background-color: var(--color-goldenrod-300);
  height: 4.2px;
}
.inputCreditManagementSystemParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.5px 0;
  opacity: 1;
  font-size: var(--font-size-4xl-3);
}
.inputCreditManagementSystemParent.animate {
  animation: 4s ease 0s 1 normal forwards scale-up;
}
.theInputCredit {
  height: 72px;
  flex: 1;
  position: relative;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  opacity: 1;
}
.theInputCredit.animate {
  animation: 3s ease 0s 1 normal forwards scale-up;
}
.thisProductDigitalisesTheIWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.334650993347168px;
  opacity: 1;
}
.thisProductDigitalisesTheIWrapper.animate {
  animation: 4s ease 0s 1 normal forwards scale-up;
}
.frameGroup,
.frameParent {
  display: flex;
  justify-content: flex-start;
}
.frameGroup {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 8.33px 0;
}
.frameParent {
  width: 981.7px;
  flex-direction: row;
  align-items: center;
  gap: 0 3.33px;
  text-align: left;
}
.paginationsIcon {
  width: 36.5px;
  position: relative;
  height: 13.6px;
}
.projectArrow {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.divider {
  width: 204.5px;
  position: relative;
  background-color: var(--color-gray-1300);
  height: 1.3px;
}
.navigation,
.projectArrowParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.navigation {
  overflow: hidden;
  justify-content: flex-start;
}
.projectArrowParent {
  align-self: stretch;
  justify-content: space-between;
}
.inputCreditManagementSystem1 {
  align-self: stretch;
  position: relative;
  text-transform: capitalize;
  font-weight: 600;
}
.thisProductAlsoContainer {
  align-self: stretch;
  position: relative;
  font-size: 15.8px;
  color: var(--color-white);
  display: inline-block;
  height: 83.4px;
  flex-shrink: 0;
}
.inputCreditManagementSystemGroup,
.productAndServicesSec4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 33.34px 0;
}
.inputCreditManagementSystemGroup {
  font-size: var(--font-size-9xl-3);
  color: var(--color-goldenrod-300);
}
.productAndServicesSec4 {
  background: linear-gradient(
    180deg,
    rgba(254, 202, 58, 0.75),
    rgba(255, 255, 255, 0)
  );
  overflow: hidden;
  padding: 33.33860397338867px 229.20291137695312px;
  text-align: center;
  font-size: 15.8px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .productAndServicesSec4 {
    display: none;
  }
}
