.ourProjects {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.theNationssBest {
  position: relative;
  font-size: var(--font-size-sm-4);
  line-height: 100%;
  font-weight: 800;
  color: var(--color-darkolivegreen-100);
}
.opf1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.nationwide {
  position: absolute;
  top: 161px;
  left: 106.9px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  background: linear-gradient(89.25deg, #003a2b, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.baseIcon {
  position: absolute;
  top: 0;
  left: -0.7px;
  width: 186.3px;
  height: 104.1px;
  object-fit: cover;
}
.aFlagshipProgram {
  position: absolute;
  top: 120.9px;
  left: 7.7px;
  font-size: var(--font-size-4xs-4);
  letter-spacing: 0.01em;
  line-height: 10.55px;
  font-weight: 300;
  display: inline-block;
  width: 175.8px;
}
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 5.62px 0 0;
  background-color: var(--color-goldenrod-300);
  box-shadow: 0 16.9px 33.75px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(45.87px);
  border: 0.7px solid var(--color-gray-1400);
  box-sizing: border-box;
  width: 107.6px;
  height: 23.7px;
}
.eSubsidy {
  position: absolute;
  top: 3.5px;
  left: 12.7px;
  letter-spacing: -0.01em;
  line-height: 22.5px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 86.5px;
  height: 16.9px;
}
.block1Parent,
.groupWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 107.6px;
  height: 23.7px;
}
.groupWrapper {
  top: 91.4px;
  left: -1.4px;
  font-size: var(--font-size-3xs-1);
  color: var(--color-darkslategray-100);
}
.nationwideParent {
  width: 185.6px;
  position: relative;
  border-radius: 0 14.06px 0 14.06px;
  background-color: var(--color-white);
  border: 0.7px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  height: 186.3px;
  overflow: hidden;
  flex-shrink: 0;
}
.nationwide1 {
  position: absolute;
  top: 161.7px;
  left: 108.3px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  background: linear-gradient(89.25deg, #003a2b, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aCreditProgram {
  font-weight: 300;
}
.mayAndLotte {
  font-weight: 500;
}
.aCreditProgramContainer {
  position: absolute;
  top: 119.5px;
  left: 8.4px;
  font-size: var(--font-size-4xs-4);
  letter-spacing: 0.01em;
  line-height: 10.55px;
  display: inline-block;
  width: 170.1px;
}
.rectangle1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 5.62px 0 0;
  background-color: var(--color-goldenrod-300);
  box-shadow: 0 16.9px 33.75px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(45.87px);
  border: 0.7px solid var(--color-gray-1400);
  box-sizing: border-box;
  width: 109.7px;
  height: 23.7px;
}
.inputCreditMgt {
  position: absolute;
  top: 3.5px;
  left: 12px;
  letter-spacing: -0.01em;
  line-height: 22.5px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 97.7px;
  height: 16.9px;
}
.block1Group,
.groupContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 109.7px;
  height: 23.7px;
}
.groupContainer {
  top: 91.4px;
  left: -1.4px;
  font-size: var(--font-size-3xs-1);
  color: var(--color-darkslategray-100);
}
.frameParent,
.frameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameWrapper {
  width: 185.6px;
  align-items: center;
}
.frameParent {
  align-items: flex-start;
  gap: 36.56px 0;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-3xs-8);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
.northernGhana {
  position: absolute;
  top: 164.5px;
  left: 85.8px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  background: linear-gradient(89.25deg, #003a2b, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.anEnumerationProgram {
  position: absolute;
  top: 119.5px;
  left: 8.4px;
  font-size: var(--font-size-4xs-4);
  letter-spacing: 0.01em;
  line-height: 10.55px;
  font-weight: 300;
  display: inline-block;
  width: 165.2px;
}
.farmerRegistration {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 22.5px;
  text-transform: capitalize;
  font-weight: 600;
  white-space: pre-wrap;
}
.farmerRegistrationWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 5.62px 0 0;
  background-color: var(--color-goldenrod-300);
  box-shadow: 0 16.9px 33.75px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(45.87px);
  border: 0.7px solid var(--color-gray-1400);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 4.218593120574951px;
}
.frameContainer,
.projectCardInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 109.7px;
  height: 22.5px;
}
.projectCardInner {
  top: 91.4px;
  left: 0.7px;
  font-size: var(--font-size-3xs-1);
  color: var(--color-darkslategray-100);
}
.nationwide2 {
  position: absolute;
  top: 165.9px;
  left: 110.4px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  background: linear-gradient(89.25deg, #003a2b, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ourClimateSmartSolution {
  position: absolute;
  top: 119.5px;
  left: 7.7px;
  font-size: var(--font-size-4xs-4);
  letter-spacing: 0.01em;
  line-height: 10.55px;
  font-weight: 300;
  display: inline-block;
  width: 175.8px;
}
.rectangle2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 5.62px 0 0;
  background-color: var(--color-goldenrod-300);
  box-shadow: 0 16.9px 33.75px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(45.87px);
  border: 0.7px solid var(--color-gray-1400);
  box-sizing: border-box;
  width: 123.7px;
  height: 23.7px;
}
.climateSmartProgram {
  position: absolute;
  top: 2.8px;
  left: 9.1px;
  letter-spacing: -0.01em;
  line-height: 22.5px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 114.6px;
  height: 16.9px;
}
.block1Container,
.groupFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 123.7px;
  height: 23.7px;
}
.groupFrame {
  top: 90px;
  left: -1.4px;
  font-size: var(--font-size-3xs-1);
  color: var(--color-darkslategray-100);
}
.projectCardParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36.56px 0;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-3xs-8);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
.nationwide3 {
  position: absolute;
  top: 161.7px;
  left: 104.8px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  background: linear-gradient(89.25deg, #003a2b, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.baseIcon4 {
  position: absolute;
  top: 0;
  left: -0.7px;
  width: 186.3px;
  height: 104.1px;
  object-fit: contain;
}
.imagineAFuture {
  position: absolute;
  top: 119.5px;
  left: 8.4px;
  font-size: var(--font-size-4xs-4);
  letter-spacing: 0.01em;
  line-height: 10.55px;
  font-weight: 300;
  display: inline-block;
  width: 163.1px;
}
.farmerKyc {
  position: absolute;
  top: 3.5px;
  left: 10.5px;
  letter-spacing: -0.01em;
  line-height: 22.5px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 65.4px;
  height: 16.9px;
}
.groupWrapper1 {
  position: absolute;
  top: 90.7px;
  left: -1.4px;
  width: 107.6px;
  height: 23.7px;
  font-size: var(--font-size-3xs-1);
  color: var(--color-darkslategray-100);
}
.savanna {
  position: absolute;
  top: 161px;
  left: 123px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  background: linear-gradient(89.25deg, #003a2b, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mayAndLotte1,
.runByOur {
  font-weight: 300;
  font-family: var(--font-poppins);
}
.mayAndLotte1 {
  font-weight: 500;
}
.runByOurClientsMayAndLot {
  margin: 0;
}
.runByOurContainer {
  position: absolute;
  top: 119.5px;
  left: 7px;
  font-size: var(--font-size-4xs-4);
  letter-spacing: 0.01em;
  line-height: 10.55px;
  display: inline-block;
  width: 175.8px;
}
.rectangle4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 5.62px 0 0;
  background-color: var(--color-goldenrod-300);
  box-shadow: 0 16.9px 33.75px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(45.87px);
  border: 0.7px solid var(--color-gray-1400);
  box-sizing: border-box;
  width: 113.2px;
  height: 23.7px;
}
.aggregationProgram {
  position: absolute;
  top: 2.8px;
  left: 9.1px;
  letter-spacing: -0.01em;
  line-height: 22.5px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 104.1px;
  height: 16.9px;
}
.block1Parent1,
.groupWrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 113.2px;
  height: 23.7px;
}
.groupWrapper2 {
  top: 91.4px;
  left: -1.4px;
  font-size: var(--font-size-3xs-1);
  color: var(--color-darkslategray-100);
}
.frameWrapper1,
.opf2 {
  display: flex;
  align-items: flex-start;
}
.frameWrapper1 {
  width: 187px;
  height: 186.3px;
  flex-direction: column;
  justify-content: flex-start;
}
.opf2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 0 54.14px;
}
.projectArrowChild {
  width: 30.8px;
  position: relative;
  height: 11.5px;
  object-fit: cover;
}
.divider {
  position: absolute;
  height: 14.29%;
  width: 112.9%;
  top: 0;
  right: 0;
  bottom: 85.71%;
  left: -12.9%;
  background-color: var(--color-gray-1300);
}
.navigation {
  width: 174.4px;
  position: relative;
  height: 9.1px;
  overflow: hidden;
  flex-shrink: 0;
}
.ourprojectframe,
.projectArrow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 281.23956298828125px;
}
.ourprojectframe {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 21.092966079711914px 0;
  gap: 29.53px 0;
  text-align: center;
  font-size: var(--font-size-9xl-1);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .frameWrapper {
    align-items: flex-start;
    justify-content: center;
  }
  .frameParent,
  .frameWrapper,
  .frameWrapper1,
  .projectCardParent {
    flex-direction: row;
  }
  .frameWrapper1 {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
  .opf2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .theNationssBest {
    font-size: var(--font-size-base);
  }
  .frameParent,
  .projectCardParent {
    flex-direction: column;
  }
  .projectCardParent {
    gap: 36.56px 0;
  }
  .opf2 {
    padding: var(--padding-3xs);
    box-sizing: border-box;
  }
}
