.ourProjects {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.theNationssBest {
  position: relative;
  font-size: var(--font-size-lgi);
  line-height: 100%;
  font-weight: 800;
  color: var(--color-darkolivegreen-100);
}
.opf1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.nationwide {
  position: absolute;
  top: 229px;
  left: 152px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  background: linear-gradient(89.25deg, #003a2b, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.baseIcon {
  position: absolute;
  top: 0;
  left: -1px;
  width: 265px;
  height: 148px;
  object-fit: cover;
}
.aFlagshipProgram {
  position: absolute;
  top: 172px;
  left: 11px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  line-height: 15px;
  font-weight: 300;
  display: inline-block;
  width: 250px;
}
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-5xs) 0 0;
  background-color: var(--color-goldenrod-300);
  box-shadow: 0 24px 48px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(65.24px);
  border: 1px solid var(--color-gray-1400);
  box-sizing: border-box;
  width: 153px;
  height: 33.7px;
}
.eSubsidy {
  position: absolute;
  top: 5px;
  left: 18px;
  letter-spacing: -0.01em;
  line-height: 32px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 123px;
  height: 24px;
}
.block1Parent,
.groupWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 153px;
  height: 33.7px;
}
.groupWrapper {
  top: 130px;
  left: -2px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
}
.nationwideParent {
  width: 264px;
  position: relative;
  border-radius: 0 var(--br-xl) 0 var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-darkslategray-100);
  box-sizing: border-box;
  height: 265px;
  overflow: hidden;
  flex-shrink: 0;
}
.nationwide1 {
  position: absolute;
  top: 230px;
  left: 154px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  background: linear-gradient(89.25deg, #003a2b, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aCreditProgram {
  font-weight: 300;
}
.mayAndLotte {
  font-weight: 500;
}
.aCreditProgramContainer {
  position: absolute;
  top: 170px;
  left: 12px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  line-height: 15px;
  display: inline-block;
  width: 242px;
}
.rectangle1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-5xs) 0 0;
  background-color: var(--color-goldenrod-300);
  box-shadow: 0 24px 48px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(65.24px);
  border: 1px solid var(--color-gray-1400);
  box-sizing: border-box;
  width: 156px;
  height: 33.7px;
}
.inputCreditMgt {
  position: absolute;
  top: 5px;
  left: 17px;
  letter-spacing: -0.01em;
  line-height: 32px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 139px;
  height: 24px;
}
.block1Group,
.groupContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 156px;
  height: 33.7px;
}
.groupContainer {
  top: 130px;
  left: -2px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
}
.frameParent,
.frameWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frameWrapper {
  width: 264px;
  align-items: center;
}
.frameParent {
  align-items: flex-start;
  gap: 52px 0;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
.northernGhana {
  position: absolute;
  top: 234px;
  left: 122px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  background: linear-gradient(89.25deg, #003a2b, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.anEnumerationProgram {
  position: absolute;
  top: 170px;
  left: 12px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  line-height: 15px;
  font-weight: 300;
  display: inline-block;
  width: 235px;
}
.farmerRegistration {
  position: relative;
  letter-spacing: -0.01em;
  line-height: 32px;
  text-transform: capitalize;
  font-weight: 600;
  white-space: pre-wrap;
}
.farmerRegistrationWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 var(--br-5xs) 0 0;
  background-color: var(--color-goldenrod-300);
  box-shadow: 0 24px 48px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(65.24px);
  border: 1px solid var(--color-gray-1400);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-7xs);
}
.frameContainer,
.projectCardInner {
  position: absolute;
  top: 0;
  left: 0;
  width: 156px;
  height: 32px;
}
.projectCardInner {
  top: 130px;
  left: 1px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
}
.nationwide2 {
  position: absolute;
  top: 236px;
  left: 157px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  background: linear-gradient(89.25deg, #003a2b, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.ourClimateSmartSolution {
  position: absolute;
  top: 170px;
  left: 11px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  line-height: 15px;
  font-weight: 300;
  display: inline-block;
  width: 250px;
}
.rectangle2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-5xs) 0 0;
  background-color: var(--color-goldenrod-300);
  box-shadow: 0 24px 48px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(65.24px);
  border: 1px solid var(--color-gray-1400);
  box-sizing: border-box;
  width: 176px;
  height: 33.7px;
}
.climateSmartProgram {
  position: absolute;
  top: 4px;
  left: 13px;
  letter-spacing: -0.01em;
  line-height: 32px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 163px;
  height: 24px;
}
.block1Container,
.groupFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 176px;
  height: 33.7px;
}
.groupFrame {
  top: 128px;
  left: -2px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
}
.projectCardParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 52px 0;
  cursor: pointer;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
.nationwide3 {
  position: absolute;
  top: 230px;
  left: 149px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  background: linear-gradient(89.25deg, #003a2b, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.baseIcon4 {
  position: absolute;
  top: 0;
  left: -1px;
  width: 265px;
  height: 148px;
  object-fit: contain;
}
.imagineAFuture {
  position: absolute;
  top: 170px;
  left: 12px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  line-height: 15px;
  font-weight: 300;
  display: inline-block;
  width: 232px;
}
.farmerKyc {
  position: absolute;
  top: 5px;
  left: 15px;
  letter-spacing: -0.01em;
  line-height: 32px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 93px;
  height: 24px;
}
.groupWrapper1 {
  position: absolute;
  top: 129px;
  left: -2px;
  width: 153px;
  height: 33.7px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
}
.savanna {
  position: absolute;
  top: 229px;
  left: 175px;
  text-transform: capitalize;
  font-weight: 500;
  font-family: var(--font-lexend-deca);
  background: linear-gradient(89.25deg, #003a2b, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mayAndLotte1,
.runByOur {
  font-weight: 300;
  font-family: var(--font-poppins);
}
.mayAndLotte1 {
  font-weight: 500;
}
.runByOurClientsMayAndLot {
  margin: 0;
}
.runByOurContainer {
  position: absolute;
  top: 170px;
  left: 10px;
  font-size: var(--font-size-xs);
  letter-spacing: 0.01em;
  line-height: 15px;
  display: inline-block;
  width: 250px;
}
.rectangle4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-5xs) 0 0;
  background-color: var(--color-goldenrod-300);
  box-shadow: 0 24px 48px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(65.24px);
  border: 1px solid var(--color-gray-1400);
  box-sizing: border-box;
  width: 161px;
  height: 33.7px;
}
.aggregationProgram {
  position: absolute;
  top: 4px;
  left: 13px;
  letter-spacing: -0.01em;
  line-height: 32px;
  text-transform: capitalize;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 148px;
  height: 24px;
}
.block1Parent1,
.groupWrapper2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 161px;
  height: 33.7px;
}
.groupWrapper2 {
  top: 130px;
  left: -2px;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-100);
}
.frameWrapper1,
.opf2 {
  display: flex;
  align-items: flex-start;
}
.frameWrapper1 {
  width: 266px;
  height: 265px;
  flex-direction: column;
  justify-content: flex-start;
}
.opf2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  gap: 0 77px;
}
.projectArrowChild {
  width: 43.8px;
  position: relative;
  height: 16.4px;
  object-fit: cover;
}
.divider {
  position: absolute;
  height: 14.62%;
  width: 112.9%;
  top: -0.77%;
  right: 0;
  bottom: 86.15%;
  left: -12.9%;
  background-color: var(--color-gray-1300);
}
.navigation {
  width: 248px;
  position: relative;
  height: 13px;
  overflow: hidden;
  flex-shrink: 0;
}
.ourprojectframe,
.projectArrow {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-381xl);
}
.ourprojectframe {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-11xl) 0;
  gap: 42px 0;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .frameWrapper {
    align-items: flex-start;
    justify-content: center;
  }
  .frameParent,
  .frameWrapper,
  .frameWrapper1,
  .projectCardParent {
    flex-direction: row;
  }
  .frameWrapper1 {
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: var(--padding-3xs);
    padding-right: var(--padding-3xs);
    box-sizing: border-box;
  }
  .opf2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .theNationssBest {
    font-size: var(--font-size-base);
  }
  .frameParent,
  .projectCardParent {
    flex-direction: column;
  }
  .projectCardParent {
    gap: 52px 0;
  }
  .opf2 {
    padding: var(--padding-3xs);
    box-sizing: border-box;
  }
}
