@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.weAre {
  font-weight: 300;
  font-family: var(--font-poppins);
}
.transforming {
  font-weight: 800;
}
.weAreTransforming {
  margin: 0;
}
.africanAgricultureOne {
  font-weight: 300;
  white-space: pre-wrap;
}
.atATime {
  margin: 0;
  font-weight: 300;
}
.weAreTransformingContainer {
  height: 165px;
  flex: 1;
  position: relative;
  line-height: 100%;
  display: inline-block;
  opacity: 1;
}
.weAreTransformingContainer.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.weAreTransformingAfricanAgWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 93.6685791015625px;
  opacity: 0;
}
.weAreTransformingAfricanAgWrapper.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.aboutusPage,
.herosec {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.herosec {
  align-self: stretch;
  overflow: hidden;
  justify-content: center;
  padding: 31.222856521606445px 0;
  background-image: url(/herosec@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  mix-blend-mode: hard-light;
  text-align: center;
  font-size: var(--font-size-35xl-6);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.aboutusPage {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-300);
  justify-content: flex-start;
}
@media screen and (max-width: 1200px) {
  .herosec {
    height: 600px;
    gap: var(--gap-0);
    padding-left: var(--padding-xl);
    padding-top: 0;
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
