@keyframes shadow-drop-bottom {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  to {
    box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
  }
}
@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.hot {
  position: relative;
  line-height: 100%;
}
.frameParent,
.hotWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.hotWrapper {
  background-color: var(--color-firebrick);
  align-items: center;
  padding: 4.217926025390625px;
}
.frameParent {
  align-self: stretch;
  align-items: flex-start;
  gap: 0 8.44px;
}
.agrospectrumLimitedWins {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  font-weight: 800;
  white-space: pre-wrap;
}
.november232023 {
  width: 124px;
  position: relative;
  line-height: 100%;
  font-weight: 200;
  display: flex;
  align-items: center;
  height: 18.6px;
  flex-shrink: 0;
}
.agrospectrumLimitedWinsTwoParent,
.november232023Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-2xs-1);
}
.agrospectrumLimitedWinsTwoParent {
  flex-direction: column;
  align-items: center;
  gap: 4.22px 0;
  font-size: var(--font-size-9xl-7);
  color: var(--color-black);
}
.mrCastroAwards1 {
  width: 914.4px;
  position: relative;
  border-radius: 16.87px;
  height: 521.3px;
  object-fit: cover;
}
.mrCastroAwards1:hover {
  animation: 2s ease 0s 1 normal none shadow-drop-bottom;
  opacity: 1;
}
.agrospectrumLimitedA {
  margin: 0;
  white-space: pre-wrap;
}
.blankLine {
  margin: 0;
}
.agrospectrumLimitedAContainer {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm-5);
  color: var(--color-black);
  text-align: justify;
}
.gradientmsgChild {
  width: 279.7px;
  position: relative;
  height: 245.6px;
  object-fit: cover;
}
.weSupportAgribusinessContainer {
  align-self: stretch;
  height: 120px;
  position: relative;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  display: inline-block;
  opacity: 1;
}
.weSupportAgribusinessContainer.animate {
  animation: 3s ease 0s 1 normal forwards scale-up;
}
.frameChild {
  width: 11.8px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 12.4px;
  object-fit: cover;
}
.viewProducts {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.vectorParent {
  border: 2.5px solid var(--color-seagreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16.8717041015625px 33.743408203125px;
  gap: 0 8.44px;
  cursor: pointer;
  font-size: var(--font-size-smi-7);
}
.weSupportAgribusinessIndustParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.8717041015625px;
  gap: 16.87px 0;
}
.gradientmsg {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 66.64px;
}
.blogpage1,
.gradientmsgWrapper,
.section6partners {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.gradientmsgWrapper {
  align-self: stretch;
  background-color: var(--color-darkgreen-100);
  align-items: flex-start;
  padding: 8.43585205078125px;
  font-size: var(--font-size-13xl-1);
  font-family: var(--font-lexend-deca);
}
.blogpage1,
.section6partners {
  overflow: hidden;
  align-items: center;
}
.section6partners {
  align-self: stretch;
  padding: 35.430580139160156px 210.8963165283203px;
  gap: 25.31px 0;
  background-image: url(/section6partners3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-2xs-1);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.blogpage1 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkolivegreen-700);
}
@media screen and (max-width: 1200px) {
  .gradientmsgChild {
    width: 320px;
    height: 280px;
  }
  .weSupportAgribusinessContainer {
    font-size: var(--font-size-9xl);
  }
  .section6partners {
    gap: 25.31px 0;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-131xl);
    padding-right: var(--padding-131xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .gradientmsgChild {
    width: 250px;
    height: 250px;
  }
  .weSupportAgribusinessContainer {
    font-size: var(--font-size-3xl);
  }
  .section6partners {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .agrospectrumLimitedWins {
    font-size: var(--font-size-lg);
  }
  .mrCastroAwards1 {
    height: 400px;
  }
  .weSupportAgribusinessContainer {
    font-size: var(--font-size-lg);
  }
  .weSupportAgribusinessIndustParent {
    flex: unset;
    align-self: stretch;
  }
  .gradientmsg {
    flex-direction: column;
  }
  .section6partners {
    display: flex;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
