@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.clipPathGroup {
  position: absolute;
  height: 86.12%;
  width: 23.71%;
  top: 12.65%;
  right: 76.29%;
  bottom: 1.22%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.clipPathGroup1 {
  height: 83.27%;
  width: 12.67%;
  top: -1.22%;
  right: 59.24%;
  bottom: 17.96%;
  left: 28.09%;
  object-fit: cover;
  cursor: pointer;
}
.clipPathGroup1,
.clipPathGroup2,
.oursubsidiarylogosChild {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.clipPathGroup2 {
  height: 80.41%;
  width: 21.67%;
  top: 6.94%;
  right: 34.27%;
  bottom: 12.65%;
  left: 44.06%;
  object-fit: cover;
  cursor: pointer;
}
.oursubsidiarylogosChild {
  height: 68.98%;
  width: 29.26%;
  top: 10.2%;
  right: 1.86%;
  bottom: 20.82%;
  left: 68.88%;
}
.oursubsidiarylogos {
  position: absolute;
  top: 1.1px;
  left: 37.1px;
  width: 333.2px;
  height: 24.5px;
  display: none;
}
.images21 {
  position: absolute;
  top: 5.9px;
  left: 4.2px;
  width: 12.7px;
  height: 18.5px;
  object-fit: cover;
}
.arrowframe {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7.6px;
  left: 65px;
  width: 29.3px;
  height: 29.3px;
}
.arrowframe1:hover .oursubsidiarylogos,
.arrowframe2:hover .oursubsidiarylogos,
.arrowframe3:hover .oursubsidiarylogos,
.arrowframe:hover .oursubsidiarylogos,
.nowWereGroup:hover .frameItem {
  display: flex;
}
.lgoframe,
.logoIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.logoIcon {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.lgoframe {
  width: 57px;
  height: 35.9px;
  cursor: pointer;
}
.logoasset {
  width: 106px;
  position: relative;
  height: 36px;
}
.linkAbout1 {
  position: absolute;
  top: -6.58%;
  left: 0;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.27px;
  line-height: 16.2px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  cursor: pointer;
}
.contactUs:hover,
.linkAbout1:hover,
.linkPricing3:hover,
.linkPricing:hover {
  color: var(--color-goldenrod-100);
}
.linkAbout {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 35.4px;
  position: relative;
  height: 15.2px;
}
.homecChild {
  width: 33.7px;
  position: relative;
  height: 0;
  object-fit: cover;
  display: none;
}
.homec {
  width: 35.4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.22px 0;
  cursor: pointer;
}
.linkPricing {
  height: 17px;
  position: relative;
  font-size: var(--font-size-2xs);
  letter-spacing: 0.27px;
  line-height: 16.2px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  cursor: pointer;
}
.aboutus,
.clientspartners,
.producAndServices {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.clientspartners,
.producAndServices {
  justify-content: flex-end;
}
.clientspartners {
  flex-direction: row;
  justify-content: center;
}
.linkPricing3 {
  height: 17px;
  position: relative;
  font-size: var(--font-size-smi-4);
  letter-spacing: 0.27px;
  line-height: 16.2px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  cursor: pointer;
}
.mediaChild {
  width: 33.7px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}
.media {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3.37px 0;
}
.contactUs {
  height: 18px;
  flex: 1;
  position: relative;
  font-size: var(--font-size-smi-7);
  line-height: 17.21px;
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  cursor: pointer;
}
.contactusContainer {
  cursor: pointer;
  border: 0.8px solid var(--color-yellowgreen-100);
  padding: 10.12302303314209px 16.8717041015625px;
  background-color: transparent;
  width: 135px;
  border-radius: 42.18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contactusContainer:hover {
  background-color: var(--color-gray-900);
}
.handburgerChild,
.handburgerInner,
.handburgerItem {
  width: 24.9px;
  position: relative;
  border-radius: 319.22px;
  background-color: var(--color-yellowgreen-200);
  height: 4.5px;
  z-index: 0;
}
.handburgerInner,
.handburgerItem {
  z-index: 1;
}
.handburgerInner {
  position: absolute;
  margin: 0 !important;
  top: 16.6px;
  left: 0;
  z-index: 2;
}
.handburger {
  height: 21.1px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 4.22px 0;
}
.logorightnavlink,
.navdesktop,
.rightnavlink {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rightnavlink {
  margin: 0;
  width: 547.5px;
  justify-content: flex-end;
  gap: 0 16.87px;
}
.logorightnavlink,
.navdesktop {
  align-self: stretch;
  justify-content: space-between;
}
.navdesktop {
  margin: 0;
  background-color: var(--color-gray-1200);
  box-shadow: 0 0 25.31px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(33.74px);
  border: 0.8px solid var(--color-gray-1100);
  box-sizing: border-box;
  height: 67.5px;
  flex-direction: column;
  justify-content: center;
  padding: 11.81019401550293px 126.53778839111328px;
  min-width: 796.344482421875px;
}
.arrowframe1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7.6px;
  left: 65px;
  width: 29.3px;
  height: 29.3px;
}
.lgoframe1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 57px;
  height: 35.9px;
}
.logoasset1 {
  align-self: stretch;
  width: 141.7px;
  position: relative;
}
.handburgerChild2,
.rectangleDiv {
  width: 31.2px;
  position: relative;
  border-radius: 319.22px;
  background-color: var(--color-yellowgreen-200);
  height: 5.1px;
}
.handburgerChild2 {
  height: 4.2px;
}
.handburger1 {
  height: 22.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4.22px 0;
  cursor: pointer;
}
.contactUs1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-smi-7);
  line-height: 17.21px;
  font-weight: 600;
  font-family: var(--font-inter);
  background: linear-gradient(180deg, #b6c2f1, #ebefff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  cursor: pointer;
}
.contactusContainer1,
.rightnavlink1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contactusContainer1 {
  cursor: pointer;
  border: 0.8px solid var(--color-olivedrab-100);
  padding: 10.12302303314209px 16.8717041015625px;
  background-color: transparent;
  width: 128.2px;
  border-radius: 42.18px;
  box-sizing: border-box;
  justify-content: space-between;
}
.rightnavlink1 {
  flex: 1;
  justify-content: flex-end;
  gap: 0 25.31px;
}
.logorightnavlink1,
.nav {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logorightnavlink1 {
  flex: 1;
  display: flex;
}
.nav {
  margin: 0;
  width: 1012.3px;
  background-color: var(--color-gray-1200);
  box-shadow: 0 0 25.31px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(3.37px);
  border: 0.8px solid var(--color-gray-1100);
  box-sizing: border-box;
  display: none;
  padding: 11.81019401550293px 25.307558059692383px;
}
.arrowframe2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7.6px;
  left: 65px;
  width: 29.3px;
  height: 29.3px;
}
.nav1 {
  margin: 0;
  width: 809.8px;
  background-color: var(--color-gray-1200);
  box-shadow: 0 0 25.31px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(3.37px);
  border: 0.8px solid var(--color-gray-1100);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 11.81019401550293px 25.307558059692383px;
}
.arrowframe3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: -1.7px;
  left: 65px;
  width: 29.3px;
  height: 29.3px;
}
.logoIcon3,
.rightnavlinkIcon {
  max-width: 100%;
  overflow: hidden;
}
.logoIcon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -21.17%;
  right: 0;
  bottom: 21.17%;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.rightnavlinkIcon {
  flex: 1;
  height: 24px;
  object-fit: contain;
}
.nav2 {
  margin: 0;
  width: 354.3px;
  background-color: var(--color-gray-1200);
  box-shadow: 0 0 25.31px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(3.37px);
  border: 0.8px solid var(--color-gray-1100);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 12.653779029846191px 25.307558059692383px;
}
.allnavs {
  align-self: stretch;
  background: linear-gradient(
    -90deg,
    rgba(143, 218, 141, 0.1),
    rgba(123, 119, 11, 0.1) 44.68%,
    rgba(1, 32, 1, 0.1) 62.18%,
    rgba(1, 32, 1, 0.1)
  );
  backdrop-filter: blur(8.44px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hot {
  position: relative;
  line-height: 100%;
}
.frameParent,
.hotWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.hotWrapper {
  background-color: var(--color-firebrick);
  align-items: center;
  padding: 4.217926025390625px;
}
.frameParent {
  align-self: stretch;
  align-items: flex-start;
  gap: 0 8.44px;
}
.m {
  text-transform: uppercase;
}
.ayAnd {
  text-transform: lowercase;
}
.mayAndLotteContainer {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  font-weight: 800;
}
.december202023 {
  width: 118.1px;
  position: relative;
  line-height: 100%;
  font-weight: 200;
  display: flex;
  align-items: center;
  height: 18.6px;
  flex-shrink: 0;
}
.december202023Wrapper,
.mayAndLotteInternationalPaParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-2xs-1);
}
.mayAndLotteInternationalPaParent {
  flex-direction: column;
  align-items: center;
  gap: 4.22px 0;
  font-size: var(--font-size-9xl-7);
  color: var(--color-black);
}
.mayAndLotte {
  margin: 0;
}
.theProgramsThat {
  margin: 0;
  white-space: pre-wrap;
}
.mayAndLotteContainer1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm-5);
  color: var(--color-black);
  text-align: justify;
}
.download6Icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 542.4px;
  flex-shrink: 0;
  object-fit: cover;
}
.download6Wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.gradientmsgChild {
  width: 279.7px;
  position: relative;
  height: 245.6px;
  object-fit: cover;
}
.weSupportAgribusinessContainer {
  align-self: stretch;
  height: 120px;
  position: relative;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  display: inline-block;
  opacity: 1;
}
.weSupportAgribusinessContainer.animate {
  animation: 3s ease 0s 1 normal forwards scale-up;
}
.frameChild {
  width: 11.8px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 12.4px;
  object-fit: cover;
}
.viewProducts {
  position: relative;
  text-transform: uppercase;
  font-weight: 600;
}
.vectorParent {
  border: 2.5px solid var(--color-seagreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16.8717041015625px 33.743408203125px;
  gap: 0 8.44px;
  cursor: pointer;
  font-size: var(--font-size-smi-7);
}
.weSupportAgribusinessIndustParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.8717041015625px;
  gap: 16.87px 0;
}
.gradientmsg {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0 66.64px;
}
.gradientmsgWrapper {
  align-self: stretch;
  background-color: var(--color-darkgreen-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 8.43585205078125px;
  font-size: var(--font-size-13xl-1);
  font-family: var(--font-lexend-deca);
}
.path2Icon,
.vectorIcon {
  position: absolute;
  height: 97.37%;
  width: 97.37%;
  top: 1.32%;
  right: 1.32%;
  bottom: 1.32%;
  left: 1.32%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  transform: rotate(180deg);
}
.path2Icon {
  height: 21.05%;
  width: 10.53%;
  top: -62.5%;
  right: 143.64%;
  bottom: 141.45%;
  left: -54.17%;
  cursor: pointer;
}
.faq,
.navRightsvgFill {
  position: relative;
  flex-shrink: 0;
}
.navRightsvgFill {
  width: 45.6px;
  height: 45.6px;
  overflow: hidden;
  transform: rotate(-180deg);
  cursor: pointer;
}
.faq {
  width: 340px;
  letter-spacing: 2.53px;
  line-height: 26.99px;
  display: inline-block;
}
.path2Icon1,
.vectorIcon1 {
  position: absolute;
  height: 97.37%;
  width: 97.37%;
  top: 1.32%;
  right: -0.44%;
  bottom: 1.32%;
  left: 3.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.path2Icon1 {
  height: 21.05%;
  width: 10.53%;
  top: 41.23%;
  right: 43.86%;
  bottom: 37.72%;
  left: 45.61%;
}
.navRightsvgFill1 {
  width: 45.6px;
  position: relative;
  height: 45.6px;
  overflow: hidden;
  flex-shrink: 0;
}
.arrow,
.section6partners {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray-300);
}
.section6partners {
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 35.430580139160156px 210.8963165283203px;
  gap: 25.31px 0;
  background-image: url(/section6partners6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-2xs-1);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.captureIcon,
.download5Icon,
.download5Icon1 {
  position: absolute;
  top: 10.6px;
  left: 0;
  width: 59.5px;
  height: 49.6px;
  object-fit: cover;
}
.captureIcon,
.download5Icon1 {
  top: 11.3px;
  left: 106px;
  width: 73.7px;
  height: 48.2px;
}
.captureIcon {
  top: 9.2px;
  left: 226.2px;
  width: 119.7px;
  height: 52.4px;
}
.download3Icon,
.imagesIcon,
.mofaColorIcon {
  position: absolute;
  top: 13.5px;
  left: 392.4px;
  width: 209.7px;
  height: 43.9px;
  object-fit: cover;
}
.download3Icon,
.imagesIcon {
  top: 14.9px;
  left: 648.6px;
  width: 41.8px;
  height: 41.1px;
}
.imagesIcon {
  top: 18.8px;
  left: 736.9px;
  width: 97.8px;
  height: 33.3px;
  mix-blend-mode: difference;
}
.download1Icon,
.download6Icon1 {
  position: absolute;
  top: 10.3px;
  left: 881.1px;
  width: 87.9px;
  height: 50.3px;
  object-fit: cover;
}
.download1Icon {
  top: 12.4px;
  left: 1015.5px;
  width: 116.2px;
  height: 46.1px;
}
.download2Icon,
.downloadIcon,
.images1Icon {
  position: absolute;
  top: 8.9px;
  left: 1178.2px;
  width: 48.2px;
  height: 53.1px;
  object-fit: cover;
}
.download2Icon,
.images1Icon {
  top: 0;
  left: 1272.8px;
  width: 70.9px;
  height: 70.9px;
}
.download2Icon {
  top: 13.5px;
  left: 1390.2px;
  width: 43.9px;
  height: 43.9px;
}
.download5Group,
.download5Parent,
.frameGroup {
  position: absolute;
  top: 0;
  left: 1488.9px;
  width: 1434.1px;
  height: 70.9px;
}
.download5Group,
.frameGroup {
  left: 0;
}
.frameGroup {
  left: -26.2px;
  width: 2924.7px;
}
.component1 {
  width: 1483px;
  position: relative;
  background: linear-gradient(90deg, #fbfbfb, rgba(161, 181, 161, 0.99));
  height: 70.9px;
  overflow: hidden;
  flex-shrink: 0;
}
.nowWere {
  position: relative;
  letter-spacing: 0.76px;
  line-height: 38.8px;
  text-transform: uppercase;
}
.nowWereWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8.43585205078125px;
}
.nowWere1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.76px;
  line-height: 38.8px;
  text-transform: uppercase;
  font-weight: 800;
}
.nowWereContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8.43585205078125px;
  font-size: var(--font-size-19xl);
}
.cultivateSuccessWith {
  font-family: var(--font-poppins);
}
.nuncUltricesTellusContainer {
  flex: 1;
  position: relative;
  line-height: 26.99px;
}
.nuncUltricesTellusWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8.43585205078125px 8.43585205078125px;
  font-size: var(--font-size-base-9);
  color: var(--color-gainsboro-200);
}
.getInTouch {
  position: relative;
  font-size: var(--font-size-base-8);
  line-height: 10.73px;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.getInTouch:hover {
  color: var(--color-darkolivegreen-300);
}
.getInTouchWrapper {
  cursor: pointer;
  border: 0;
  padding: 21.047868728637695px 42.09573745727539px;
  background-color: transparent;
  width: 207.8px;
  border-radius: var(--br-15xl-2);
  background: linear-gradient(93.32deg, #4f943e, #c1ad28);
  height: 53.1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.getInTouchWrapper:hover {
  mix-blend-mode: normal;
  background-color: var(--color-whitesmoke-300);
}
.transform {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.8717041015625px 0 33.743408203125px;
  gap: 6.75px 0;
  color: var(--color-white);
}
.nowWere2,
.nowWere3 {
  position: relative;
  letter-spacing: 0.76px;
  line-height: 20.25px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere2 {
  width: 80.1px;
  display: inline-block;
  height: 38.8px;
  flex-shrink: 0;
}
.nowWere3 {
  flex: 1;
  cursor: pointer;
}
.nowWere3:hover,
.nowWere4:hover,
.nowWere5:hover,
.nowWere6:hover,
.nowWere8:hover {
  color: var(--color-goldenrod-300);
}
.nowWereFrame {
  align-self: stretch;
  height: 24.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nowWere4 {
  cursor: pointer;
}
.nowWere4,
.nowWere5 {
  flex: 1;
  position: relative;
  letter-spacing: 0.76px;
  line-height: 20.25px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 23.6px;
}
.nowWere6,
.nowWereWrapper2 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.nowWereWrapper2 {
  height: 29.5px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 8.43585205078125px 0;
  box-sizing: border-box;
}
.nowWere6 {
  position: relative;
  letter-spacing: 0.76px;
  line-height: 20.25px;
  text-transform: uppercase;
  font-weight: 500;
  height: 27px;
  flex-shrink: 0;
  cursor: pointer;
}
.frameItem {
  width: 70px;
  height: 0;
  position: relative;
  object-fit: cover;
  display: none;
}
.frameParent1,
.nowWereGroup,
.nowWereParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nowWereGroup {
  align-self: stretch;
  justify-content: center;
  cursor: pointer;
}
.frameParent1,
.nowWereParent {
  justify-content: space-between;
}
.frameParent1 {
  align-self: stretch;
  height: 121.5px;
  font-size: var(--font-size-sm-5);
  color: var(--color-white);
}
.nowWereParent {
  flex: 1;
  height: 172.9px;
}
.nowWere7,
.nowWere8 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.76px;
}
.nowWere7 {
  line-height: 38.8px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 38.8px;
  flex-shrink: 0;
}
.nowWere8 {
  font-size: var(--font-size-sm-5);
  line-height: 20.25px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-white);
}
.nowWereParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.37px 0;
}
.nowWere10,
.nowWere9 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.76px;
}
.nowWere9 {
  line-height: 38.8px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 30.4px;
  flex-shrink: 0;
}
.nowWere10 {
  line-height: 20.25px;
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent2,
.nowWereParent3 {
  align-self: stretch;
  flex-direction: column;
}
.nowWereParent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.97px 0;
}
.nowWereParent2 {
  gap: 5.91px 0;
  font-size: var(--font-size-sm-5);
  color: var(--color-white);
}
.frameDiv,
.frameParent2,
.nowWereParent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent2 {
  flex: 1;
  flex-direction: column;
  gap: 28.68px 0;
  font-size: var(--font-size-smi-7);
}
.frameDiv {
  align-self: stretch;
  flex-direction: row;
  gap: 0 1.69px;
}
.nowWere13,
.nowWere14 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.76px;
  line-height: 38.8px;
  text-transform: uppercase;
  font-weight: 600;
}
.nowWere14 {
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.44px 0;
}
.nowWere17,
.nowWere18 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.76px;
  line-height: 38.8px;
  text-transform: capitalize;
  font-weight: 600;
}
.nowWere18 {
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 22.8px;
  flex-shrink: 0;
}
.nowWereParent5,
.nowWereParent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nowWereParent6 {
  align-self: stretch;
  gap: 5.91px 0;
}
.nowWereParent5 {
  flex: 1;
  gap: 2.53px 0;
}
.frameContainer,
.frameParent3 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frameParent3 {
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-sm-5);
  color: var(--color-white);
}
.frameContainer {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 25.307558059692383px;
  gap: 33.74px 0;
  font-size: var(--font-size-xs-8);
}
.frameInner,
.nowWere19 {
  position: relative;
  cursor: pointer;
}
.frameInner {
  width: 17.7px;
  max-height: 100%;
}
.frameInner:hover {
  width: 24px;
}
.nowWere19 {
  font-size: var(--font-size-base-2);
  letter-spacing: 0.97px;
  line-height: 49.55px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.nowWere19:hover {
  font-size: var(--font-size-4xl);
}
.nowWere21,
.vectorGroup {
  display: flex;
  align-items: center;
}
.vectorGroup {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 16.87px;
}
.nowWere21 {
  position: absolute;
  height: 203.07%;
  width: 96.15%;
  top: -51.75%;
  left: -0.7%;
  letter-spacing: 0.97px;
  line-height: 49.55px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere20,
.nowWere22 {
  align-self: stretch;
  position: relative;
}
.nowWere20 {
  height: 22.8px;
}
.nowWere22 {
  letter-spacing: 1.13px;
  line-height: 57.89px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-white);
}
.nowWereParent7 {
  align-self: stretch;
  height: 49.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.44px 0;
}
.nowWere24 {
  position: absolute;
  width: 96.14%;
  top: -62.56%;
  left: -0.76%;
  letter-spacing: 0.97px;
  line-height: 49.55px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.nowWere23 {
  align-self: stretch;
  position: relative;
  height: 21.9px;
}
.nowWere26 {
  position: absolute;
  top: 5.9px;
  left: -0.8px;
  letter-spacing: 0.97px;
  line-height: 49.55px;
  text-transform: lowercase;
  font-weight: 500;
}
.nowWere25 {
  align-self: stretch;
  position: relative;
  height: 21.9px;
  color: var(--color-white);
}
.nowWereParent8 {
  width: 222.7px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.44px 0;
}
.nowWere28 {
  position: absolute;
  top: -28.57%;
  left: 0;
  letter-spacing: 0.97px;
  line-height: 49.55px;
  text-transform: uppercase;
  font-weight: 500;
}
.groupIcon1,
.nowWere27 {
  width: 110.5px;
  position: relative;
  height: 32.9px;
}
.groupIcon1 {
  width: 11.7px;
  height: 12.7px;
}
.instagram {
  width: 39.1px;
  border-radius: 26.89px;
  background-color: var(--color-darkgray-300);
  height: 39.5px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16.809099197387695px;
  box-sizing: border-box;
}
.vectorIcon2 {
  width: 6.6px;
  position: relative;
  height: 12.7px;
}
.vectorWrapper {
  width: 39.9px;
  border-radius: var(--br-12xl-1);
  background-color: var(--color-darkgray-300);
  height: 41.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16.809099197387695px 21.011375427246094px;
  box-sizing: border-box;
}
.vectorIcon3 {
  width: 14.1px;
  position: relative;
  height: 11.8px;
}
.frame {
  width: 38.2px;
  border-radius: 49.17px;
  background-color: var(--color-darkgray-300);
  height: 38.2px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16.809099197387695px 14.707962989807129px;
  box-sizing: border-box;
}
.vectorIcon4 {
  width: 13.6px;
  position: relative;
  height: 12.7px;
}
.vectorContainer {
  width: 41.6px;
  border-radius: 34.04px;
  background-color: var(--color-darkgray-300);
  height: 41.2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16.809099197387695px;
  box-sizing: border-box;
}
.instagramParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 14.34px;
}
.frameParent4,
.nowWereParent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.nowWereParent9 {
  align-self: stretch;
  height: 83.5px;
  padding: 0 4.217926025390625px;
  gap: 8.44px 0;
}
.frameParent4 {
  height: 312.1px;
  flex: 1;
  padding: 25.307558059692383px;
  gap: 25.31px 0;
  font-size: var(--font-size-sm-5);
}
.footer,
.transformParent {
  align-self: stretch;
  display: flex;
}
.transformParent {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 33.743408203125px 0;
  opacity: 1;
}
.transformParent.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.footer {
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 67.48681640625px;
  gap: 8.44px;
  text-align: left;
  font-size: var(--font-size-9xl-7);
  color: var(--color-seagreen);
  font-family: var(--font-poppins);
}
.lineDiv {
  width: 1017.4px;
  position: relative;
  border-top: 0.8px solid var(--color-white);
  box-sizing: border-box;
  height: 0.8px;
}
.lineWrapper {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 253.07557678222656px;
}
.nowWere29,
.nowWere30 {
  width: 342.5px;
  position: relative;
  letter-spacing: 0.76px;
  line-height: 16.87px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  height: 23.6px;
  flex-shrink: 0;
}
.nowWere30 {
  width: 449.6px;
}
.blogpage4,
.footerComponent,
.nowWereParent10 {
  background-color: var(--color-darkslategray-300);
  display: flex;
}
.nowWereParent10 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 8.43585205078125px 194.0246124267578px;
}
.blogpage4,
.footerComponent {
  width: 1440px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.blogpage4 {
  width: 100%;
  position: relative;
  background-color: var(--color-darkolivegreen-700);
  overflow: hidden;
  align-items: center;
  text-align: center;
  font-size: var(--font-size-sm-5);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .navdesktop {
    display: none;
  }
  .nav {
    display: flex;
  }
  .gradientmsgChild {
    width: 320px;
    height: 280px;
  }
  .weSupportAgribusinessContainer {
    font-size: var(--font-size-9xl);
  }
  .section6partners {
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-131xl);
    padding-right: var(--padding-131xl);
    box-sizing: border-box;
  }
  .frameContainer,
  .frameParent4,
  .transform {
    flex: unset;
    align-self: stretch;
  }
  .transformParent {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
    padding-left: 0;
    box-sizing: border-box;
  }
  .footer {
    align-self: stretch;
    width: auto;
  }
  .nowWereParent10 {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-101xl);
    padding-right: var(--padding-97xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .nav {
    display: none;
  }
  .nav1 {
    display: flex;
  }
  .gradientmsgChild {
    width: 250px;
    height: 250px;
  }
  .weSupportAgribusinessContainer {
    font-size: var(--font-size-3xl);
  }
  .section6partners {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .nowWere {
    font-size: var(--font-size-7xl);
  }
  .nowWere1 {
    font-size: var(--font-size-15xl);
  }
  .getInTouchWrapper {
    width: 200px;
    height: 55px;
    padding: var(--padding-mini) var(--padding-xl);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-21xl);
    padding-top: var(--padding-11xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .lineDiv {
    width: 900px;
  }
}
@media screen and (max-width: 420px) {
  .nav1 {
    display: none;
  }
  .nav2 {
    display: flex;
  }
  .weSupportAgribusinessContainer {
    font-size: var(--font-size-lg);
  }
  .weSupportAgribusinessIndustParent {
    flex: unset;
    align-self: stretch;
  }
  .gradientmsg {
    flex-direction: column;
  }
  .faq {
    font-size: var(--font-size-sm);
  }
  .section6partners {
    display: flex;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .nowWere {
    font-size: var(--font-size-5xl);
  }
  .nowWere1 {
    font-size: var(--font-size-11xl);
  }
  .lineDiv {
    width: 400px;
  }
  .nowWere29,
  .nowWere30 {
    font-size: var(--font-size-xs);
  }
  .nowWereParent10 {
    padding-top: var(--padding-8xs);
    padding-bottom: var(--padding-8xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .nav2 {
    display: flex;
  }
}
