@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.clipPathGroup {
  position: absolute;
  height: 85.95%;
  width: 23.69%;
  top: 12.4%;
  right: 76.31%;
  bottom: 1.65%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  cursor: pointer;
}
.clipPathGroup1 {
  height: 83.47%;
  width: 12.67%;
  top: -1.24%;
  right: 59.23%;
  bottom: 17.77%;
  left: 28.1%;
  object-fit: cover;
  cursor: pointer;
}
.clipPathGroup1,
.clipPathGroup2,
.oursubsidiarylogosChild {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.clipPathGroup2 {
  height: 80.58%;
  width: 21.66%;
  top: 7.02%;
  right: 34.3%;
  bottom: 12.4%;
  left: 44.05%;
  object-fit: cover;
  cursor: pointer;
}
.oursubsidiarylogosChild {
  height: 69.01%;
  width: 29.25%;
  top: 10.33%;
  right: 1.88%;
  bottom: 20.66%;
  left: 68.86%;
}
.oursubsidiarylogos {
  position: absolute;
  top: 1.1px;
  left: 36.7px;
  width: 329.2px;
  height: 24.2px;
  display: none;
}
.images21 {
  position: absolute;
  top: 5.8px;
  left: 4.2px;
  width: 12.5px;
  height: 18.3px;
  object-fit: cover;
}
.arrowframe {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7.5px;
  left: 64.2px;
  width: 28.9px;
  height: 28.9px;
}
.arrowframe1:hover .oursubsidiarylogos,
.arrowframe2:hover .oursubsidiarylogos,
.arrowframe3:hover .oursubsidiarylogos,
.arrowframe:hover .oursubsidiarylogos,
.nowWereGroup:hover .frameItem {
  display: flex;
}
.lgoframe,
.logoIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.logoIcon {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.lgoframe {
  width: 56.3px;
  height: 35.4px;
  cursor: pointer;
}
.logoasset {
  width: 104.8px;
  position: relative;
  height: 35.6px;
}
.linkAbout1 {
  position: absolute;
  top: -6.67%;
  left: 0;
  font-size: var(--font-size-2xs-8);
  letter-spacing: 0.27px;
  line-height: 16px;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  cursor: pointer;
}
.contactUs:hover,
.linkAbout1:hover,
.linkPricing3:hover,
.linkPricing:hover {
  color: var(--color-goldenrod-100);
}
.linkAbout {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 35px;
  position: relative;
  height: 15px;
}
.homecChild {
  width: 33.3px;
  position: relative;
  height: 0;
  object-fit: cover;
  display: none;
}
.homec {
  width: 35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.17px 0;
  cursor: pointer;
}
.linkPricing {
  height: 16px;
  position: relative;
  font-size: var(--font-size-2xs-8);
  letter-spacing: 0.27px;
  line-height: 16px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  cursor: pointer;
}
.aboutus,
.producAndServices {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.producAndServices {
  justify-content: flex-end;
}
.contactUs,
.linkPricing3 {
  position: relative;
  font-family: var(--font-inter);
  color: var(--color-white);
  display: inline-block;
  cursor: pointer;
}
.linkPricing3 {
  height: 16px;
  font-size: var(--font-size-smi-3);
  letter-spacing: 0.27px;
  line-height: 16px;
  font-weight: 500;
  text-align: left;
}
.contactUs {
  height: 17px;
  flex: 1;
  font-size: var(--font-size-smi-5);
  line-height: 17px;
  font-weight: 600;
  text-align: center;
}
.contactusContainer {
  cursor: pointer;
  border: 0.8px solid var(--color-yellowgreen-100);
  padding: var(--padding-3xs) 16.66666603088379px;
  background-color: transparent;
  width: 133.3px;
  border-radius: 41.67px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contactusContainer:hover {
  background-color: var(--color-gray-900);
}
.handburgerChild,
.handburgerInner,
.handburgerItem {
  width: 24.6px;
  position: relative;
  border-radius: 315.34px;
  background-color: var(--color-yellowgreen-200);
  height: 4.4px;
  z-index: 0;
}
.handburgerInner,
.handburgerItem {
  z-index: 1;
}
.handburgerInner {
  position: absolute;
  margin: 0 !important;
  top: 16.4px;
  left: 0;
  z-index: 2;
}
.handburger {
  height: 20.8px;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 4.17px 0;
}
.logorightnavlink,
.navdesktop,
.rightnavlink {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.rightnavlink {
  margin: 0;
  width: 540.8px;
  justify-content: flex-end;
  gap: 0 16.67px;
}
.logorightnavlink,
.navdesktop {
  align-self: stretch;
  justify-content: space-between;
}
.navdesktop {
  margin: 0;
  background-color: var(--color-gray-1200);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(33.33px);
  border: 0.8px solid var(--color-gray-1100);
  box-sizing: border-box;
  height: 66.7px;
  flex-direction: column;
  justify-content: center;
  padding: 11.666666030883789px var(--padding-106xl);
  min-width: 786.6666870117188px;
}
.arrowframe1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7.5px;
  left: 64.2px;
  width: 28.9px;
  height: 28.9px;
}
.lgoframe1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 56.3px;
  height: 35.4px;
}
.logoasset1 {
  align-self: stretch;
  width: 140px;
  position: relative;
}
.handburgerChild2,
.rectangleDiv {
  width: 30.8px;
  position: relative;
  border-radius: 315.34px;
  background-color: var(--color-yellowgreen-200);
  height: 5px;
}
.handburgerChild2 {
  height: 4.2px;
}
.handburger1 {
  height: 22.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 4.17px 0;
  cursor: pointer;
}
.contactUs1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-smi-5);
  line-height: 17px;
  font-weight: 600;
  font-family: var(--font-inter);
  background: linear-gradient(180deg, #b6c2f1, #ebefff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  cursor: pointer;
}
.contactusContainer1,
.rightnavlink1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contactusContainer1 {
  cursor: pointer;
  border: 0.8px solid var(--color-olivedrab-100);
  padding: var(--padding-3xs) 16.66666603088379px;
  background-color: transparent;
  width: 126.7px;
  border-radius: 41.67px;
  box-sizing: border-box;
  justify-content: space-between;
}
.rightnavlink1 {
  flex: 1;
  justify-content: flex-end;
  gap: 0 25px;
}
.logorightnavlink1,
.nav {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logorightnavlink1 {
  flex: 1;
  display: flex;
}
.nav {
  margin: 0;
  width: 1000px;
  background-color: var(--color-gray-1200);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(3.33px);
  border: 0.8px solid var(--color-gray-1100);
  box-sizing: border-box;
  display: none;
  padding: 11.666666030883789px var(--padding-6xl);
}
.arrowframe2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 7.5px;
  left: 64.2px;
  width: 28.9px;
  height: 28.9px;
}
.nav1 {
  margin: 0;
  width: 800px;
  background-color: var(--color-gray-1200);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(3.33px);
  border: 0.8px solid var(--color-gray-1100);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 11.666666030883789px var(--padding-6xl);
}
.arrowframe3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: -1.7px;
  left: 64.2px;
  width: 28.9px;
  height: 28.9px;
}
.logoIcon3,
.rightnavlinkIcon {
  max-width: 100%;
  overflow: hidden;
}
.logoIcon3 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -21.19%;
  right: 0;
  bottom: 21.19%;
  left: 0;
  max-height: 100%;
  object-fit: cover;
}
.rightnavlinkIcon {
  flex: 1;
  height: 23.7px;
  object-fit: contain;
}
.nav2 {
  margin: 0;
  width: 350px;
  background-color: var(--color-gray-1200);
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.02) inset;
  backdrop-filter: blur(3.33px);
  border: 0.8px solid var(--color-gray-1100);
  box-sizing: border-box;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-smi-5) var(--padding-6xl);
}
.allnavs {
  align-self: stretch;
  background: linear-gradient(
    -90deg,
    rgba(143, 218, 141, 0.1),
    rgba(1, 32, 1, 0.1) 66.5%,
    rgba(1, 32, 1, 0.1)
  );
  backdrop-filter: blur(8.33px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.careers2 {
  margin: 0;
  height: 109px;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 96.75%;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  opacity: 1;
}
.careers2.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.careers2:hover {
  animation: 1s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.careers1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-6xl) 0 0;
  opacity: 1;
}
.careers1.animate,
.careers3.animate,
.ourInnovativeGroupBelievesWrapper.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.recChild {
  width: 1436.7px;
  position: relative;
  background-color: var(--color-gainsboro-300);
  filter: blur(184.83px);
  height: 185px;
}
.rec {
  height: 80.8px;
  justify-content: flex-start;
}
.careersInner,
.careersParent,
.rec {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.careersParent {
  overflow: hidden;
  justify-content: center;
  padding: var(--padding-smi-5) 0 0;
  gap: 33.33px 0;
  background-image: url(/frame-939@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  mix-blend-mode: color-dodge;
}
.careersInner {
  background-color: #1d291e;
  justify-content: flex-start;
  text-align: center;
  font-size: 112.5px;
  color: #e4ffdf;
  font-family: var(--font-poppins);
}
.workWith {
  font-weight: 300;
}
.us {
  font-weight: 800;
}
.workWithUsContainer {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 96.75%;
  font-family: inherit;
}
.workWithUsWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 5.8333330154418945px 8.333333015441895px;
}
.careers3 {
  margin: 0;
  height: 38px;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.04em;
  font-weight: 200;
  font-family: inherit;
  display: inline-block;
  opacity: 1;
}
.careersWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8.333333015441895px;
}
.ourInnovativeGroup {
  flex: 1;
  position: relative;
}
.ourInnovativeGroupBelievesWrapper {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.333333015441895px;
  opacity: 1;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.frameGroup,
.frameParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameGroup {
  align-self: stretch;
  gap: 10.83px 0;
  font-size: var(--font-size-6xl);
  color: var(--color-darkgray-200);
}
.frameParent {
  flex: 1;
  padding: 16.66666603088379px 0;
  gap: 12.5px 0;
  text-align: left;
  font-size: var(--font-size-47xl-7);
  color: var(--color-goldenrod-100);
  font-family: var(--font-poppins);
}
.enquiryType {
  position: relative;
  letter-spacing: 0.04em;
  font-weight: 600;
}
.enquiryTypeWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 7.552717208862305px;
}
.general {
  width: 69.2px;
  position: relative;
  letter-spacing: 0.04em;
  display: inline-block;
  flex-shrink: 0;
}
.business,
.generalWrapper {
  flex: 1;
  border-radius: 16.67px;
  border: 0.8px solid var(--color-darkslategray-400);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 8.333333015441895px 35.83333206176758px;
}
.business {
  border: 0.8px solid var(--color-darkgoldenrod);
}
.contactFormChild,
.frameContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  font-size: var(--font-size-mini);
  color: var(--color-gray-300);
}
.contactFormChild {
  border: 0.8px solid var(--color-darkslategray-100);
  outline: 0;
  font-family: var(--font-poppins);
  font-size: var(--font-size-smi-1);
  background-color: transparent;
  border-radius: 22.66px;
  overflow: hidden;
  align-items: center;
  padding: 12.839618682861328px 20.392335891723633px;
}
.frameChild,
.noFileChosen {
  border: 0;
  outline: 0;
  font-family: var(--font-poppins);
}
.frameChild {
  font-size: var(--font-size-smi-1);
  background-color: rgba(58, 58, 58, 0.75);
  width: 99.7px;
  border-radius: 4.53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3.7763586044311523px 7.552717208862305px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.6);
}
.noFileChosen {
  font-size: var(--font-size-2xs-6);
  background-color: transparent;
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  color: var(--color-gray-300);
  text-align: left;
}
.frameDiv {
  align-self: stretch;
  border-radius: 21.9px;
  border: 0.8px solid var(--color-darkslategray-100);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 9.063260078430176px 12.839618682861328px;
  gap: 0 9.82px;
}
.frameInput,
.send {
  font-family: var(--font-poppins);
}
.frameInput {
  border: 0.8px solid var(--color-darkslategray-100);
  outline: 0;
  font-size: var(--font-size-smi-1);
  background-color: transparent;
  align-self: stretch;
  border-radius: 16.62px;
  box-sizing: border-box;
  height: 118.6px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 12.084346771240234px 20.392335891723633px;
  color: var(--color-gray-300);
}
.send {
  position: relative;
  font-size: 13.6px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
  color: var(--color-white);
  text-align: left;
}
.sendWrapper {
  cursor: pointer;
  border: 0;
  padding: 7.552717208862305px 18.881792068481445px;
  background-color: transparent;
  border-radius: 18.88px;
  background: linear-gradient(102.84deg, #449341, #bdb32c);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contactForm,
.contactFormInner1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactFormInner1 {
  align-self: stretch;
  justify-content: flex-start;
}
.contactForm {
  flex: 1;
  border-radius: 27.95px;
  background-color: var(--color-whitesmoke-200);
  border: 0.8px solid var(--color-gray-200);
  overflow: hidden;
  justify-content: center;
  padding: 14.350162506103516px 13.594890594482422px;
  gap: 26.43px 0;
}
.allMakeAnEnquiry,
.desktopMakeEnquiry {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.desktopMakeEnquiry {
  background: linear-gradient(
      73.02deg,
      rgba(240, 192, 36, 0.2),
      rgba(240, 192, 36, 0)
    ),
    linear-gradient(102.82deg, #113a09, #113a09 33.71%, #f0c024);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-31xl) 166.66665649414062px;
  gap: 0 8.33px;
}
.allMakeAnEnquiry {
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  font-size: 18.1px;
  color: var(--color-black);
  font-family: var(--font-poppins);
}
.captureIcon,
.download5Icon,
.download5Icon1 {
  position: absolute;
  top: 10.5px;
  left: 0;
  width: 58.8px;
  height: 49px;
  object-fit: cover;
}
.captureIcon,
.download5Icon1 {
  top: 11.2px;
  left: 104.7px;
  width: 72.8px;
  height: 47.6px;
}
.captureIcon {
  top: 9.1px;
  left: 223.4px;
  width: 118.3px;
  height: 51.8px;
}
.download3Icon,
.imagesIcon,
.mofaColorIcon {
  position: absolute;
  top: 13.3px;
  left: 387.6px;
  width: 207.2px;
  height: 43.4px;
  object-fit: cover;
}
.download3Icon,
.imagesIcon {
  top: 14.7px;
  left: 640.7px;
  width: 41.3px;
  height: 40.6px;
}
.imagesIcon {
  top: 18.5px;
  left: 727.9px;
  width: 96.6px;
  height: 32.9px;
  mix-blend-mode: difference;
}
.download1Icon,
.download6Icon {
  position: absolute;
  top: 10.1px;
  left: 870.4px;
  width: 86.8px;
  height: 49.7px;
  object-fit: cover;
}
.download1Icon {
  top: 12.2px;
  left: 1003.1px;
  width: 114.8px;
  height: 45.5px;
}
.download2Icon,
.downloadIcon,
.images1Icon {
  position: absolute;
  top: 8.7px;
  left: 1163.9px;
  width: 47.6px;
  height: 52.5px;
  object-fit: cover;
}
.download2Icon,
.images1Icon {
  top: 0;
  left: 1257.4px;
  width: 70px;
  height: 70px;
}
.download2Icon {
  top: 13.3px;
  left: 1373.3px;
  width: 43.4px;
  height: 43.4px;
}
.download5Group,
.download5Parent,
.frameParent1 {
  position: absolute;
  top: 0;
  left: 1470.8px;
  width: 1416.7px;
  height: 70px;
}
.download5Group,
.frameParent1 {
  left: 0;
}
.frameParent1 {
  left: -25.8px;
  width: 2889.2px;
}
.component1 {
  width: 1465px;
  position: relative;
  background: linear-gradient(90deg, #fbfbfb, rgba(161, 181, 161, 0.99));
  height: 70px;
  overflow: hidden;
  flex-shrink: 0;
}
.nowWere,
.nowWere1 {
  position: relative;
  letter-spacing: 0.75px;
  line-height: 38.33px;
  text-transform: uppercase;
}
.nowWere1 {
  flex: 1;
  font-weight: 800;
}
.nowWereContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 8.333333015441895px;
  font-size: var(--font-size-18xl-5);
}
.transformYourAgricultural {
  margin: 0;
}
.cultivateSuccessWith {
  font-family: var(--font-poppins);
}
.nuncUltricesTellusContainer {
  flex: 1;
  position: relative;
  line-height: 26.67px;
}
.nuncUltricesTellusWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 8.333333015441895px 8.333333015441895px;
  font-size: var(--font-size-base-7);
  color: var(--color-gainsboro-200);
}
.getInTouch {
  position: relative;
  font-size: var(--font-size-base-6);
  line-height: 10.6px;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.getInTouch:hover {
  color: var(--color-darkolivegreen-300);
}
.getInTouchWrapper {
  cursor: pointer;
  border: 0;
  padding: 20.792076110839844px 41.58415222167969px;
  background-color: transparent;
  width: 205.3px;
  border-radius: 33.79px;
  background: linear-gradient(93.32deg, #4f943e, #c1ad28);
  height: 52.5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
.getInTouchWrapper:hover {
  mix-blend-mode: normal;
  background-color: var(--color-whitesmoke-300);
}
.transform {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16.66666603088379px 0 33.33333206176758px;
  gap: 6.67px 0;
  color: var(--color-white);
}
.nowWere2,
.nowWere3 {
  position: relative;
  letter-spacing: 0.75px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere2 {
  width: 79.2px;
  display: inline-block;
  height: 38.3px;
  flex-shrink: 0;
}
.nowWere3 {
  flex: 1;
  cursor: pointer;
}
.nowWere3:hover,
.nowWere4:hover,
.nowWere5:hover,
.nowWere6:hover,
.nowWere8:hover {
  color: var(--color-goldenrod-300);
}
.nowWereFrame {
  align-self: stretch;
  height: 24.2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.nowWere4 {
  cursor: pointer;
}
.nowWere4,
.nowWere5 {
  flex: 1;
  position: relative;
  letter-spacing: 0.75px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 23.3px;
}
.nowWere6,
.nowWereWrapper2 {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.nowWereWrapper2 {
  height: 29.2px;
  flex-direction: row;
  justify-content: flex-start;
  padding: 8.333333015441895px 0;
  box-sizing: border-box;
}
.nowWere6 {
  position: relative;
  letter-spacing: 0.75px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  height: 26.7px;
  flex-shrink: 0;
  cursor: pointer;
}
.frameItem {
  width: 69.2px;
  height: 0;
  position: relative;
  object-fit: cover;
  display: none;
}
.frameParent4,
.nowWereGroup,
.nowWereParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.nowWereGroup {
  align-self: stretch;
  justify-content: center;
  cursor: pointer;
}
.frameParent4,
.nowWereParent {
  justify-content: space-between;
}
.frameParent4 {
  align-self: stretch;
  height: 120px;
  font-size: var(--font-size-sm-3);
  color: var(--color-white);
}
.nowWereParent {
  flex: 1;
  height: 170.8px;
}
.nowWere7,
.nowWere8 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.75px;
}
.nowWere7 {
  line-height: 38.33px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 38.3px;
  flex-shrink: 0;
}
.nowWere8 {
  font-size: var(--font-size-sm-3);
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 600;
  color: var(--color-white);
}
.nowWereParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 3.33px 0;
}
.nowWere10,
.nowWere9 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.75px;
}
.nowWere9 {
  line-height: 38.33px;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 30px;
  flex-shrink: 0;
}
.nowWere10 {
  line-height: 20px;
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent2,
.nowWereParent3 {
  align-self: stretch;
  flex-direction: column;
}
.nowWereParent3 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10.83px 0;
}
.nowWereParent2 {
  gap: 5.83px 0;
  font-size: var(--font-size-sm-3);
  color: var(--color-white);
}
.frameParent3,
.frameParent5,
.nowWereParent2 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameParent5 {
  flex: 1;
  flex-direction: column;
  gap: 28.33px 0;
  font-size: var(--font-size-smi-5);
}
.frameParent3 {
  align-self: stretch;
  flex-direction: row;
  gap: 0 1.67px;
}
.nowWere13,
.nowWere14 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.75px;
  line-height: 38.33px;
  text-transform: uppercase;
  font-weight: 600;
}
.nowWere14 {
  text-transform: capitalize;
  font-weight: 500;
}
.nowWereParent4 {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.33px 0;
}
.nowWere17,
.nowWere18 {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.75px;
  line-height: 38.33px;
  text-transform: capitalize;
  font-weight: 600;
}
.nowWere18 {
  font-weight: 500;
  display: flex;
  align-items: center;
  height: 22.5px;
  flex-shrink: 0;
}
.nowWereParent5,
.nowWereParent6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.nowWereParent6 {
  align-self: stretch;
  gap: 5.83px 0;
}
.nowWereParent5 {
  flex: 1;
  gap: 2.5px 0;
}
.frameParent2,
.frameParent6 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.frameParent6 {
  flex-direction: row;
  justify-content: space-between;
  font-size: var(--font-size-sm-3);
  color: var(--color-white);
}
.frameParent2 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 var(--padding-6xl);
  gap: 33.33px 0;
  font-size: var(--font-size-xs-7);
}
.frameInner,
.nowWere19 {
  position: relative;
  cursor: pointer;
}
.frameInner {
  width: 17.5px;
  max-height: 100%;
}
.frameInner:hover {
  width: 24px;
}
.nowWere19 {
  font-size: var(--font-size-mini);
  letter-spacing: 0.96px;
  line-height: 48.95px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
}
.nowWere19:hover {
  font-size: var(--font-size-4xl);
}
.nowWere21,
.vectorParent {
  display: flex;
  align-items: center;
}
.vectorParent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 16.67px;
}
.nowWere21 {
  position: absolute;
  height: 203.56%;
  width: 96.14%;
  top: -51.56%;
  left: -0.7%;
  letter-spacing: 0.96px;
  line-height: 48.95px;
  text-transform: uppercase;
  font-weight: 500;
}
.nowWere20,
.nowWere22 {
  align-self: stretch;
  position: relative;
}
.nowWere20 {
  height: 22.5px;
}
.nowWere22 {
  letter-spacing: 1.12px;
  line-height: 57.19px;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--color-white);
}
.nowWereParent7 {
  align-self: stretch;
  height: 49.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.33px 0;
}
.nowWere24 {
  position: absolute;
  width: 96.14%;
  top: -57.6%;
  left: -0.77%;
  letter-spacing: 0.96px;
  line-height: 48.95px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.nowWere23 {
  align-self: stretch;
  position: relative;
  height: 21.7px;
}
.nowWere26 {
  position: absolute;
  top: 5.8px;
  left: -0.8px;
  letter-spacing: 0.96px;
  line-height: 48.95px;
  text-transform: lowercase;
  font-weight: 500;
}
.nowWere25 {
  align-self: stretch;
  position: relative;
  height: 21.7px;
  color: var(--color-white);
}
.nowWereParent8 {
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8.33px 0;
}
.nowWere28 {
  position: absolute;
  top: -25.54%;
  left: 0;
  letter-spacing: 0.96px;
  line-height: 48.95px;
  text-transform: uppercase;
  font-weight: 500;
}
.groupIcon1,
.nowWere27 {
  width: 109.2px;
  position: relative;
  height: 32.5px;
}
.groupIcon1 {
  width: 11.6px;
  height: 12.5px;
}
.instagram {
  width: 38.6px;
  border-radius: 26.57px;
  background-color: var(--color-darkgray-300);
  height: 39px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16.604822158813477px;
  box-sizing: border-box;
}
.vectorIcon {
  width: 6.5px;
  position: relative;
  height: 12.5px;
}
.vectorWrapper {
  width: 39.4px;
  border-radius: 30.72px;
  background-color: var(--color-darkgray-300);
  height: 40.7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16.604822158813477px 20.756027221679688px;
  box-sizing: border-box;
}
.vectorIcon1 {
  width: 13.9px;
  position: relative;
  height: 11.7px;
}
.frame {
  width: 37.8px;
  border-radius: 48.57px;
  background-color: var(--color-darkgray-300);
  height: 37.8px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16.604822158813477px 14.529219627380371px;
  box-sizing: border-box;
}
.vectorIcon2 {
  width: 13.4px;
  position: relative;
  height: 12.5px;
}
.vectorContainer {
  width: 41.1px;
  border-radius: 33.62px;
  background-color: var(--color-darkgray-300);
  height: 40.7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16.604822158813477px;
  box-sizing: border-box;
}
.instagramParent {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0 14.17px;
}
.frameParent7,
.nowWereParent9 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.nowWereParent9 {
  align-self: stretch;
  height: 82.5px;
  padding: 0 4.166666507720947px;
  gap: 8.33px 0;
}
.frameParent7 {
  height: 308.3px;
  flex: 1;
  padding: var(--padding-6xl);
  gap: 25px 0;
  font-size: var(--font-size-sm-3);
}
.footer,
.transformParent {
  align-self: stretch;
  display: flex;
}
.transformParent {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 33.33333206176758px 0;
  opacity: 1;
}
.transformParent.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.footer {
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 66.66666412353516px;
  gap: 8.33px;
  text-align: left;
  font-size: var(--font-size-9xl-3);
  color: var(--color-seagreen);
  font-family: var(--font-poppins);
}
.lineDiv {
  width: 1005px;
  position: relative;
  border-top: 0.8px solid var(--color-white);
  box-sizing: border-box;
  height: 0.8px;
}
.lineWrapper {
  align-self: stretch;
  background-color: var(--color-darkslategray-300);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-231xl);
}
.nowWere29,
.nowWere30 {
  width: 338.3px;
  position: relative;
  letter-spacing: 0.75px;
  line-height: 16.67px;
  text-transform: capitalize;
  font-weight: 500;
  display: inline-block;
  height: 23.3px;
  flex-shrink: 0;
}
.nowWere30 {
  width: 444.2px;
}
.careers,
.footerComponent,
.nowWereParent10 {
  background-color: var(--color-darkslategray-300);
  display: flex;
}
.nowWereParent10 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 8.333333015441895px 191.66665649414062px;
}
.careers,
.footerComponent {
  width: 1440px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.careers {
  width: 100%;
  position: relative;
  background-color: var(--color-darkolivegreen-200);
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm-3);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .navdesktop {
    display: none;
  }
  .nav {
    display: flex;
  }
  .contactForm,
  .frameParent {
    flex: unset;
    align-self: stretch;
  }
  .desktopMakeEnquiry {
    flex-direction: column;
    padding-left: var(--padding-201xl);
    padding-right: var(--padding-201xl);
    box-sizing: border-box;
  }
  .frameParent2,
  .frameParent7,
  .transform {
    flex: unset;
    align-self: stretch;
  }
  .transformParent {
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-0);
    padding-left: 0;
    box-sizing: border-box;
  }
  .footer {
    align-self: stretch;
    width: auto;
  }
  .nowWereParent10 {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-left: var(--padding-101xl);
    padding-right: var(--padding-97xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .nav {
    display: none;
  }
  .nav1 {
    display: flex;
  }
  .careers2 {
    font-size: 100px;
  }
  .rec {
    display: none;
  }
  .careersParent {
    gap: 33.33px 0;
  }
  .workWithUsContainer {
    font-size: var(--font-size-41xl);
  }
  .desktopMakeEnquiry {
    padding: var(--padding-21xl) var(--padding-121xl);
    box-sizing: border-box;
  }
  .nowWere {
    font-size: var(--font-size-7xl);
  }
  .nowWere1 {
    font-size: var(--font-size-15xl);
  }
  .getInTouchWrapper {
    width: 200px;
    height: 55px;
    padding: var(--padding-mini) var(--padding-xl);
    box-sizing: border-box;
  }
  .footer {
    padding-left: var(--padding-21xl);
    padding-top: var(--padding-11xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .lineDiv {
    width: 900px;
  }
}
@media screen and (max-width: 420px) {
  .nav1 {
    display: none;
  }
  .nav2 {
    display: flex;
  }
  .careers2 {
    font-size: var(--font-size-41xl);
  }
  .workWithUsContainer {
    font-size: var(--font-size-26xl);
  }
  .desktopMakeEnquiry {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .nowWere {
    font-size: var(--font-size-5xl);
  }
  .nowWere1 {
    font-size: var(--font-size-11xl);
  }
  .lineDiv {
    width: 400px;
  }
  .nowWere29,
  .nowWere30 {
    font-size: var(--font-size-xs);
  }
  .nowWereParent10 {
    padding-top: var(--padding-8xs);
    padding-bottom: var(--padding-8xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 350px) {
  .nav2 {
    display: flex;
  }
}
