@keyframes scale-up {
  0% {
    transform: scale(0.5);
  }
  to {
    transform: scale(1);
  }
}
.formsHero,
.frameParent,
.workwithframe {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.frameParent {
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-6xl) 0;
  gap: 0 37.5px;
}
.formsHero,
.workwithframe {
  flex-direction: column;
}
.workwithframe {
  overflow: hidden;
  align-items: center;
  padding: 66.66666412353516px 190.8333282470703px;
  background-image: url(/workwithframe@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.formsHero {
  align-items: flex-start;
}
.dktpTeamFaqCtaChild,
.dktpTeamFaqCtaItem {
  width: 580.2px;
  position: absolute;
  margin: 0 !important;
  height: 827.3px;
}
.dktpTeamFaqCtaChild {
  top: 526.3px;
  left: 204.9px;
  object-fit: cover;
  z-index: 0;
}
.dktpTeamFaqCtaItem {
  top: -440.7px;
  left: -189.6px;
  z-index: 1;
}
.ourTeam {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  font-weight: 800;
}
.outteam {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 13.891084671020508px;
  z-index: 2;
}
.ourTeam1 {
  align-self: stretch;
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.outteam1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 13.891084671020508px;
  z-index: 3;
  font-size: var(--font-size-4xl-6);
  color: var(--color-goldenrod-300);
}
.dktpTeamFaqCtaInner {
  width: 580.2px;
  position: absolute;
  margin: 0 !important;
  top: 1114.7px;
  left: 743.1px;
  height: 827.3px;
  z-index: 4;
}
.baseIcon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 21.53px;
  width: 220.1px;
  height: 259.1px;
  object-fit: cover;
}
.rectangle {
  border-radius: 21.53px;
  background-color: var(--color-darkslateblue);
  box-shadow: 0 16.7px 33.34px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(45.31px);
  border: 0.7px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block1,
.rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 220.4px;
  height: 70.2px;
}
.snrTechnologyLead,
.xoseAhlijahSwe {
  position: absolute;
  top: 0;
  left: calc(50% - 83.7px);
  letter-spacing: -0.01em;
  line-height: 27.78px;
  text-transform: capitalize;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 167.4px;
  height: 20.3px;
}
.snrTechnologyLead {
  top: 22.1px;
  left: calc(50% - 72.2px);
  font-size: var(--font-size-smi-5);
  line-height: 20.84px;
  font-weight: 500;
  background: linear-gradient(89.38deg, #e3ef62, #a78f0c 73.18%, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 130.6px;
  height: 15.2px;
}
.xoseAhlijahSweParent {
  position: absolute;
  top: 13.6px;
  left: calc(50% - 83.5px);
  width: 167.4px;
  height: 37.3px;
}
.block1Parent {
  position: absolute;
  top: 218.8px;
  left: 0;
  width: 220.4px;
  height: 70.2px;
}
.xorse,
.xoseAhlijaTeam {
  width: 220.4px;
  height: 289px;
}
.xoseAhlijaTeam {
  position: absolute;
  top: 0;
  left: 0;
}
.xorse {
  position: relative;
}
.castro:hover,
.xorse:hover {
  animation: 2s ease 1s 1 normal none scale-up;
  opacity: 1;
}
.baseIcon1 {
  position: absolute;
  top: 0;
  left: 0.2px;
  border-radius: 20.84px;
  width: 266.1px;
  height: 300.9px;
  object-fit: cover;
}
.block11,
.rectangle1 {
  position: absolute;
  left: 0;
  width: 266.1px;
  height: 83.4px;
}
.rectangle1 {
  top: 0;
  border-radius: 20.84px;
  background-color: var(--color-dimgray-200);
  box-shadow: 0 16.7px 33.34px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(45.31px);
  border: 0.7px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block11 {
  top: 261.9px;
}
.castroAntwiDanso,
.generalManager {
  position: absolute;
  top: 0;
  left: calc(50% - 93.95px);
  letter-spacing: -0.01em;
  line-height: 27.78px;
  text-transform: capitalize;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 187.9px;
  height: 23.6px;
}
.generalManager {
  top: 20.7px;
  left: calc(50% - 54.35px);
  font-size: var(--font-size-smi-5);
  line-height: 20.84px;
  font-weight: 500;
  background: linear-gradient(90.39deg, #dae924, rgba(240, 192, 39, 0.95));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 108.3px;
  height: 18.1px;
}
.castroAntwiDansoParent {
  position: absolute;
  top: 280.1px;
  left: calc(50% - 91.35px);
  width: 187.9px;
  height: 38.8px;
}
.castro {
  width: 266.3px;
  position: relative;
  height: 345.2px;
}
.baseIcon2 {
  position: absolute;
  top: 0;
  left: 0.2px;
  border-radius: 20.84px;
  width: 233.6px;
  height: 251.7px;
  object-fit: cover;
}
.rectangle2 {
  border-radius: 20.84px;
  background-color: var(--color-darkslateblue);
  box-shadow: 0 16.7px 33.34px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(45.31px);
  border: 0.7px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block12,
.rectangle2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 233.6px;
  height: 76.5px;
}
.dataAnalyst,
.otisAApaloo {
  position: absolute;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.otisAApaloo {
  top: 0;
  left: calc(50% - 79.45px);
  line-height: 27.78px;
  font-weight: 800;
  width: 158.9px;
  height: 21.5px;
}
.dataAnalyst {
  top: 25.1px;
  left: 39.5px;
  font-size: var(--font-size-sm-2);
  line-height: 20.84px;
  font-weight: 500;
  background: linear-gradient(88.74deg, #eed920, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 88.7px;
  height: 16.3px;
}
.otisAApalooParent {
  position: absolute;
  top: 14px;
  left: calc(50% - 78.3px);
  width: 158.9px;
  height: 41.4px;
}
.block1Group {
  position: absolute;
  top: 212.5px;
  left: 0;
  width: 233.6px;
  height: 76.5px;
}
.ottisApalooTeam {
  width: 233.8px;
  position: relative;
  height: 289px;
  font-size: var(--font-size-lgi-4);
}
.ottisApalooTeam:hover {
  animation: 2s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.cardgropupo {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 208.3662567138672px;
  gap: 0 10.42px;
  opacity: 1;
  z-index: 5;
  text-align: left;
  font-size: var(--font-size-mid-4);
  font-family: var(--font-lexend-deca);
}
.cardgropupo.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.gradientmsgChild {
  width: 388.9px;
  position: relative;
  height: 299px;
  object-fit: cover;
}
.weSupportAgribusiness {
  margin: 0;
}
.weSupportAgribusinessContainer {
  align-self: stretch;
  height: 105px;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 34.73px;
  text-transform: capitalize;
  display: inline-block;
  opacity: 1;
}
.weSupportAgribusinessContainer.animate {
  animation: 3s ease 0s 1 normal forwards scale-up;
}
.frameChild,
.viewProducts {
  position: relative;
  cursor: pointer;
}
.frameChild {
  width: 9.7px;
  max-width: 100%;
  overflow: hidden;
  height: 10.2px;
}
.viewProducts {
  text-transform: uppercase;
  font-weight: 600;
}
.vectorParent {
  border: 2.1px solid var(--color-seagreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 17.363855361938477px 27.782169342041016px;
  gap: 0 6.95px;
  cursor: pointer;
  font-size: var(--font-size-2xs-4);
}
.weSupportAgribusinessIndustParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 13.891084671020508px;
  gap: 34.73px 0;
}
.gradientmsg,
.gradientmsgWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 13.891084671020508px;
}
.gradientmsgWrapper {
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 6.945542335510254px;
}
.base {
  width: 347.2px;
  position: relative;
  background-color: var(--color-goldenrod-300);
  height: 6.9px;
}
.baseWrapper,
.cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.cta {
  align-self: stretch;
  padding: 41.673255920410156px 138.9108428955078px;
  z-index: 6;
  text-align: left;
  font-size: var(--font-size-7xl-4);
  color: var(--color-darkslategray-100);
  font-family: var(--font-lexend-deca);
}
.faq1,
.frequentlyAskedQueContainer {
  align-self: stretch;
  position: relative;
}
.faq1 {
  letter-spacing: 2.08px;
  line-height: 22.23px;
  text-transform: uppercase;
  color: var(--color-goldenrod-300);
}
.frequentlyAskedQueContainer {
  font-size: var(--font-size-19xl-9);
  letter-spacing: -1.39px;
  line-height: 44.45px;
}
.allowsOrganizations {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm-9);
  line-height: 22.23px;
}
.frequently {
  gap: 10.42px 0;
}
.faq,
.frequently {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.whatIsMean {
  width: 409px;
  position: relative;
  line-height: 22.23px;
  display: inline-block;
  flex-shrink: 0;
}
.whatDoesThePlatformDo {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.combinedShapeIcon,
.rectangle3 {
  width: 10.4px;
  position: relative;
  height: 10.4px;
}
.rectangle3 {
  background-color: var(--color-gainsboro-400);
  height: 2.1px;
  display: none;
}
.roundplus {
  border-radius: 20.84px;
  border: 1.4px solid var(--color-goldenrod-300);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 11.807422637939453px;
  gap: 0 6.95px;
}
.roundplus:active .combinedShapeIcon {
  display: none;
}
.faq11:active .poppup1,
.roundplus,
.roundplus:active .rectangle3 {
  display: flex;
}
.whatDoesThePlatformDoParent {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.whereFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle4 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-goldenrod-300);
  height: 0.7px;
}
.blankLine,
.whatDoesThe {
  margin-block-start: 0;
  margin-block-end: 2.08px;
}
.whatDoesThe {
  font-weight: 100;
}
.blankLine {
  font-size: var(--font-size-sm-9);
}
.weOfferA {
  margin: 0;
  font-size: var(--font-size-smi-5);
}
.whatDoesTheContainer {
  flex: 1;
  position: relative;
  line-height: 22.23px;
}
.poppup1 {
  width: 638.2px;
  border-radius: 10.42px;
  background: linear-gradient(94.84deg, #0b2106, #7b6c09);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 27.782169342041016px;
  box-sizing: border-box;
  font-size: var(--font-size-lgi-4);
}
.faq11,
.roundplus1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.faq11 {
  align-self: stretch;
  flex-direction: column;
  gap: 10.42px 0;
}
.roundplus1 {
  border-radius: 20.84px;
  border: 1.4px solid var(--color-goldenrod-300);
  flex-direction: row;
  padding: 11.807422637939453px;
  gap: 0 6.95px;
}
.poppup2,
.roundplus1:active .combinedShapeIcon {
  display: none;
}
.faq2:active .poppup2,
.roundplus1:active .rectangle3 {
  display: flex;
}
.poppup2 {
  width: 644.4px;
  border-radius: 10.42px;
  background: linear-gradient(94.84deg, #0b2106, #7b6c09);
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 27.782169342041016px;
  box-sizing: border-box;
  font-size: var(--font-size-lgi-4);
}
.faq2,
.roundplus2 {
  align-items: flex-start;
  justify-content: flex-start;
}
.faq2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10.42px 0;
}
.roundplus2 {
  border-radius: 20.84px;
  border: 1.4px solid var(--color-goldenrod-300);
  flex-direction: row;
  padding: 11.807422637939453px;
  gap: 0 6.95px;
}
.roundplus2:active .combinedShapeIcon {
  display: none;
}
.faq3:active .poppup2,
.roundplus2,
.roundplus2:active .rectangle3 {
  display: flex;
}
.whatDoesThePlatformDo2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.whereFrame2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.faq3,
.roundplus3,
.whereFrame2 {
  align-items: flex-start;
  justify-content: flex-start;
}
.faq3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10.42px 0;
}
.roundplus3 {
  border-radius: 20.84px;
  border: 1.4px solid var(--color-goldenrod-300);
  flex-direction: row;
  padding: 11.807422637939453px;
  gap: 0 6.95px;
}
.roundplus3:active .combinedShapeIcon {
  display: none;
}
.faq4:active .poppup4,
.roundplus3,
.roundplus3:active .rectangle3 {
  display: flex;
}
.whatAreSome {
  margin-block-start: 0;
  margin-block-end: 2.08px;
  font-size: var(--font-size-lgi-4);
  font-weight: 100;
  white-space: pre-wrap;
}
.blankLine3 {
  white-space: pre-wrap;
  font-size: var(--font-size-sm-9);
}
.blankLine3,
.weOfferA2 {
  margin-block-start: 0;
  margin-block-end: 2.08px;
}
.whatAreSomeContainer {
  flex: 1;
  position: relative;
  line-height: 20.84px;
}
.poppup4 {
  width: 644.4px;
  border-radius: 10.42px;
  background: linear-gradient(94.84deg, #0b2106, #7b6c09);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 27.782169342041016px;
  box-sizing: border-box;
  font-size: var(--font-size-smi-5);
}
.faq4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 10.42px 0;
}
.faq4,
.faq5,
.roundplus4 {
  align-items: flex-start;
  justify-content: flex-start;
}
.roundplus4 {
  border-radius: 20.84px;
  border: 1.4px solid var(--color-goldenrod-300);
  flex-direction: row;
  padding: 11.807422637939453px;
  gap: 0 6.95px;
}
.roundplus4:active .combinedShapeIcon {
  display: none;
}
.faq5:active .poppup2,
.roundplus4,
.roundplus4:active .rectangle3 {
  display: flex;
}
.faq5 {
  gap: 10.42px 0;
}
.dktpTeamFaqCta,
.faq5,
.faqframe,
.faqs {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.faqs {
  align-items: flex-start;
  justify-content: flex-start;
  gap: 13.89px 0;
  text-align: left;
  font-size: var(--font-size-base-7);
}
.dktpTeamFaqCta,
.faqframe {
  overflow: hidden;
  align-items: center;
}
.faqframe {
  justify-content: center;
  padding: 6.945542335510254px 277.8216857910156px;
  gap: 6.95px 0;
  z-index: 7;
  font-size: var(--font-size-sm-2);
}
.dktpTeamFaqCta {
  background-color: var(--color-darkolivegreen-600);
  justify-content: flex-start;
  padding: 41.673255920410156px 0;
  position: relative;
  gap: 13.89px;
}
.taChild,
.taItem {
  width: 402.9px;
  position: absolute;
  margin: 0 !important;
  height: 574.6px;
}
.taChild {
  top: 365.5px;
  left: 142.3px;
  object-fit: cover;
  z-index: 0;
}
.taItem {
  top: -306px;
  left: -131.7px;
  z-index: 1;
}
.outteam2,
.outteam3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 9.647677421569824px;
  z-index: 2;
}
.outteam3 {
  z-index: 3;
  font-size: var(--font-size-base-4);
  color: var(--color-goldenrod-300);
}
.taInner {
  width: 402.9px;
  position: absolute;
  margin: 0 !important;
  top: 774.2px;
  left: 516.1px;
  height: 574.6px;
  z-index: 4;
}
.baseIcon3 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 14.95px;
  width: 152.9px;
  height: 180px;
  object-fit: cover;
}
.rectangle13 {
  border-radius: 14.95px;
  background-color: var(--color-darkslateblue);
  box-shadow: 0 11.6px 23.15px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(31.47px);
  border: 0.5px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block13,
.rectangle13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 153.1px;
  height: 48.7px;
}
.snrTechnologyLead1,
.xoseAhlijahSwe1 {
  position: absolute;
  top: 0;
  left: calc(50% - 58.15px);
  letter-spacing: -0.01em;
  line-height: 19.3px;
  text-transform: capitalize;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 116.3px;
  height: 14.1px;
}
.snrTechnologyLead1 {
  top: 15.3px;
  left: calc(50% - 50.15px);
  font-size: var(--font-size-4xs-7);
  line-height: 14.47px;
  font-weight: 500;
  background: linear-gradient(89.38deg, #e3ef62, #a78f0c 73.18%, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 90.7px;
  height: 10.6px;
}
.xoseAhlijahSweGroup {
  position: absolute;
  top: 9.4px;
  left: calc(50% - 57.95px);
  width: 116.3px;
  height: 25.9px;
}
.block1Container {
  position: absolute;
  top: 152px;
  left: 0;
  width: 153.1px;
  height: 48.7px;
}
.xorse1,
.xoseAhlijaTeam1 {
  width: 153.1px;
  height: 200.7px;
}
.xoseAhlijaTeam1 {
  position: absolute;
  top: 0;
  left: 0;
}
.xorse1 {
  position: relative;
}
.castro1:hover,
.xorse1:hover {
  animation: 2s ease 1s 1 normal none scale-up;
  opacity: 1;
}
.baseIcon4 {
  position: absolute;
  top: 0;
  left: 0.1px;
  border-radius: 14.47px;
  width: 184.8px;
  height: 209px;
  object-fit: cover;
}
.block14,
.rectangle14 {
  position: absolute;
  left: 0;
  width: 184.8px;
  height: 57.9px;
}
.rectangle14 {
  top: 0;
  border-radius: 14.47px;
  background-color: var(--color-dimgray-200);
  box-shadow: 0 11.6px 23.15px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(31.47px);
  border: 0.5px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block14 {
  top: 181.9px;
}
.castroAntwiDanso1,
.generalManager1 {
  position: absolute;
  top: 0;
  left: calc(50% - 65.25px);
  letter-spacing: -0.01em;
  line-height: 19.3px;
  text-transform: capitalize;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 130.5px;
  height: 16.4px;
}
.generalManager1 {
  top: 14.4px;
  left: calc(50% - 37.75px);
  font-size: var(--font-size-4xs-7);
  line-height: 14.47px;
  font-weight: 500;
  background: linear-gradient(90.39deg, #dae924, rgba(240, 192, 39, 0.95));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 75.2px;
  height: 12.5px;
}
.castroAntwiDansoGroup {
  position: absolute;
  top: 194.5px;
  left: calc(50% - 63.45px);
  width: 130.5px;
  height: 26.9px;
}
.castro1 {
  width: 184.9px;
  position: relative;
  height: 239.8px;
}
.baseIcon5 {
  position: absolute;
  top: 0;
  left: 0.1px;
  border-radius: 14.47px;
  width: 162.2px;
  height: 174.8px;
  object-fit: cover;
}
.rectangle15 {
  border-radius: 14.47px;
  background-color: var(--color-darkslateblue);
  box-shadow: 0 11.6px 23.15px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(31.47px);
  border: 0.5px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block15,
.rectangle15 {
  position: absolute;
  top: 0;
  left: 0;
  width: 162.2px;
  height: 53.1px;
}
.dataAnalyst1,
.otisAApaloo1 {
  position: absolute;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.otisAApaloo1 {
  top: 0;
  left: calc(50% - 55.2px);
  line-height: 19.3px;
  font-weight: 800;
  width: 110.4px;
  height: 15px;
}
.dataAnalyst1 {
  top: 17.4px;
  left: 27.4px;
  font-size: var(--font-size-3xs-2);
  line-height: 14.47px;
  font-weight: 500;
  background: linear-gradient(88.74deg, #eed920, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 61.6px;
  height: 11.3px;
}
.otisAApalooGroup {
  position: absolute;
  top: 9.7px;
  left: calc(50% - 54.4px);
  width: 110.4px;
  height: 28.7px;
}
.groupDiv {
  position: absolute;
  top: 147.6px;
  left: 0;
  width: 162.2px;
  height: 53.1px;
}
.ottisApalooTeam1 {
  width: 162.4px;
  position: relative;
  height: 200.7px;
  font-size: var(--font-size-sm-5);
}
.ottisApalooTeam1:hover {
  animation: 2s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.cardgropupo1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 144.7151641845703px;
  opacity: 1;
  z-index: 5;
  text-align: left;
  font-size: var(--font-size-smi-1);
  font-family: var(--font-lexend-deca);
}
.cardgropupo1.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.gradientmsgItem {
  width: 270.1px;
  position: relative;
  height: 207.7px;
  object-fit: cover;
}
.weSupportAgribusinessContainer1 {
  align-self: stretch;
  height: 69px;
  position: relative;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  display: inline-block;
  opacity: 1;
}
.weSupportAgribusinessContainer1.animate {
  animation: 3s ease 0s 1 normal forwards scale-up;
}
.frameItem {
  width: 6.8px;
  position: relative;
  height: 0;
  cursor: pointer;
}
.vectorGroup {
  border: 1.4px solid var(--color-seagreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12.05959701538086px 19.29535484313965px;
  gap: 0 4.82px;
  cursor: pointer;
  font-size: var(--font-size-5xs-2);
}
.weSupportAgribusinessIndustGroup {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 9.647677421569824px;
  gap: 24.12px 0;
}
.gradientmsg1,
.gradientmsgContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 9.647677421569824px;
}
.gradientmsgContainer {
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4.823838710784912px;
}
.base1 {
  width: 241.2px;
  position: relative;
  background-color: var(--color-goldenrod-300);
  height: 4.8px;
}
.cta1,
.faq7 {
  align-self: stretch;
}
.cta1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 28.94303321838379px 96.47677612304688px;
  z-index: 6;
  text-align: left;
  font-size: 18.3px;
  color: var(--color-darkslategray-100);
  font-family: var(--font-lexend-deca);
}
.faq7 {
  position: relative;
  letter-spacing: 1.45px;
  line-height: 15.44px;
  text-transform: uppercase;
  color: var(--color-goldenrod-300);
}
.frequentlyAskedQueContainer1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-8xl);
  letter-spacing: -0.96px;
  line-height: 30.87px;
}
.allowsOrganizations1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xs-6);
  line-height: 15.44px;
}
.frequently2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 7.24px 0;
}
.whatIsMean5 {
  width: 284.1px;
  position: relative;
  line-height: 15.44px;
  display: inline-block;
  flex-shrink: 0;
}
.combinedShapeIcon5,
.rectangle16 {
  width: 7.2px;
  position: relative;
  height: 7.2px;
}
.rectangle16 {
  background-color: var(--color-gainsboro-400);
  height: 1.4px;
  display: none;
}
.roundplus5,
.whereFrame5 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.roundplus5 {
  border-radius: 14.47px;
  border: 1px solid var(--color-goldenrod-300);
  padding: 8.200526237487793px;
  gap: 0 4.82px;
}
.roundplus5:active .combinedShapeIcon5 {
  display: none;
}
.faq12:active .poppup11,
.roundplus5:active .rectangle16 {
  display: flex;
}
.whereFrame5 {
  width: 447.6px;
}
.rectangle17 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-goldenrod-300);
  height: 0.5px;
}
.blankLine5,
.whatDoesThe1 {
  margin-block-start: 0;
  margin-block-end: 1.45px;
}
.whatDoesThe1 {
  font-weight: 100;
}
.blankLine5 {
  font-size: var(--font-size-3xs-6);
}
.weOfferA3 {
  margin: 0;
  font-size: var(--font-size-4xs-7);
}
.whatDoesTheContainer1 {
  flex: 1;
  position: relative;
  line-height: 15.44px;
}
.poppup11 {
  width: 443.2px;
  border-radius: 7.24px;
  background: linear-gradient(94.84deg, #0b2106, #7b6c09);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 19.29535484313965px;
  box-sizing: border-box;
  font-size: var(--font-size-sm-5);
}
.faq12,
.roundplus6 {
  align-items: flex-start;
  justify-content: flex-start;
}
.faq12 {
  width: 447.6px;
  display: flex;
  flex-direction: column;
  gap: 7.24px 0;
}
.roundplus6 {
  border-radius: 14.47px;
  border: 1px solid var(--color-goldenrod-300);
  flex-direction: row;
  padding: 8.200526237487793px;
  gap: 0 4.82px;
}
.roundplus6:active .combinedShapeIcon5 {
  display: none;
}
.faq21:active .poppup21,
.roundplus6,
.roundplus6:active .rectangle16 {
  display: flex;
}
.poppup21,
.whatDoesThePlatformDo6 {
  width: 447.6px;
  flex-direction: row;
  align-items: center;
}
.whatDoesThePlatformDo6 {
  display: flex;
  justify-content: space-between;
}
.poppup21 {
  border-radius: 7.24px;
  background: linear-gradient(94.84deg, #0b2106, #7b6c09);
  display: none;
  justify-content: center;
  padding: 19.29535484313965px;
  box-sizing: border-box;
  font-size: var(--font-size-sm-5);
}
.faq21 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 7.24px 0;
}
.roundplus7 {
  border-radius: 14.47px;
  border: 1px solid var(--color-goldenrod-300);
  flex-direction: row;
  padding: 8.200526237487793px;
  gap: 0 4.82px;
}
.roundplus7:active .combinedShapeIcon5 {
  display: none;
}
.faq31:active .poppup21,
.roundplus7,
.roundplus7:active .rectangle16 {
  display: flex;
}
.faq31,
.roundplus7,
.roundplus8 {
  align-items: flex-start;
  justify-content: flex-start;
}
.faq31 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 7.24px 0;
}
.roundplus8 {
  border-radius: 14.47px;
  border: 1px solid var(--color-goldenrod-300);
  flex-direction: row;
  padding: 8.200526237487793px;
  gap: 0 4.82px;
}
.roundplus8:active .combinedShapeIcon5 {
  display: none;
}
.faq41:active .poppup41,
.roundplus8,
.roundplus8:active .rectangle16 {
  display: flex;
}
.whatAreSome1 {
  margin-block-start: 0;
  margin-block-end: 1.45px;
  font-size: var(--font-size-sm-5);
  font-weight: 100;
  white-space: pre-wrap;
}
.blankLine8 {
  white-space: pre-wrap;
  font-size: var(--font-size-3xs-6);
}
.blankLine8,
.weOfferA5 {
  margin-block-start: 0;
  margin-block-end: 1.45px;
}
.whatAreSomeContainer1 {
  flex: 1;
  position: relative;
  line-height: 14.47px;
}
.poppup41 {
  width: 447.6px;
  border-radius: 7.24px;
  background: linear-gradient(94.84deg, #0b2106, #7b6c09);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 19.29535484313965px;
  box-sizing: border-box;
  font-size: var(--font-size-4xs-7);
}
.faq41 {
  align-self: stretch;
  flex-direction: column;
  gap: 7.24px 0;
}
.faq41,
.faq51,
.faqs1,
.roundplus9 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.roundplus9 {
  border-radius: 14.47px;
  border: 1px solid var(--color-goldenrod-300);
  flex-direction: row;
  padding: 8.200526237487793px;
  gap: 0 4.82px;
}
.roundplus9:active .combinedShapeIcon5 {
  display: none;
}
.faq51:active .poppup21,
.roundplus9:active .rectangle16 {
  display: flex;
}
.faq51,
.faqs1 {
  align-self: stretch;
  flex-direction: column;
  gap: 7.24px 0;
}
.faqs1 {
  gap: 9.65px 0;
  text-align: left;
  font-size: var(--font-size-xs-6);
}
.faqframe1,
.ta {
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.faqframe1 {
  align-self: stretch;
  display: flex;
  justify-content: center;
  padding: 4.823838710784912px 192.95355224609375px;
  gap: 4.82px 0;
  z-index: 7;
  font-size: var(--font-size-3xs-2);
}
.ta {
  width: 833.4px;
  background-color: var(--color-darkolivegreen-600);
  display: none;
  justify-content: flex-start;
  padding: 28.94303321838379px 0;
  box-sizing: border-box;
  position: relative;
  gap: 9.65px;
  font-size: 19.3px;
}
.child,
.item {
  width: 138px;
  position: absolute;
  margin: 0 !important;
  height: 196.7px;
}
.child {
  top: 125.2px;
  left: 48.7px;
  object-fit: cover;
  z-index: 0;
}
.item {
  top: -104.8px;
  left: -45.1px;
  z-index: 1;
}
.outteam4,
.outteam5 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 3.303281545639038px;
  z-index: 2;
}
.outteam5 {
  z-index: 3;
  font-size: 5.6px;
  color: var(--color-goldenrod-300);
}
.inner {
  width: 138px;
  position: absolute;
  margin: 0 !important;
  top: 265.1px;
  left: 176.7px;
  height: 196.7px;
  z-index: 4;
}
.baseIcon6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5.12px;
  width: 52.3px;
  height: 61.6px;
  object-fit: cover;
}
.rectangle26 {
  border-radius: 5.12px;
  background-color: var(--color-darkslateblue);
  box-shadow: 0 4px 7.93px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(10.78px);
  border: 0.2px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block16,
.rectangle26 {
  position: absolute;
  top: 0;
  left: 0;
  width: 52.4px;
  height: 16.7px;
}
.snrTechnologyLead2,
.xoseAhlijahSwe2 {
  position: absolute;
  top: 0;
  left: calc(50% - 19.9px);
  letter-spacing: -0.01em;
  line-height: 6.61px;
  text-transform: capitalize;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 39.8px;
  height: 4.8px;
}
.snrTechnologyLead2 {
  top: 5.2px;
  left: calc(50% - 17.2px);
  font-size: var(--font-size-10xs);
  line-height: 4.95px;
  font-weight: 500;
  background: linear-gradient(89.38deg, #e3ef62, #a78f0c 73.18%, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 31px;
  height: 3.6px;
}
.xoseAhlijahSweContainer {
  position: absolute;
  top: 3.2px;
  left: calc(50% - 19.8px);
  width: 39.8px;
  height: 8.9px;
}
.block1Parent1 {
  position: absolute;
  top: 52px;
  left: 0;
  width: 52.4px;
  height: 16.7px;
}
.xorse2,
.xoseAhlijaTeam2 {
  width: 52.4px;
  height: 68.7px;
}
.xoseAhlijaTeam2 {
  position: absolute;
  top: 0;
  left: 0;
}
.xorse2 {
  position: relative;
}
.castro2:hover,
.xorse2:hover {
  animation: 2s ease 1s 1 normal none scale-up;
  opacity: 1;
}
.baseIcon7,
.block17,
.rectangle27 {
  position: absolute;
  left: 0;
  width: 63.3px;
}
.baseIcon7 {
  top: 0;
  border-radius: 4.95px;
  height: 71.6px;
  object-fit: cover;
}
.block17,
.rectangle27 {
  height: 19.8px;
}
.rectangle27 {
  top: 0;
  border-radius: 4.95px;
  background-color: var(--color-dimgray-200);
  box-shadow: 0 4px 7.93px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(10.78px);
  border: 0.2px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block17 {
  top: 62.3px;
}
.castroAntwiDanso2,
.generalManager2 {
  position: absolute;
  top: 0;
  left: calc(50% - 22.35px);
  letter-spacing: -0.01em;
  line-height: 6.61px;
  text-transform: capitalize;
  font-weight: 800;
  display: flex;
  align-items: center;
  width: 44.7px;
  height: 5.6px;
}
.generalManager2 {
  top: 4.9px;
  left: calc(50% - 12.95px);
  font-size: var(--font-size-10xs);
  line-height: 4.95px;
  font-weight: 500;
  background: linear-gradient(90.39deg, #dae924, rgba(240, 192, 39, 0.95));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 25.8px;
  height: 4.3px;
}
.castroAntwiDansoContainer {
  position: absolute;
  top: 66.6px;
  left: calc(50% - 21.75px);
  width: 44.7px;
  height: 9.2px;
}
.castro2 {
  width: 63.3px;
  position: relative;
  height: 82.1px;
}
.baseIcon8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4.95px;
  width: 55.5px;
  height: 59.9px;
  object-fit: cover;
}
.rectangle28 {
  border-radius: 4.95px;
  background-color: var(--color-darkslateblue);
  box-shadow: 0 4px 7.93px rgba(33, 12, 56, 0.16);
  backdrop-filter: blur(10.78px);
  border: 0.2px solid var(--color-gray-1400);
  box-sizing: border-box;
}
.block18,
.rectangle28 {
  position: absolute;
  top: 0;
  left: 0;
  width: 55.5px;
  height: 18.2px;
}
.dataAnalyst2,
.otisAApaloo2 {
  position: absolute;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.otisAApaloo2 {
  top: 0;
  left: calc(50% - 18.9px);
  line-height: 6.61px;
  font-weight: 800;
  width: 37.8px;
  height: 5.1px;
}
.dataAnalyst2 {
  top: 6px;
  left: 9.4px;
  font-size: var(--font-size-9xs-1);
  line-height: 4.95px;
  font-weight: 500;
  background: linear-gradient(88.74deg, #eed920, #f0c027);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 21.1px;
  height: 3.9px;
}
.otisAApalooContainer {
  position: absolute;
  top: 3.3px;
  left: calc(50% - 18.65px);
  width: 37.8px;
  height: 9.8px;
}
.block1Parent2 {
  position: absolute;
  top: 50.5px;
  left: 0;
  width: 55.5px;
  height: 18.2px;
}
.ottisApalooTeam2 {
  width: 55.6px;
  position: relative;
  height: 68.7px;
  font-size: var(--font-size-8xs-6);
}
.ottisApalooTeam2:hover {
  animation: 2s ease 0s 1 normal none scale-up;
  opacity: 1;
}
.cardgropupo2 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 49.54922103881836px;
  opacity: 1;
  z-index: 5;
  text-align: left;
  font-size: var(--font-size-8xs-1);
  font-family: var(--font-lexend-deca);
}
.cardgropupo2.animate {
  animation: 1s ease 0s 1 normal forwards scale-up;
}
.gradientmsgInner {
  width: 92.5px;
  position: relative;
  height: 71.1px;
  object-fit: cover;
}
.weSupportAgribusinessContainer2 {
  align-self: stretch;
  height: 24px;
  position: relative;
  letter-spacing: -0.02em;
  text-transform: capitalize;
  display: inline-block;
  opacity: 1;
}
.weSupportAgribusinessContainer2.animate {
  animation: 3s ease 0s 1 normal forwards scale-up;
}
.frameInner {
  width: 2.3px;
  position: relative;
  height: 0;
  cursor: pointer;
}
.vectorContainer {
  border: 0.5px solid var(--color-seagreen);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4.1291022300720215px 6.606563091278076px;
  gap: 0 1.65px;
  cursor: pointer;
  font-size: 2.5px;
}
.weSupportAgribusinessIndustContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 3.303281545639038px;
  gap: 8.26px 0;
}
.gradientmsg2,
.gradientmsgFrame {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.303281545639038px;
}
.gradientmsgFrame {
  background-color: var(--color-white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1.651640772819519px;
}
.base2 {
  width: 82.6px;
  position: relative;
  background-color: var(--color-goldenrod-300);
  height: 1.7px;
}
.cta2,
.faq9 {
  align-self: stretch;
}
.cta2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 9.909844398498535px 33.03281784057617px;
  z-index: 6;
  text-align: left;
  font-size: var(--font-size-6xs-3);
  color: var(--color-darkslategray-100);
  font-family: var(--font-lexend-deca);
}
.faq9 {
  position: relative;
  letter-spacing: 0.5px;
  line-height: 5.29px;
  text-transform: uppercase;
  color: var(--color-goldenrod-300);
}
.frequentlyAskedQueContainer2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xs-2);
  letter-spacing: -0.33px;
  line-height: 10.57px;
}
.allowsOrganizations2 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-9xs-3);
  line-height: 5.29px;
}
.frequently4 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2.48px 0;
}
.whatIsMean10 {
  width: 97.3px;
  position: relative;
  line-height: 5.29px;
  display: inline-block;
  flex-shrink: 0;
}
.combinedShapeIcon10,
.rectangle29 {
  width: 2.5px;
  position: relative;
  height: 2.5px;
}
.rectangle29 {
  background-color: var(--color-gainsboro-400);
  height: 0.5px;
  display: none;
}
.roundplus10,
.whereFrame10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.roundplus10 {
  border-radius: 4.95px;
  border: 0.3px solid var(--color-goldenrod-300);
  padding: 2.8077893257141113px;
  gap: 0 1.65px;
}
.roundplus10:active .combinedShapeIcon10 {
  display: none;
}
.faq13:active .poppup12,
.roundplus10:active .rectangle29 {
  display: flex;
}
.whereFrame10 {
  width: 153.2px;
}
.rectangle30 {
  align-self: stretch;
  position: relative;
  background-color: var(--color-goldenrod-300);
  height: 0.2px;
}
.blankLine10,
.whatDoesThe2 {
  margin-block-start: 0;
  margin-block-end: 0.5px;
}
.whatDoesThe2 {
  font-weight: 100;
}
.blankLine10 {
  font-size: var(--font-size-9xs-3);
}
.weOfferA6 {
  margin: 0;
  font-size: var(--font-size-10xs);
}
.whatDoesTheContainer2 {
  flex: 1;
  position: relative;
  line-height: 5.29px;
}
.poppup12 {
  width: 151.8px;
  border-radius: 2.48px;
  background: linear-gradient(94.84deg, #0b2106, #7b6c09);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6.606563091278076px;
  box-sizing: border-box;
  font-size: var(--font-size-8xs-6);
}
.faq13,
.roundplus11 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.faq13 {
  width: 153.2px;
  flex-direction: column;
  gap: 2.48px 0;
}
.roundplus11 {
  border-radius: 4.95px;
  border: 0.3px solid var(--color-goldenrod-300);
  flex-direction: row;
  padding: 2.8077893257141113px;
  gap: 0 1.65px;
}
.roundplus11:active .combinedShapeIcon10 {
  display: none;
}
.faq22:active .poppup22,
.roundplus11:active .rectangle29 {
  display: flex;
}
.poppup22,
.whatDoesThePlatformDo11 {
  width: 153.2px;
  flex-direction: row;
  align-items: center;
}
.whatDoesThePlatformDo11 {
  display: flex;
  justify-content: space-between;
}
.poppup22 {
  border-radius: 2.48px;
  background: linear-gradient(94.84deg, #0b2106, #7b6c09);
  display: none;
  justify-content: center;
  padding: 6.606563091278076px;
  box-sizing: border-box;
  font-size: var(--font-size-8xs-6);
}
.faq22 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2.48px 0;
}
.roundplus12 {
  border-radius: 4.95px;
  border: 0.3px solid var(--color-goldenrod-300);
  flex-direction: row;
  padding: 2.8077893257141113px;
  gap: 0 1.65px;
}
.roundplus12:active .combinedShapeIcon10 {
  display: none;
}
.faq32:active .poppup22,
.roundplus12:active .rectangle29 {
  display: flex;
}
.faq32,
.roundplus12,
.roundplus13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.faq32 {
  align-self: stretch;
  flex-direction: column;
  gap: 2.48px 0;
}
.roundplus13 {
  border-radius: 4.95px;
  border: 0.3px solid var(--color-goldenrod-300);
  flex-direction: row;
  padding: 2.8077893257141113px;
  gap: 0 1.65px;
}
.roundplus13:active .combinedShapeIcon10 {
  display: none;
}
.faq42:active .poppup42,
.roundplus13:active .rectangle29 {
  display: flex;
}
.whatAreSome2 {
  margin-block-start: 0;
  margin-block-end: 0.5px;
  font-size: var(--font-size-8xs-6);
  font-weight: 100;
  white-space: pre-wrap;
}
.blankLine13 {
  white-space: pre-wrap;
  font-size: var(--font-size-9xs-3);
}
.blankLine13,
.weOfferA8 {
  margin-block-start: 0;
  margin-block-end: 0.5px;
}
.whatAreSomeContainer2 {
  flex: 1;
  position: relative;
  line-height: 4.95px;
}
.poppup42 {
  width: 153.2px;
  border-radius: 2.48px;
  background: linear-gradient(94.84deg, #0b2106, #7b6c09);
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6.606563091278076px;
  box-sizing: border-box;
  font-size: var(--font-size-10xs);
}
.faq42 {
  align-self: stretch;
  flex-direction: column;
  gap: 2.48px 0;
}
.faq42,
.faq52,
.faqs2,
.roundplus14 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.roundplus14 {
  border-radius: 4.95px;
  border: 0.3px solid var(--color-goldenrod-300);
  flex-direction: row;
  padding: 2.8077893257141113px;
  gap: 0 1.65px;
}
.roundplus14:active .combinedShapeIcon10 {
  display: none;
}
.faq52:active .poppup22,
.roundplus14:active .rectangle29 {
  display: flex;
}
.faq52,
.faqs2 {
  align-self: stretch;
  flex-direction: column;
  gap: 2.48px 0;
}
.faqs2 {
  gap: 3.3px 0;
  text-align: left;
  font-size: var(--font-size-9xs);
}
.contactpage,
.div,
.faqframe2,
.outTeam {
  flex-direction: column;
  align-items: center;
}
.faqframe2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 1.651640772819519px 66.06563568115234px;
  gap: 1.65px 0;
  z-index: 7;
  font-size: var(--font-size-9xs-1);
}
.contactpage,
.div,
.outTeam {
  justify-content: flex-start;
}
.div {
  width: 291.7px;
  background-color: var(--color-darkolivegreen-600);
  overflow: hidden;
  display: none;
  padding: 9.909844398498535px 0;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-9xs-3);
  font-size: var(--font-size-6xs-6);
}
.contactpage,
.outTeam {
  width: 1440px;
  display: flex;
}
.contactpage {
  width: 100%;
  position: relative;
  background-color: var(--color-darkolivegreen-200);
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-8xl-8);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .frameParent {
    flex-direction: column;
  }
  .workwithframe {
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-mini) var(--padding-41xl);
    box-sizing: border-box;
  }
  .formsHero {
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .faq {
    display: none;
  }
  .faqframe {
    padding-left: var(--padding-221xl);
    padding-right: var(--padding-221xl);
    box-sizing: border-box;
  }
  .dktpTeamFaqCta {
    display: none;
  }
  .faqframe1 {
    padding-left: var(--padding-221xl);
    padding-right: var(--padding-221xl);
    box-sizing: border-box;
  }
  .ta {
    display: flex;
  }
  .faqframe2 {
    padding-left: var(--padding-221xl);
    padding-right: var(--padding-221xl);
    box-sizing: border-box;
  }
  .div {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .workwithframe {
    gap: var(--gap-0);
  }
  .div:hover,
  .dktpTeamFaqCta:hover,
  .faq,
  .ta:hover {
    display: none;
  }
  .faqframe,
  .faqframe1 {
    padding-left: var(--padding-121xl);
    padding-right: var(--padding-121xl);
    box-sizing: border-box;
  }
  .ta {
    display: flex;
  }
  .faqframe2 {
    padding-left: var(--padding-121xl);
    padding-right: var(--padding-121xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .frameParent {
    padding-top: var(--padding-xl);
    box-sizing: border-box;
  }
  .workwithframe {
    padding: var(--padding-6xl) var(--padding-xl);
    box-sizing: border-box;
  }
  .frequentlyAskedQueContainer {
    font-size: var(--font-size-26xl);
  }
  .faqframe {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .frequentlyAskedQueContainer1 {
    font-size: var(--font-size-26xl);
  }
  .faqframe1 {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .ta {
    display: none;
  }
  .frequentlyAskedQueContainer2 {
    font-size: var(--font-size-26xl);
  }
  .faqframe2 {
    padding-left: var(--padding-41xl);
    padding-right: var(--padding-41xl);
    box-sizing: border-box;
  }
  .div {
    display: flex;
  }
}
