@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-lexend-deca: "Lexend Deca";
  --font-montserrat: Montserrat;
  --font-inter: Inter;

  /* font sizes */
  --font-size-base: 16px;
  --font-size-xs: 12px;
  --font-size-lg: 18px;
  --font-size-4xl: 23px;
  --font-size-mini: 15px;
  --font-size-sm: 14px;
  --font-size-xl: 20px;
  --font-size-26xl: 45px;
  --font-size-15xl: 34px;
  --font-size-11xl: 30px;
  --font-size-7xl: 26px;
  --font-size-5xl: 24px;
  --font-size-8xs-3: 4.3px;
  --font-size-8xs-8: 4.8px;
  --font-size-6xs-7: 6.7px;
  --font-size-7xs-7: 5.7px;
  --font-size-sm-3: 13.3px;
  --font-size-8xs-5: 4.5px;
  --font-size-9xs-6: 3.6px;
  --font-size-4xs: 9px;
  --font-size-7xs-9: 5.9px;
  --font-size-4xs-1: 8.1px;
  --font-size-3xs-5: 9.5px;
  --font-size-smi-5: 12.5px;
  --font-size-sm-9: 13.9px;
  --font-size-lgi-4: 19.4px;
  --font-size-base-7: 16.7px;
  --font-size-19xl-9: 38.9px;
  --font-size-sm-2: 13.2px;
  --font-size-2xs-4: 10.4px;
  --font-size-7xl-4: 26.4px;
  --font-size-mid-4: 17.4px;
  --font-size-4xl-6: 23.6px;
  --font-size-8xl-8: 27.8px;
  --font-size-9xl: 28px;
  --font-size-37xl: 56px;
  --font-size-lgi: 19px;
  --font-size-19xl: 38px;
  --font-size-6xl: 25px;
  --font-size-21xl: 40px;
  --font-size-5xs-6: 7.6px;
  --font-size-mid: 17px;
  --font-size-3xl: 22px;
  --font-size-smi: 13px;
  --font-size-6xs-6: 6.6px;
  --font-size-17xl-9: 36.9px;
  --font-size-mini-6: 14.6px;
  --font-size-63xl: 82px;
  --font-size-lg-2: 18.2px;
  --font-size-82xl-7: 101.7px;
  --font-size-121xl: 140px;
  --font-size-101xl: 120px;
  --font-size-2xl-8: 21.8px;
  --font-size-10xs-9: 2.9px;
  --font-size-9xs-4: 3.4px;
  --font-size-5xs-5: 7.5px;
  --font-size-5xs-9: 7.9px;
  --font-size-2xs: 11px;
  --font-size-sm-4: 13.4px;
  --font-size-46xl: 65px;
  --font-size-3xs-7: 9.7px;
  --font-size-lgi-7: 19.7px;
  --font-size-7xs-4: 5.4px;
  --font-size-xs-5: 11.5px;
  --font-size-4xl-4: 23.4px;
  --font-size-6xs-5: 6.5px;
  --font-size-9xl-3: 28.3px;
  --font-size-4xs-2: 8.2px;
  --font-size-mid-5: 17.5px;
  --font-size-16xl-6: 35.6px;
  --font-size-xs-7: 11.7px;
  --font-size-6xl-1: 25.1px;
  --font-size-31xl-9: 50.9px;
  --font-size-81xl: 100px;
  --font-size-7xs-1: 5.1px;
  --font-size-13xl: 32px;
  --font-size-6xs-1: 6.1px;
  --font-size-16xl-7: 35.7px;
  --font-size-18xl: 37px;
  --font-size-mid-1: 17.1px;
  --font-size-5xl-7: 24.7px;
  --font-size-mini-8: 14.8px;
  --font-size-61xl: 80px;
  --font-size-51xl: 70px;
  --font-size-25xl: 44px;
  --font-size-5xl-1: 24.1px;
  --font-size-107xl-5: 126.5px;
  --font-size-53xl: 72px;
  --font-size-43xl: 62px;
  --font-size-41xl: 60px;
  --font-size-5xs: 8px;
  --font-size-smi-7: 12.7px;
  --font-size-3xs-3: 9.3px;
  --font-size-lg-7: 18.7px;
  --font-size-28xl: 47px;
  --font-size-mini-5: 14.5px;
  --font-size-24xl: 43px;
  --font-size-44xl: 63px;
  --font-size-36xl: 55px;
  --font-size-16xl: 35px;
  --font-size-59xl: 78px;

  /* Colors */
  --color-darkslategray-100: #003a2b;
  --color-darkslategray-200: #002a24;
  --color-darkslategray-300: #0a2804;
  --color-darkslategray-400: rgba(0, 58, 43, 0.8);
  --color-white: #fff;
  --color-darkgray-100: #baafaf;
  --color-darkgray-200: #bda7a7;
  --color-darkgray-300: #9599a3;
  --color-seagreen: #358f43;
  --color-goldenrod-100: #feca3a;
  --color-goldenrod-200: #f0c129;
  --color-goldenrod-300: #f0c024;
  --color-goldenrod-400: #c9a223;
  --color-goldenrod-500: rgba(240, 192, 36, 0.7);
  --color-goldenrod-600: rgba(240, 192, 36, 0.6);
  --color-goldenrod-700: rgba(240, 192, 36, 0.8);
  --color-whitesmoke-100: #f5f5f5;
  --color-whitesmoke-200: #ececec;
  --color-whitesmoke-300: #e2ebe2;
  --color-darkolivegreen-100: #5b4707;
  --color-darkolivegreen-200: #13340c;
  --color-darkolivegreen-300: #0c3305;
  --color-darkolivegreen-400: #05310c;
  --color-darkolivegreen-500: #05310b;
  --color-darkolivegreen-600: #0b2e04;
  --color-darkolivegreen-700: rgba(19, 52, 12, 0.8);
  --color-gainsboro-100: #e4e4e4;
  --color-gainsboro-200: #dedddd;
  --color-gainsboro-300: #d9d9d9;
  --color-gainsboro-400: #d8d8d8;
  --color-darkslateblue: rgba(48, 57, 99, 0.24);
  --color-gray-100: #fffdfd;
  --color-gray-200: #fcfcfc;
  --color-gray-300: #7d7c7c;
  --color-gray-400: #172310;
  --color-gray-500: #0d1801;
  --color-gray-600: #061802;
  --color-gray-700: rgba(0, 0, 0, 0.1);
  --color-gray-800: rgba(125, 124, 124, 0.6);
  --color-gray-900: rgba(255, 255, 255, 0.2);
  --color-gray-1000: rgba(5, 5, 5, 0.2);
  --color-gray-1100: rgba(255, 255, 255, 0.1);
  --color-gray-1200: rgba(5, 5, 5, 0.06);
  --color-gray-1300: rgba(33, 33, 34, 0.8);
  --color-gray-1400: rgba(255, 255, 255, 0.16);
  --color-dimgray-100: #515151;
  --color-dimgray-200: rgba(103, 72, 64, 0.24);
  --color-black: #000;
  --color-darkgreen-100: #1d7826;
  --color-darkgreen-200: #176610;
  --color-sandybrown: #ffa247;
  --color-olivedrab-100: #9eb032;
  --color-yellowgreen-100: #c3db33;
  --color-yellowgreen-200: #bbd432;
  --color-darkseagreen-100: #c3e8b7;
  --color-darkseagreen-200: #c3e7b6;
  --color-forestgreen: rgba(79, 148, 62, 0.6);
  --color-darkgoldenrod: rgba(179, 152, 12, 0.8);
  --color-firebrick: #c10202;

  /* Gaps */
  --gap-0: 0px;
  --gap-11xl: 30px;
  --gap-3xs: 10px;
  --gap-21xl: 40px;
  --gap-10xs: 3px;
  --gap-6xs: 7px;
  --gap-15xl: 34px;
  --gap-smi: 13px;
  --gap-9xs: 4px;
  --gap-5xs: 8px;
  --gap-8xs-8: 4.8px;
  --gap-10xs-4: 2.4px;
  --gap-9xs-6: 3.6px;
  --gap-xs-9: 11.9px;
  --gap-sm-9: 13.9px;
  --gap-2xs-4: 10.4px;
  --gap-15xl-7: 34.7px;
  --gap-xl: 20px;
  --gap-mini: 15px;
  --gap-31xl: 50px;
  --gap-16xl: 35px;
  --gap-23xl: 42px;
  --gap-33xl: 52px;
  --gap-4xs-4: 8.4px;
  --gap-9xl-3: 28.3px;
  --gap-7xs-2: 5.2px;
  --gap-6xs-1: 6.1px;
  --gap-5xs-4: 7.4px;
  --gap-3xs-3: 9.3px;
  --gap-sm-3: 13.3px;
  --gap-81xl: 100px;
  --gap-57xl: 76px;
  --gap-29xl: 48px;
  --gap-8xs: 5px;
  --gap-26xl: 45px;
  --gap-6xl: 25px;
  --gap-2xl: 21px;
  --gap-lgi: 19px;
  --gap-4xs-6: 8.6px;
  --gap-xs-5: 11.5px;
  --gap-41xl: 60px;
  --gap-3xl: 22px;
  --gap-7xs: 6px;
  --gap-51xl: 70px;
  --gap-10xl: 29px;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-211xl: 230px;
  --padding-101xl: 120px;
  --padding-97xl: 116px;
  --padding-8xs: 5px;
  --padding-281xl: 300px;
  --padding-11xl: 30px;
  --padding-61xl: 80px;
  --padding-21xl: 40px;
  --padding-lgi-9: 19.9px;
  --padding-mid-4: 17.4px;
  --padding-5xl-9: 24.9px;
  --padding-xl: 20px;
  --padding-6xl: 25px;
  --padding-30xl-9: 49.9px;
  --padding-mini: 15px;
  --padding-7xs: 6px;
  --padding-7xl: 26px;
  --padding-mini-3: 14.3px;
  --padding-10xs-4: 2.4px;
  --padding-76xl-1: 95.1px;
  --padding-221xl: 240px;
  --padding-121xl: 140px;
  --padding-41xl: 60px;
  --padding-3xs-5: 9.5px;
  --padding-9xs: 4px;
  --padding-28xl-6: 47.6px;
  --padding-8xs-8: 4.8px;
  --padding-7xs-9: 5.9px;
  --padding-52xl-3: 71.3px;
  --padding-22xl-7: 41.7px;
  --padding-6xs-9: 6.9px;
  --padding-258xl-8: 277.8px;
  --padding-8xl-8: 27.8px;
  --padding-xs-8: 11.8px;
  --padding-119xl-9: 138.9px;
  --padding-sm-9: 13.9px;
  --padding-189xl-4: 208.4px;
  --padding-381xl: 400px;
  --padding-mid: 17px;
  --padding-181xl: 200px;
  --padding-2xl-1: 21.1px;
  --padding-33xl-7: 52.7px;
  --padding-27xl-9: 46.9px;
  --padding-98xl-2: 117.2px;
  --padding-39xl-1: 58.1px;
  --padding-126xl-2: 145.2px;
  --padding-11xs-7: 1.7px;
  --padding-11xs: 2px;
  --padding-9xs-9: 3.9px;
  --padding-5xs-1: 7.1px;
  --padding-256xl: 275px;
  --padding-45xl: 64px;
  --padding-81xl: 100px;
  --padding-100xl: 119px;
  --padding-4xs-2: 8.2px;
  --padding-131xl: 150px;
  --padding-71xl: 90px;
  --padding-3xl-3: 22.3px;
  --padding-9xl-1: 28.1px;
  --padding-21xl-7: 40.7px;
  --padding-sm: 14px;
  --padding-xs: 12px;
  --padding-16xl: 35px;
  --padding-17xl: 36px;
  --padding-19xl: 38px;
  --padding-4xs: 9px;
  --padding-11xl-1: 30.1px;
  --padding-41xl-2: 60.2px;
  --padding-31xl: 50px;
  --padding-4xs-4: 8.4px;
  --padding-180xl: 199px;
  --padding-141xl: 160px;
  --padding-44xl: 63px;
  --padding-201xl: 220px;
  --padding-3xs-1: 9.1px;
  --padding-5xl-5: 24.5px;
  --padding-base-4: 15.4px;
  --padding-24xl: 43px;
  --padding-lgi: 19px;
  --padding-lg: 18px;
  --padding-base: 16px;
  --padding-8xl: 27px;
  --padding-23xl: 42px;
  --padding-231xl: 250px;
  --padding-5xl-3: 24.3px;
  --padding-4xs-1: 8.1px;
  --padding-46xl-6: 65.6px;
  --padding-7xs-5: 5.5px;
  --padding-26xl: 45px;
  --padding-42xl-8: 61.8px;
  --padding-xl-6: 20.6px;
  --padding-42xl: 61px;

  /* Border radiuses */
  --br-21xl-4: 40.4px;
  --br-39xl-3: 58.3px;
  --br-17xl-9: 36.9px;
  --br-12xl-9: 31.9px;
  --br-21xl-5: 40.5px;
  --br-9xs-6: 3.6px;
  --br-5xs-1: 7.1px;
  --br-5xs-4: 7.4px;
  --br-2xs-4: 10.4px;
  --br-xl-8: 20.8px;
  --br-2xl-5: 21.5px;
  --br-mini: 15px;
  --br-11xl: 30px;
  --br-12xl: 31px;
  --br-xl: 20px;
  --br-5xs: 8px;
  --br-3xs: 10px;
  --br-21xl: 40px;
  --br-31xl: 50px;
  --br-359xl-4: 378.4px;
  --br-29xl-9: 48.9px;
  --br-29xl: 48px;
  --br-8xl-2: 27.2px;
  --br-18xl: 37px;
  --br-6xl: 25px;
  --br-3xl: 22px;
  --br-10xl: 29px;
  --br-base-1: 16.1px;
  --br-21xl-8: 40.8px;
}
