.bgBlurIcon {
  width: 340.8px;
  position: absolute;
  margin: 0 !important;
  top: -147.4px;
  left: 215.3px;
  height: 510.5px;
  z-index: 0;
}
.empowering {
  font-weight: 300;
}
.farmers {
  font-weight: 800;
}
.empoweringFarmersAndContainer {
  flex: 1;
  position: relative;
  letter-spacing: 0.04em;
  line-height: 111%;
}
.empoweringFarmersAndUnlockWrapper {
  align-self: stretch;
  filter: drop-shadow(0 1.8px 4.47px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4.466166973114014px;
  z-index: 1;
}
.aRevolutionaryDigital {
  width: 362.7px;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 0 1.8px 2.68px rgba(0, 0, 0, 0.25);
}
.aRevolutionaryDigitalInnoWrapper {
  width: 389.6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 53.59400177001953px;
  box-sizing: border-box;
  z-index: 2;
  font-size: var(--font-size-xs-4);
}
.scrollDownChild {
  width: 7.7px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-goldenrod-300);
  height: 7.7px;
}
.bgBlurParent,
.scrollDown {
  display: flex;
  align-items: center;
}
.scrollDown {
  border-radius: 13.11px;
  border: 1.2px solid var(--color-goldenrod-300);
  box-sizing: border-box;
  height: 47.5px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  padding: 19.865671157836914px 6.621891021728516px;
  z-index: 3;
}
.bgBlurParent {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  gap: 12.25px 0;
}
.allherops960 {
  width: 784.1px;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 40.8394775390625px 65.3431625366211px;
  box-sizing: border-box;
  background-image: url(/allherops960@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.empowering1 {
  margin-block-start: 0;
  margin-block-end: 3.62px;
  font-weight: 300;
}
.span1 {
  font-weight: 300;
  font-family: var(--font-poppins);
}
.farmers1 {
  margin-block-start: 0;
  margin-block-end: 3.62px;
}
.andUnlockingGhanasAgricult {
  margin: 0;
}
.empoweringFarmersAndUnlockContainer {
  align-self: stretch;
  filter: drop-shadow(0 1.8px 4.47px rgba(0, 0, 0, 0.25));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 4.466166973114014px 12.251843452453613px;
  z-index: 1;
}
.aRevolutionaryDigital1 {
  width: 223.8px;
  position: relative;
  letter-spacing: 0.4px;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  text-shadow: 0 1.8px 2.68px rgba(0, 0, 0, 0.25);
}
.aRevolutionaryDigitalInnoContainer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 53.59400177001953px;
  z-index: 2;
  font-size: 9.8px;
}
.allherops,
.allherops420 {
  flex-direction: column;
  justify-content: center;
}
.allherops420 {
  width: 343.1px;
  overflow: hidden;
  display: none;
  align-items: center;
  padding: 24.503686904907227px 32.67158126831055px 32.67158126831055px;
  box-sizing: border-box;
  background-image: url(/allherops420@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: 19.6px;
}
.allherops {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  text-align: center;
  font-size: 32.2px;
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.frame1082 {
  flex: 1;
  position: relative;
  border-radius: 12.25px;
  max-width: 100%;
  overflow: hidden;
  height: 578.3px;
  object-fit: cover;
}
.subsidy {
  font-family: var(--font-poppins);
}
.p {
  margin: 0;
  font-weight: 200;
}
.subsidyProgram {
  font-size: var(--font-size-32xl-5);
  line-height: 96.75%;
}
.subsidyProgram,
.theSubsidyIs {
  align-self: stretch;
  position: relative;
}
.subsidyProgramParent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16.34px 0;
}
.climate,
.frame1082Parent {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.frame1082Parent {
  flex-direction: row;
  justify-content: center;
  padding: 16.335790634155273px 0;
  gap: 57.18px;
}
.climate {
  background-color: var(--color-darkolivegreen-600);
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 179.69371032714844px;
  color: var(--color-white);
}
.span2 {
  font-weight: 200;
  font-family: var(--font-poppins);
}
.farmerKyc {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-32xl-5);
  line-height: 96.75%;
  color: var(--color-darkolivegreen-600);
}
.climate1,
.productServices {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.climate1 {
  align-self: stretch;
  background-color: var(--color-goldenrod-300);
  padding: 0 179.69371032714844px;
}
.productServices {
  width: 100%;
  position: relative;
  background-color: var(--color-darkslategray-300);
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-mini-7);
  color: var(--color-darkslategray-100);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .empoweringFarmersAndContainer {
    font-size: var(--font-size-46xl);
  }
  .allherops960 {
    display: none;
  }
  .frame1082 {
    height: 600px;
  }
  .climate,
  .climate1 {
    padding-left: var(--padding-71xl);
    padding-right: var(--padding-71xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 960px) {
  .allherops960 {
    display: flex;
    padding: var(--padding-21xl) 70px;
    box-sizing: border-box;
  }
  .frame1082 {
    height: 400px;
    flex: unset;
    align-self: stretch;
  }
  .subsidyProgram {
    font-size: var(--font-size-36xl);
  }
  .subsidyProgramParent {
    flex: unset;
    align-self: stretch;
  }
  .frame1082Parent {
    flex-direction: column;
  }
  .climate {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .farmerKyc {
    font-size: var(--font-size-36xl);
  }
  .climate1 {
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .allherops960 {
    display: none;
  }
  .allherops420,
  .frame1082 {
    display: flex;
  }
  .frame1082 {
    height: 200px;
  }
  .subsidyProgram {
    font-size: var(--font-size-16xl);
    display: flex;
  }
  .theSubsidyIs {
    font-size: var(--font-size-base);
    display: flex;
  }
  .subsidyProgramParent {
    display: flex;
  }
  .frame1082Parent {
    display: flex;
    gap: 57.18px;
  }
  .climate {
    display: flex;
    padding: var(--padding-11xl) var(--padding-21xl);
    box-sizing: border-box;
  }
  .farmerKyc {
    font-size: var(--font-size-16xl);
    display: flex;
  }
  .climate1 {
    display: flex;
    padding: var(--padding-11xl) var(--padding-21xl);
    box-sizing: border-box;
  }
}
